<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->

    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4.0, minimum-scale=1, user-scalable=yes" >-->

    <meta name="description"
        content="PMWay (Project and Process Management Way):  The Essence of Traditional and Agile Project Management Process Improvement to help you projectize your business for Capability Maturity Level 2+">
    <meta name="keywords"
        content="consulting, project management, Project Management Way, scrum, PMBOK, SBOK, itil, Scrumbok, jira, confluence, safe, scaled agile framework">

    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/bootstrapfourfivetwo/css/bootstrap.css" />
    <!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="bootstrapfourfivetwo/fontawesomepro5.13.0web/css/fontawesome-min.css">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrapfourthreeone/fontawesomeprowebfivetwo/css/all.css">
    <link rel="stylesheet" href="/bootstrapfourthreeone/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                {% if user %}
                <!--	<li class="nav-item">
									<a class="nav-link" href="/home/about" title="Why PMWay"><i class="fa fa-info"></i>&nbsp;</a>-->

                <!--<li class="nav-item">
									<a class="nav-link" href="/pmwaysandbox/sandbox.php"  title="The PMWay Sandbox to present and discuss ideas"><i class="fa fa-play"></i>&nbsp;Sandbox</a>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/home/about" title="Why PMWay?"><i class="fa fa-info"></i>&nbsp;&nbsp;</a>-->
<!--                </li class="nav-item">-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/search/search" title="Search"><i class="fa fa-search"-->
<!--                            aria-hidden="true"></i>&nbsp;&nbsp;</a>-->
<!--                </li class="nav-item">-->

                <!--<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i
								class="fa fa-envelope" aria-hidden="true"></i> <i class="fab fa-blogger" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
						<a class="dropdown-item" href="/home/about" title="Why PMWay"><i class="fa fa-info"></i>&nbsp;Why PMWay?</a>-->
                <!--<a class="dropdown-item" href="/pmwaysandbox/sandbox.php"  title="The PMWay Sandbox to present and discuss ideas"><i class="fa fa-play"></i>&nbsp;Sandbox</a>-->
                <!--<a class="dropdown-item" href="/blog/index.php"><i class="fab fa-blogger" aria-hidden="true"></i>&nbsp;Blog</a>-->

                <!--<a class="dropdown-item" href="/search/search" title="Search PMWay"><i class="fa fa-search"
								aria-hidden="true"></i>&nbsp;Search</a>-->
                <!--<a class="dropdown-item" href="/blog/contactpmway.php"
							title="Contact PMWay.  YOu can also use this form to Register with PMWay."><i
								class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact</a>
								<a class="dropdown-item" href="/blogger/Blog.php"><i class="fab fa-blogger" aria-hidden="true"></i>&nbsp;Blog</a>

					</div>

				</li class="nav-item">-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/contacts/new">-->
<!--                        <i class="fa fa-envelope" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                </li class="nav-item">-->

                <!--    <li class="nav-item">
                    <a class="nav-link" href="/blogger/Blog.php" title="PMWay's Blog">
                        <i class="far fa-lightbulb"></i></a>

                </li class="nav-item">-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"-->
<!--                        aria-haspopup="true" aria-expanded="false">-->
<!--                        <i class="fa fa-cogs"></i>-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">-->
<!--                        <a class="dropdown-item" href="/home/pmbokprocessnutshell"-->
<!--                            title="Find out how to use the PMBok Dashboard"><i class="fa fa-cogs"></i>&nbsp;HowTo-->
<!--                        </a>-->

<!--                        <a class="dropdown-item" href="/home/agile" title="Want an overview of Lean and Agile"><i-->
<!--                                class="fa fa-cogs"></i>&nbsp;Agile</a>-->
<!--&lt;!&ndash;                        <a class="dropdown-item" href="/home/carousel"&ndash;&gt;-->
<!--&lt;!&ndash;                            title="See the PMBOK in the Greater Scheme by Connecting the Dots here"><i&ndash;&gt;-->
<!--&lt;!&ndash;                                class="fa fa-cogs"></i>&nbsp;TheDots</a>&ndash;&gt;-->

<!--                    </div>-->

<!--                </li class="nav-item">-->

                <!--

					<li class="nav-item">
					<a class="nav-link" href="/home/agile" title="Lean and Agile?"><i
							class="fa fa-cogs"></i>&nbsp;Agile</a>
				</li class="nav-item">
				<li class="nav-item">
					<a class="nav-link" href="/home/pmbokprocessnutshell" title="How To use the PMBok Dashboard"><i
							class="fa fa-cogs"></i>&nbsp;How To
					</a> -->

                <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cogs"></i>&nbsp;PMWays
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/home/pmbokprocessnutshell"><i class="fa fa-cogs"></i>&nbsp;PMBOK Dashboard "How To"</a>
              <a class="dropdown-item" href="/home/intwomins"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;PMWay (in2minutes)</a>
               <a class="dropdown-item" href="/home/intenmins"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;PMWay (in10minutes)</a>  -->

                <!--<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-lock"></i>&nbsp;Logout

									</a>
									<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
										<a class="dropdown-item" href="/logout">
											<i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Logout
										</a>
											<a class="dropdown-item" href="/logoutb">
											<i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;ticked
											<br>remember?
											</a>-->
                <!--<li class="nav-item"><a class="nav-link" href="/home/pmbokprocessnutshell"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;PMBOK 'How To'</a>
												</li class="nav-item">-->

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/profile/show" title="Change your Profile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </li class="nav-item">
                <!--<li class="nav-item"><a class="nav-link" href="/logout" title="Logout of PMWay"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Log out</a></li class="nav-item">-->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-lock"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/logout">
                            <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Logout
                        </a>
                        <a class="dropdown-item" href="/remember/logout">
                            <i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;Remember Me
                            <br>

                        </a> --> -->

                {% endif %} {% if not user %}

                <!--NB trying to get Contact and Blog to work-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/home/about" title="Why PMWay?"><i class="fa fa-info"></i></a>-->
<!--                </li class="nav-item">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/home/agile" title="Lean and Agile?"><i class="fa fa-cogs"></i></a>-->
<!--                </li class="nav-item">-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/contacts/new">-->
<!--                        <i class="fa fa-envelope" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                </li class="nav-item">-->

                <!--<li class="nav-item">
					<a class="nav-link" href="/blogger/Blog.php" title="PMWay's Blog">
						<i class="fab fa-blogger" aria-hidden="true"></i></a>

				</li class="nav-item">-->

                <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp;Contact | Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                              <a class="dropdown-item" href="/blog/contactpmway.php"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact</a>
                              <a class="dropdown-item" href="/blog/Blog.php"><i class="fab fa-blogger" aria-hidden="true"></i>&nbsp;Blog</a>

				<!--<li class="nav-item">
									<a class="nav-link" href="/contact">
										<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact
									</a>
								</li class="nav-item">  ---NB trying to get Contact and Blog working-->
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/register" id="register" title="Register">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </a>
                </li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="/login" id="login" title="Login">
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                    </a>
                </li class="nav-item"> -->

                {% endif %}

        </div>
    </nav>

    {% for message in flash_messages %}

    <div style="text-align:center" class="alert alert-{{ message.type }}">
        {{ message.body }}
    </div>
    {% endfor %} {% block body %}

    <div class="container" style="text-align:center">

        {% endblock %}

    </div>

    {% if user %}

    {% endif %}

    <!--<script src="/bootstrapfourthreeone/js/jquery.js"></script>
	<script src="/bootstrapfourthreeone/js/bootstrap.js"></script>

	<script src="/bootstrapfourthreeone/js/popper.min.js"></script>
	<script src="/bootstrapfourthreeone/js/jquery-ui.js"></script>-->

    <script src="/bootstrapfouroneone/jquery/jquery.js"></script>
    <script src="/bootstrapfouroneone/js/bootstrap.js"></script>

    <script src="/bootstrapfouroneone/js/popper.min.js"></script>
    <script src="/bootstrapfouroneone/jqueryui/jquery-ui.js"></script>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h5 class="modal-title text-sm-left" id="contactModalTitle">
                                    <a href="#">Login</a>
                                </h5>
                            </td>
                            <!--<td><h5 class="modal-title text-sm-right align-bottom"><a href="/register" role="button"><small>Register</small></a></h5></td><td><button class="close" data-dismiss="modal"><span>&times;</span></button></td>-->
                        </tr>
                    </table>
                </div>
                <div class="modal-body">
                    <form action="/login/create" method="post" role="form" style="display: block; ">
                        <div class="form-group">
                            <input type="text" name="email" id="email" tabindex="1"
                                class="form-control bg-light border border-primary rounded" placeholder="Email"
                                autofocus required>
                        </div>
                        <div class="form-group">
                            <p style="text-align:left">
                                <font color="navy">
                                    <input type="password" name="password" id="login-password" tabindex="2"
                                        class="form-control bg-light border border-primary rounded"
                                        placeholder="Password" required>
                                </font>
                            </p>
                        </div>
                        <div class="form-group text-center">
                            <p style="text-align:left">
                                <font color="navy">
                                    <label>
                                        <input type="checkbox" name="remember_me" id="remember"> Remember Me </label>
                                </font>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p style="text-align:left">
                                        <font color="navy">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                class="form-control text-white btn btn-login bg-primary border border-primary rounded"
                                                value="Log In">
                                        </font>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <p style="text-align:left">
                                            <font color="navy">
                                                <a href="/password/forgot" tabindex="5" class="forgot-password">Forgot
                                                    Password?</a>
                                            </font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="text-align:left">
                        <font color="navy">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </font>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contactModalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h5 class="modal-title text-sm-left" id="contactModalTitle">
                                    <a href="#">Register</a>
                                </h5>
                            </td>
                            <!--<td><h5 class="modal-title text-sm-right align-bottom"><a href="/login" role="button"><small>Login</small></a></h5></td><td><button class="close" data-dismiss="modal"><span>&times;</span></button></td>-->
                        </tr>
                    </table>
                </div>
                <div class="modal-body">
                    <form method="post" action="/signup/create" id="formSignup">
                        <div class="form-group">
                            <p style="text-align:left">
                                <label for="inputName">
                                    <font color="navy">Name</font>
                                </label>
                                <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}"
                                    required class="form-control" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p style="text-align:left">
                                <font color="navy">
                                    <label for="inputEmail">Email address</label>
                                    <input id="inputEmail" name="email" placeholder="email address"
                                        value="{{ user.email }}" required type="email" class="form-control" />
                                </font>
                            </p>
                        </div>
                        <div class="form-group">
                            <p style="text-align:left">
                                <font color="navy">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" name="password" placeholder="Password"
                                        required class="form-control" />
                                </font>
                            </p>
                        </div>
                        <p style="text-align:left">
                            <font color="navy">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </font>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="text-align:left">
                        <font color="navy">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </font>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("a#login").on("click", function (e) {
            e.preventDefault();
            $('#contactModal').modal('show');
        });
    </script>
    <script>
        $("a#register").on("click", function (e) {
            e.preventDefault();
            $('#contactModalRegister').modal('show');
        });
    </script>



</body>

{% block footer %}
<!----    <br>
	<br>
	<br>
	<br>
	<div class="footer-social my-5">
	<div class="container">
<div class="d-flex justify-content-center">
</div>
</div>
</div>
<div class="footer-main py-2" style="background-color: #040404;">
<!--<div class="footer-main bg-dark py-2">-->
<!----<div class="container">
<div class="row">
            <div class="col-md-6"><p style="text-align:center" class="text-white" >Project &amp; Process Management Excellence
            <br>@ CM Level 2+</p>
</div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end text-white">2009 PMWay.co.za</div>
        </div>
</div>
</div>

    <!--
    <footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
              <!--  <h5>Footer</h5>--><!-----</div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6"><p style="text-align:center" class="text-white" >The Nylon String Guitar
            <br>Your best friend for life</p>
</div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2009 UpGuitarHill.com</div>
        </div>
    </div>
</footer>----->

<!--</html>-->
<!-- <style>


         .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: #040404;
            z-index: 100;
            color: white;
            text-align: center;
        }
    </style>
    <br>
    <br>
    <br>

    <div class="footer z-index: 1;">

        <p style="text-align:center">Project &amp; Process Management Excellence
            <br>@ CM Level 2+</p>
    </div>-->

{% endblock %}


</html>>
