{% extends 'base.html' %} {% block title %} {% if not current_user
%}PMWay{% endif %} {% if current_user %}Art of Scrum{% endif %} {% endblock %}
{% block body %} {% if current_user %}
<div class="container"  ><h5 id="F1F"  >Agile / Scrum Books</h5>
<table>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/killthescrummonster.pdf"  >Ilya Bibik - How to Kill the Scrum Monster_ Quick Start to Agile Scrum Methodology and the Scrum Master Role-Apress (2018).pdf</a></td>
	<td>20 MB</td></tr>


<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/scrumfordummies2018.pdf"  >Scrum For Dummies 2018.pdf</a></td>
	<td>20 MB</td></tr>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/MattLeMayAgileforEverybodyCreatingFastFlexibleandCustomerFirstOrganizations2019.pdf"  >Matt LeMay Agile for Everybody 2019.pdf</a></td>
	<td>20 MB</td></tr>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/AgileSoftwareRequirements.pdf"  >Agile Software Requirements.pdf</a></td>
	<td>20 MB</td></tr>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/AgileforProjectManagers.pdf"  >Agile for Project Managers.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/AgileInnovationTheRevolutionaryApproachtoAccelerateSuccessInspireEngagementandIgniteCreativity.pdf"  >Agile Innovation: The Revolutionary Approach to Accelerate Success Inspire Engagementand Ignite Creativity.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/AgileProcessesinSoftwareEngineeringandExtremeProgramming.pdf"  >Agile Processes in Software Engineering and Extreme Programming.pdf</a></td>
	<td>14 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/AgileProcessesinSoftwareEngineeringandExtremeProgrammingTenthInternationalConference.pdf"  >Agile Processes in Software Engineering and Extreme Programming Tenth International Conference.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/AgilityCompetingandWinninginaTechSavvyMarketplace.pdf"  >Agility Competing and Winningina Tech Savvy Marketplace.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/Devopschocolate.pdf"  >Dev Ops
	Chocolate.pdf</a></td><td>8 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/FromtheToolsoftheToyotaProductionSystemtoLeanOffice.pdf"  >From the Tools of the Toyota Production System to Lean Office.pdf</a></td>
	<td>4 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/GreatBigAgileAnOSforAgileLeaders.pdf"  >Great Big Agile: An OS for Agile Leaders.pdf</a></td>
	<td>13 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/HowtoKilltheScrumMonster.pdf"  >How to Kill the Scrum Monster.pdf</a></td>
	<td>13 MB</td></tr>
	<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/scrumfordummies.pdf"  >Scrum for Dummies 2018</a></td>
	<td>20 MB</td></tr>
		<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/thenexusframeworkforscalingscrum2017.pdf"  >Kurt Bittner, Patricia Kong, Dave West&nbsp; The Nexus Framework for Scaling ScrumContinuously Delivering an Integrated Product with Multiple Scrum Teams 2017</a></td>
	<td>4 MB</td></tr>
	<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/dyernoahsuccessfulscrumbutt2016.pdf"  >Dyer, Noah - Successful ScrumButt Learn to Modify Scrum Project Management for Student and Virtual Teams 2016</a></td>
	<td>5.72 MB</td></tr>
		<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/agilenovicetoninja.pdf"  >M. David Green - Scrum Novice to Ninja Methods for Agile, Powerful Development SitePoint (2016).pdf</a></td>
	<td>21 MB</td></tr>
	<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/navigatinghybridscrumenvironments2019.pdf"  >Navigating Hybrid Scrum Environments Understanding the Essentials,
Avoiding the Pitfalls</a></td>
	<td>1.6 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/headfirstagile.pdf"  >ACP Head First Agile.pdf</a></td>
	<td>55 MB</td></tr>

	<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/pmiacpapres2016.pdf"  >ACP Apres 2016.pdf</a></td>
	<td>12 MB</td></tr>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/pmiacpsybex2018.pdf"  >ACP Sybex 2018.pdf</a></td>
	<td>10 MB</td></tr>



<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/JIRAAgileEssentialsBringthepowerofAgiletoAtlassianJIRAandrunyourprojectsefficientlywithScrumandKanban.pdf"  >JIRA Agile Essentials Bring the power of Agile to Atlassian JIRA and run your projects efficiently with Scrum and Kanban.pdf</a></td>
	<td>23 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/JIRAEssentialsThirdEditionUsethefeaturesofJIRAtomanageprojectsandeffectivelyhandlebugsandsoftwareissues.pdf"  >JIRA Essentials Third Edition Use the features of JIRA to manage projects and effectively handle bugs and software issues.pdf</a></td>
	<td>16 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/JiraSevenAdministrationCookbook.pdf"  >Jira Seven Administration Cookbook.pdf</a></td>
	<td>21 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/LeanIntegrationAnIntegrationFactoryApproachtoBusinessAgility.pdf"  >Lean Integration: An Integration Factory Approach to Business Agility.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/LearningAgileUnderstandingScrumXPLeanandKanban.pdf"  >Learning Agile Understanding Scrum XP Lean and Kanban.pdf</a></td>
	<td>44 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/MakingSenseofAgileProjectManagementBalancingControlandAgility.pdf"  >Making Sense of Agile Project Management: Balancing Control and Agility.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/MasteringJIRAGainexpertiseintrackingprojectissuesandmanagingthemefficientlyusingJIRA.pdf"  >Mastering JIRA Gain expertise in tracking project issues and managing them efficiently using JIRA.pdf</a></td>
	<td>7 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/MasteringJiraSeven.pdf"  >Mastering Jira Seven.pdf</a></td>
	<td>15 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/NavigatingHybridScrumEnvironments.pdf"  >Navigating Hybrid Scrum Environments.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ProjectmanagementbeyondWaterfallandAgileCRCPress.pdf"  >Project management beyond Waterfall and Agile.pdf</a></td>
	<td>10 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ProjectManagementInstituteAgilePracticeGuide.pdf"  >Project Management Institute: Agile Practice Guide.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ProjectRiskManagementAPracticalImplementationApproachPMI.pdf"  >Project Risk Management: A Practical Implementation Approach PMI.pdf</a></td>
	<td>7 MB</td></tr>

<td>7 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/SAFeFourFiveDistilledApplyingtheScaledAgileFrameworkforLeanSoftwareandSystemsEngineering.pdf"  >SAFe
	4.5 Distilled Applying the Scaled Agile Framework for Lean Software and Systems Engineering.pdf</a></td>
	<td>22 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/SAFeFourDistilledApplyingtheScaledAgileFrameworkforLeanSoftwareandSystemsEngineering.pdf"  >SAFe
	4 Distilled Applying the Scaled Agile Framework for Lean Software and Systems Engineering.pdf</a></td>
	<td>22 MB</td></tr>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/sbok.pdf"  >ScrumBOK.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ScalingSoftwareAgilityBestPracticesforLargeEnterprises.pdf"  >Scaling Software Agility: Best Practices for Large Enterprises.pdf</a></td>
	<td>34 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ScrumaBreathtakinglyBriefandAgileIntroduction.pdf"  >Scruma Breathtakingly Brief and Agile Introduction.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ScrumandXPfromtheTrenchesHowwedoScrum.pdf"  >Scrum and XP from the Trenches: How we do Scrum.pdf</a></td>
	<td>9 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/scrumpm.pdf"  >ScrumPM.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ScrumShortcutswithoutCuttingCornersAddisonWesleyProfessional.pdf"  >Scrum: Shortcuts without Cutting Corners.pdf</a></td>
	<td>4 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/Scrumtheartofdoingtwicetheworkinhalfthetime.pdf"  >Scrum the art of doing twice the work in half the time.pdf</a></td>
	<td>2 MB</td></tr>



<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/kanbanvsscrum.pdf"  >Kanban vs Scrum</a></td>
	<td>2.29 MB</td></tr>

<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheAgileOrganizationFromInformalNetworkstoComplexEffectsandgility.pdf"  >The Agile Organization From Informal Networks to Complex Effects and gility.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/SucceedingwithAgileSoftwareDevelopmentUsingScrum.pdf"  >Succeeding with Agile Software Development Using Scrum.pdf</a></td>
	<td>43 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheArtofScrumHowScrummastersbinddevteamsandunleashagility.pdf"  >The Art of Scrum: How Scrummasters bind devteams and unleash agility.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumbanREvolutionGettingtheMostOutofAgileScrumandLeanKanban.pdf"  >The Scrumban REvolution: Getting the Most Out of Agile Scrum and Lean Kanban.pdf</a></td>
	<td>13 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheAgileEnterpriseBuildingandRunningAgileOrganizations.pdf"  >The Agile Enterprise Building and Running Agile Organizations.pdf</a></td>
	<td>7 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheArtofScrumHowScrumMastersBindDevTeamsandUnleashAgility.pdf"  >The Art of Scrum How Scrum Masters Bind Dev Teams and Unleash Agility.pdf</a></td>
	<td>10 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheGoal.pdf"  >The Goal.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheProfessionalProductOwnerLeveragingScrumasaCompetitiveAdvantage.pdf"  >The Professional Product Owner: Leveraging Scrum as a Competitive Advantage.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumCulture.pdf"  >The Scrum Culture.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumCultureIntroducingAgileMethodsinOrganizations.pdf"  >The Scrum Culture: Introducing Agile Methods in Organizations.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumCultureSecondEdition.pdf"  >The Scrum Culture Second Edition.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumFieldGuideAgileAdviceforYourFirstYearandBeyond.pdf"  >The Scrum Field Guide Agile Advice for Your First Year and Beyond.pdf</a></td>
	<td>14 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumGuideTheDefinitiveGuidetoScrumTheRulesoftheGame.pdf"  >The Scrum Guide: The Definitive Guide to Scrum The Rules of the Game.pdf</a></td>
	<td>582 KB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheScrumPapersNutBoltsandOriginsofanAgileFramework.pdf"  >The Scrum Papers: Nuts Bolts and Origins of an Agile Framework.pdf</a></td>
	<td>10 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/TheAgileSafetyCase.pdf"  >The Agile Safety Case</a></td>
	<td>4 MB</td></tr>


<tr><td class="file"  ><a href="../scrummediasave/resources/scrumrolesandresponsibilities.pptx"  >Scrum Roles and Responsibilities.pptx</a></td>
	<td>56 KB</td></tr>
	<tr><td class="file"  ><a href="../scrummediasave/resources/scrumnutshell.pdf"  >Scrum Nutshell.pdf  NB print A3</a></td>
	<td>12 MB</td></tr>



<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/ToyotaProductionSystemBeyondLargeScaleProductionProductivity.pdf"  >Toyota Production System Beyond Large Scale Production Productivity.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/visibleops.pdf"  >Dev Ops: Visibleops.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/accelerate.pdf"  >Dev Ops: Accelerate.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/devopshandbook.pdf"  >Dev Ops: Handbook.pdf</a></td>
	<td>11 MB</td></tr>
	<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/itreleasemanagementahandsonguide.pdf"  >IT Release Management Hands On Guide.pdf</a></td>
	<td>3 MB</td></tr>

		<tr><td class="file"  ><a href="../scrummediasave/resources/kaizen.pptx"  >Kaizen.pptxf</a></td>
	<td>3 MB</td></tr>

			<tr><td class="file"  ><a href="../scrummediaviewpdf/resources/projectbook"  >The Project Book.pdf</a></td>
	<td>1.47 MB</td></tr>




</table>

</div>
<br>
<br>
<br>
<br>









<!--ENDBODY-->
{% else %} {% endif %} {% endblock %}
