{% extends 'base.html' %}
{% block title %} {% if not current_user %}PMWay{% endif %} {% if current_user %}Hadoop Kafka Spark books{% endif %}{% endblock %}
{% block body %}
{% if current_user %}
<!--BODY-->
<div class="container">


        <h3>Hadoop, Kafka and Spark Books</h3>
      <hr>
      
      <table>
<thead>
<tr><td class="col-size">Size:</td><td class="col-file">File:</td><td class="col-date">Date:</td></tr>
</thead>
<tr><td class="size">11.785 KB</td><td class="file"><a href="./AgileDataScienceTwoBuildingFullStackDataAnalyticsApplicationswithSpark.pdf">AgileDataScienceTwoBuildingFullStackDataAnalyticsApplicationswithSpark.pdf</a></td><td class="date">02/09/2019 09:34</td></tr>
<tr><td class="size">37.257 KB</td><td class="file"><a href="./ApacheSparkDeepLearningCookbook.pdf">ApacheSparkDeepLearningCookbook.pdf</a></td><td class="date">02/09/2019 14:23</td></tr>
<tr><td class="size">23.020 KB</td><td class="file"><a href="./ApacheSparkTwoMachineLearningCookbook.pdf">ApacheSparkTwoMachineLearningCookbook.pdf</a></td><td class="date">02/09/2019 14:24</td></tr>
<tr><td class="size">5.680 KB</td><td class="file"><a href="./BeginningApacheSparkTwoWithResilientDistributedDatasetsSparkSqlStructuredStreamingandSparkMachineLearningLibrary.pdf">BeginningApacheSparkTwoWithResilientDistributedDatasetsSparkSqlStructuredStreamingandSparkMachineLearningLibrary.pdf</a></td><td class="date">02/09/2019 09:32</td></tr>
<tr><td class="size">35.101 KB</td><td class="file"><a href="./BigDataAnalyticswithHadoopThree.pdf">BigDataAnalyticswithHadoopThree.pdf</a></td><td class="date">02/09/2019 09:24</td></tr>
<tr><td class="size">8.696 KB</td><td class="file"><a href="./BigDataProcessingUsingSparkinCloud.pdf">BigDataProcessingUsingSparkinCloud.pdf</a></td><td class="date">02/09/2019 09:30</td></tr>
<tr><td class="size">6.250 KB</td><td class="file"><a href="./DataAnalyticswithHadoopAnIntroductionforDataScientists.pdf">DataAnalyticswithHadoopAnIntroductionforDataScientists.pdf</a></td><td class="date">02/09/2019 09:26</td></tr>
<tr><td class="size">20.152 KB</td><td class="file"><a href="./DataAnalyticswithSparkUsingPython.pdf">DataAnalyticswithSparkUsingPython.pdf</a></td><td class="date">02/09/2019 09:33</td></tr>
<tr><td class="size">5.170 KB</td><td class="file"><a href="./DesigningEventDrivenSystemsConceptsandPatternsforStreamingServiceswithApacheKafka.pdf">DesigningEventDrivenSystemsConceptsandPatternsforStreamingServiceswithApacheKafka.pdf</a></td><td class="date">02/09/2019 09:27</td></tr>
<tr><td class="size">16.889 KB</td><td class="file"><a href="./ExpertHadoopAdminManagingTuningandSecuringSparkYARNandHDFS.pdf">ExpertHadoopAdminManagingTuningandSecuringSparkYARNandHDFS.pdf</a></td><td class="date">02/09/2019 09:25</td></tr>
<tr><td class="size">23.322 KB</td><td class="file"><a href="./Hadoopin24HoursSamsTeachYourself.pdf">Hadoopin24HoursSamsTeachYourself.pdf</a></td><td class="date">02/09/2019 14:20</td></tr>
<tr><td class="size">7.163 KB</td><td class="file"><a href="./HighPerformanceSparkBestPracticesforScalingandOptimizingApacheSpark.pdf">HighPerformanceSparkBestPracticesforScalingandOptimizingApacheSpark.pdf</a></td><td class="date">02/09/2019 09:33</td></tr>
<tr><td class="size">16.005 KB</td><td class="file"><a href="./KafkaStreamsinActionRealtimeappsandmicroserviceswiththeKafkaStreamingAPI.pdf">KafkaStreamsinActionRealtimeappsandmicroserviceswiththeKafkaStreamingAPI.pdf</a></td><td class="date">02/09/2019 09:27</td></tr>
<tr><td class="size">6.378 KB</td><td class="file"><a href="./KafkaTheDefinitiveGuideRealTimeDataandStreamProcessingatScale.pdf">KafkaTheDefinitiveGuideRealTimeDataandStreamProcessingatScale.pdf</a></td><td class="date">02/09/2019 09:26</td></tr>
<tr><td class="size">11.144 KB</td><td class="file"><a href="./ModernBigDataProcessingwithHadoopExperttechniquesforarchitectingendtoendBigDatasolutionstogetvaluableinsights.pdf">ModernBigDataProcessingwithHadoopExperttechniquesforarchitectingendtoendBigDatasolutionstogetvaluableinsights.pdf</a></td><td class="date">02/09/2019 09:23</td></tr>
<tr><td class="size">23.871 KB</td><td class="file"><a href="./PracticalApacheSparkUsingScala.pdf">PracticalApacheSparkUsingScala.pdf</a></td><td class="date">02/09/2019 09:31</td></tr>
<tr><td class="size">13.695 KB</td><td class="file"><a href="./PracticalRealtimeDataProcessingandAnalyticsDistributedComputingandEventProcessingusingApacheSparkFlinkStormand%20Kafka.pdf">PracticalRealtimeDataProcessingandAnalyticsDistributedComputingandEventProcessingusingApacheSparkFlinkStormand Kafka.pdf</a></td><td class="date">02/09/2019 09:29</td></tr>
<tr><td class="size">22.618 KB</td><td class="file"><a href="./ProHadoopDataAnalyticsDesigningandBuildingBigDataSystemsusingtheHadoopEcosystem%20.pdf">ProHadoopDataAnalyticsDesigningandBuildingBigDataSystemsusingtheHadoopEcosystem .pdf</a></td><td class="date">02/09/2019 09:24</td></tr>
<tr><td class="size">4.150 KB</td><td class="file"><a href="./RaúlEstradaApacheKafkaCookbook.pdf">RaúlEstradaApacheKafkaCookbook.pdf</a></td><td class="date">02/09/2019 09:29</td></tr>
<tr><td class="size">187 KB</td><td class="file"><a href="./RaúlEstradaApacheKafkaCookbooksourcecode.zip">RaúlEstradaApacheKafkaCookbooksourcecode.zip</a></td><td class="date">02/09/2019 09:28</td></tr>
<tr><td class="size">8.069 KB</td><td class="file"><a href="./SparkTheDefinitiveGuideBigDataProcessingMadeSimple.pdf">SparkTheDefinitiveGuideBigDataProcessingMadeSimple.pdf</a></td><td class="date">02/09/2019 09:31</td></tr>
</table>


		
 









</div> 
<!--BODY ENDS HERE-->
{% elseif %}

{% endif %}
   

{% endblock %}
