{% extends "base.twig" %}

{% block title %}Error{% endblock %}

{% block body %}
	<div class="container" align="center">
	   <h3>An internal server error occurred</h3>

		<img alt="404 error" class="img-fluid"  src="{{ asset('storage/images/500.png') }}" >

    </div>


		 <br>
		 <br>
		 <br>
		 <br>

    </div>

{% endblock %}
