{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Plato's Cave{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->
<div class="container" align="left">
  <h3>Education, spiritual awareness and the parable of Plato's cave</h3>
  <hr>
  <h5> <strong>Education and Plato's Parable of the Cave<br />
    Originally appeared in <em>Journal of Education</em> 178/3, 1996.</strong></h5>
  <table summary="Main" class="paper" width="80%" border="0" cellspacing="0" cellpadding="30">
    <tr>
      <td class="body"><img alt="" class="img-fluid" src="{{ asset('storage/images/chained.jpg') }}" >
        <p> <a name="txt01" />Everyone knows that Plato is deeply interested in education. In
          one way or another, nearly all of his dialogues are concerned with it -- what it
          can accomplish and how it can accomplish it, who is qualified to impart and receive
          it, why it is valuable, and so forth. My emphasis in this essay is on Plato's views
          of education as they unfold in one extended passage in the <em>Republic</em>.<b><a
            href="#n01">[1]</a></b> Here, in a series of images and commentary on these images,
          Plato develops some of the central points necessary to sustain the outlandish claim
          that
          unless communities have philosophers as kings... or the people who are currently
          called kings and rulers practice philosophy with enough integrity... there can be
          no end to political troubles... or even to human troubles in general. (473C11-D5) </p>
        <p> The right sort of ruler can only be produced by careful and systematic education,
          as Plato continually reminds us (see, e.g., 487A7-8, 490C8-493A2, 497A3-D2, 502C9-504A1).
          Concern with this sort of education gives rise to the famous images of the sun,
          the divided line, and the cave. Although I am primarily concerned in this essay
          with the cave image and its educational implications, occasionally this will require
          a look at the sun and the line and other contiguous passages in the <em>Republic</em>.
          The analogy of the divided line is brought in to shed light on the sun simile (509D1-5),
          which is itself introduced as a way of clarifying the role of the good (508B12-C2).
          Plato himself insists that the cave image must be "applied" to the discussion that
          leads up to it (517B1-2), and he continues to draw out the implications of the cave
          image until quite late in Book VII (see 532A1-533D4). </p>
        <p class="bold"> - I -</p>
        <p> The cave image is offered as "an analogy for the human condition -- for our education
          or lack of it" (514A1-2). Imagine prisoners in a cave, chained and unable to turn
          their heads; as a result they see only what is directly in front of them. What they
          see are shadows cast by objects behind them which are illuminated by firelight further
          behind and above them. The objects are carried along and extend above a low wall
          behind the prisoners. The bearers of the objects are hidden behind the wall and
          so cast no shadows; but occasionally they speak, and the echoes of these words reach
          the prisoners and seem to come from the shadows. The prisoners can talk among themselves,
          and they naturally assume that the names they use apply to what they see and hear
          -- the shadows passing in front of them. Socrates offers a grim assessment of their
          plight: "The shadows of artifacts constitute the only reality people in this situation
          would recognize" (515C1-2). </p>
        <p> As Glaucon observes, this is a weird image, and these are weird prisoners. Nevertheless,
          Socrates says, they are like us (<em>homoious h&ecirc;min</em>, 515A5). Of course
          we do not really spend our time chained and looking helplessly at shadows produced
          by those intent on deceiving us. Yet for Plato something about our condition makes
          the cave an apt image. </p>
        <p> The prisoners see only shadows, and these shadows are cast by artifacts, likenesses
          of animals and people (514B8-515C2). So the prisoners are, in Plato's view, removed from truth or reality, although they do not realize this and would object
          if the suggestion were made to them (515C8-D7). If they were freed and made to turn
          around towards the firelight, the prisoners would be dazzled and unable to make
          out the objects that cast the shadows on the wall (515C4-D1). If they were compelled
          to look directly at the fire, this would hurt their eyes, and they'd probably prefer
          to go back to the comfortable and familiar darkness of their prison (515E1-5). If
          they were forced out of the cave entirely, out into the sunlight, this would be
          even more painful, and objects outside the cave would be even harder for them to
          make out (515E7-516A3). Gradually, however, their eyes would grow used to the light
          and they would start to discern shadows, then reflections, then maybe even the objects
          themselves (516A5-B2). </p>
        <p> <a name="txt02" /><a name="txt03" />Plato tells us explicitly how to unpack some
          of the details of this image. First, the cave is the region accessible to sight
          or perception (517B1-2). A few pages earlier, in the sun simile, Plato distinguishes
          between the visible realm and the intelligible realm, between things grasped by
          perception and things grasped by reasoning or intelligence (507D8-509D4).<b><a href="#n02">[2]</a></b> The visible realm comprises ordinary perceptible things; the intelligible realm
          comprises what Plato calls the forms or ideas.<b><a href="#n03">[3]</a></b> The
          bound prisoner -- and by implication the ordinary uneducated person -- has no access
          to intelligible forms. In fact, he has no idea there are such things. Worse yet,
          his access is not to perceptible things themselves, but only to shadows of those
          things. He may be exceedingly good at identifying these shadows, better even than
          someone who has been freed and has seen the artifacts responsible for casting the
          shadows and knows how the shadows were cast (516C8-D7). Still, like the sight-lover
          Plato discusses earlier in Book V (475D1-480A13), his epistemic horizons are limited. </p>
        <p> <a name="txt04" />Second, the world outside and above the cave is the intelligible
          region (517B4), accessible not to perception but to reasoning. The objects here
          are more real or true than the artifacts in the cave, since they are the originals
          of which the artifacts are likenesses (515D1-7).<b><a href="#n04">[4]</a></b> </p>
        <p> Third, the upward journey out of the cave into daylight is the soul's ascent to
          the intelligible realm (517B4-5). Having distinguished these realms earlier in the
          sun simile and said something about their relations in the divided line analogy,
          Plato now explicitly intimates that one can move from one realm to the other. This
          is precisely the movement to be effected by Platonic education -- although what
          is being moved is not the eye but the soul. I shall turn shortly to the nature of
          this movement and how Plato thinks it is best accomplished. </p>
        <p> <a name="txt05" />Before turning to the process, however, recall briefly what Plato
          sees as the end result of such movement, the epistemic condition of the philosopher-ruler.
          Such a person Plato is willing to credit with understanding (<em>epist&ecirc;m&ecirc;</em>).
          Such a person has a secure grasp of the forms, not just in the abstract but as they
          manifest themselves in things around us (402B5-C8, 520C4-5). Such a person's view
          of things is synoptic: he "sees things whole" or "has a unified view of things."<b><a
            href="#n05">[5]</a></b> It is Plato's bold claim that only when such people are
          allowed to rule will a community flourish. The stakes involved are very high, and
          the value of any process that can reliably produce such people is obviously very
          great. </p>
        <p class="bold"> - II -</p>
        <p> <a name="txt06" />Perhaps the first thing we notice about the prisoners in the cave
          is that they are looking in the wrong direction. Their bonds prevent them from turning
          their heads away from the rear wall of the cave, and what they need to see is behind
          their heads (514B1-2, 515A9-B1). The first step in the journey out of the cave is
          to stand up and turn around towards the firelight (<em>periagein</em>, 515C7), and
          the first impulse of the freed prisoners upon being made to look towards the firelight
          is to turn back towards the familiar shadows (<em>apostrephein</em>, 515E2). This
          notion of orientation is central to Plato's idea of education: he later describes
          real education as the art of orientation (<em>techn&ecirc;... t&ecirc;s periagog&ecirc;s</em>,
          518D3-4) and the educator's task as that of turning souls around (<em>metastrephein</em>,
          518D5).<b><a href="#n06">[6]</a></b> </p>
        <p> This is to be contrasted with what Plato presents as a common practice of educators,
          who "claim to introduce knowledge into a soul which doesn't have it, as if they
          were introducing sight into eyes which are blind" (518B6-C2). Such a view of education
          neglects the fact that the power to learn and the organ with which to do so is present
          in everyone (518C4-6, 519A3-B6, 527D6-E3, 530B6-C1). Education, Plato remarks,
          should be... the art of orientation. Educators should devise the simplest and most
          effective methods of turning souls around. It shouldn't be the art of implanting
          sight in the organ, but should proceed on the understanding that the organ already
          has the capacity, but is improperly aligned and isn't facing the right way. (518D3-7) </p>
        <p> Plato refers to this power to learn as <em>phron&ecirc;sis</em> or intelligence
          at 518E2, where he goes on to say that it is useful and beneficial, or useless and
          harmful, depending on its orientation (518E4-519A1). Part of Platonic education,
          then, consists in reorienting this neutral capacity of intelligence, directing it
          away from one sort of object and towards another. </p>
        <p> But this is only part of the story. Plato goes on to remark about the soul of the
          bad but clever person that if this aspect of that kind of person is hammered at from an early age, until the
          inevitable consequences of incarnation have been knocked off -- the leaden weights,
          so to speak, which are grafted on to it as a result of eating and similar pleasures
          and indulgences and which turn the sight of the soul downwards -- if it sheds these
          weights and is reoriented towards the truth, then (and we're talking about the same
          organ and the same people) it would see the truth just as clearly as it sees the
          objects it faces at the moment. (519A8-B5) </p>
        <p> This person's desires, at least as much as his intelligence, account for his condition.
          There is an important cognitive dimension to Platonic education, but there is an
          equally important affective or desiderative dimension. Consider the money-lover
          Plato describes in Book IX: </p>
        <p class="indent"> <a name="txt07" />His reasoning and spirited parts... are made to sit on the ground
          on either side of the king's feet [i.e. his appetitive part]. The only calculations
          and researches he allows his reasoning part to make are concerned with how to start
          with a little money and increase it, the only admiration and respect he allows his
          spirited part to feel are for wealth and wealthy people, and he restricts his ambition
          to the acquisition of money and to any means towards that end. (553D1-7)<b><a href="#n07">[7]</a></b> </p>
        <p> Analogous claims are made about the honor-loving person (475A9-B2, 549C2-550B7)
          and the wisdom-loving person or philosopher (581B5-7, 475B8-C8). So the educator
          must be concerned not only with the reorienting of intelligence, but with desires
          as well. The reorientation of desire is accomplished by proper use of traditional <em>mousik&ecirc;</em> and <em>gymnastik&ecirc;</em>, discussed at length in Books
          II-III, and it is clearly presupposed by the educational program outlined in the
          pages following the cave image. I shall discuss it briefly before turning to the
          cognitive dimension in the next section of this essay. </p>
        <p> <a name="txt08" />Focusing entirely on reorienting the student's intelligence runs
          the risk of ignoring fully two-thirds of the student's soul, since like everyone
          he is a compound of three parts.<b><a href="#n08">[8]</a></b> As Plato observes
          in Book IX,
          the correspondence between the three classes into which the community was divided
          and the threefold division of everyone's soul provides the basis for a further argument
          .... Each of the three mental parts has its own particular pleasure, so that there
          are three kinds of pleasure as well. The same would also go for desires and motivations.
          (580D2-8) </p>
        <p> This claim -- that each part of the soul has its own particular pleasure -- is essential
          to understanding the sort of reorientation Plato wants to effect by means of education.
          In the <em>Republic</em>, people are sorted into classes (producers, guardians,
          rulers) according to which part of their soul motivates or rules them. The appetitive
          part is described as money-loving and gain-loving (<em>philochr&ecirc;maton</em>,
          580E5; <em>philokerdes</em>, 581C4), and its principal concerns are the pleasures
          of food, drink, and sex (439D6-7). The spirited part is honor-loving (<em>philonikon</em>,
          58162, C4) and focuses on the pleasures of competition, with doing what is noble
          and avoiding what is base. The reasoning part is wisdom-loving (<em>philosophon</em>,
          581B9, C4) and is "entirely directed at every moment towards knowing the truth of
          things" (581B5). Since the goal of Platonic education is to produce philosophers,
          we need to know how best to bring people whose primary desires may be for food or
          drink, or for good reputation, to the state where their primary desires are for
          wisdom and truth. </p>
        <p> Central to Plato's conception of desire and its educability is the idea that&nbsp;
          anyone whose predilection tends strongly in a single direction has correspondingly
          less desire for other things, like a stream whose flow has been diverted into another
          channel.... So when a person's desires are channeled towards learning and so on,
          that person is concerned with the pleasure the soul feels of its own accord, and
          has nothing to do with the pleasures which reach the soul through the agency of
          the body. (485D6-12) </p>
        <p> <a name="txt09" />Like a closed hydraulic system, each person has a definite amount
          of desiderative energy, and if that energy is expended on one sort of object, it
          is not available to expend on another sort of object.<b><a href="#n09">[9]</a></b> Reorienting the soul involves rechannelling desires, diverting them away from one
          sort of object and towards another. How is this done? </p>
        <p> The process starts long before the student begins his mathematical studies, much
          earlier in the <em>Republic</em> (Books II-III, 374E10-412B1). Plato disparages
          this "primary education" at 522A2-B1 -- "there's nothing in it which can lead a
          student towards the kind of goal [we're] after at the moment" -- but it is clearly
          presupposed by the mathematics-intensive curriculum he goes on to outline. In part,
          this is a matter of exercise for the body (<em>gymnastik&ecirc;</em>) and cultural
          studies for the soul (<em>mousik&ecirc;</em>) (376E3-4), although even <em>gymnastik&ecirc;</em> is primarily aimed at the soul (410B5-412A2). It may even be the most important
          stage in the educational process: </p>
        <p class="indent"> The most important stage of any enterprise is the beginning, especially when something
          young and sensitive is involved.... That's when most of its formation takes place,
          and it absorbs every impression anyone wants to stamp upon it. (377A12-B3) </p>
        <p> The stories we tell, the poetry we read, the music and songs we play and sing, can
          instill in the young student's soul good rhythm, harmony, grace, a disciplined and
          good character, and love of beauty (see 376E9-403C8, especially 400D1-403C7). <em> Mousik&ecirc;</em>, cultural education, is important, Plato maintains, because
          rhythm and harmony sink more deeply into the soul than anything else and affect
          it more powerfully than anything else and bring grace in their train. For someone
          who is given a correct education, their product is grace; but in the opposite situation
          it is inelegance. A proper cultural education would enable a person to be very quick
          at noticing defects and flaws in the construction or nature of things.... He'd find
          offensive the things he ought to find offensive. Fine things would be appreciated
          and enjoyed by him, and he'd accept them into his soul as nourishment and would
          therefore become truly good; even when young, however, and still incapable of rationally
          understanding why, he would rightly condemn and loathe contemptible things. And
          then the rational soul would be greeted like an old friend when it did arrive, because
          anyone with this upbringing would be more closely affiliated with rationality than
          anyone else. (401D5-402A4) </p>
        <p> <a name="txt10" /><a name="txt11" />Stories and songs affect the student's desires,
          and do so in ways that do not rely on reasoning.<b><a href="#n10">[10]</a></b> Music
          does so especially directly: "rhythm and harmony sink more deeply into the soul
          than anything else," and can produce "grace" (<em>eusch&ecirc;mosun&ecirc;</em>),
          which clearly involves harmony among the student's desires (401D5-6; cf. 410A7-9,
          423E4-5, 424E5-425A6).<b><a href="#n11">[11]</a></b> Stories can contribute to this
          end as well by providing the student with models to imitate. Plato takes the power
          of imitation very seriously: </p>
        <p> <a name="txt12" />Any imitative roles [children] do take on must... be appropriate
          ones. They should imitate people who are courageous, self-disciplined, just, and
          generous and should play only those kinds of parts; but they should neither do nor
          be good at imitating anything mean-spirited or otherwise contemptible, in case the
          harvest they reap from imitation is reality.... If repeated imitation continues
          much past childhood, it becomes habitual and ingrained and has an effect on a person's
          body, voice, and soul. (395C2-D2)<b><a href="#n12">[12]</a></b> </p>
        <p> Songs and stories bring about changes in parts of the soul other than the reasoning
          part, which is why Plato dismisses them at 522A2-B1 as having nothing to offer the
          educational program described in Book VII. But it is clear that Plato believes that
          without the order and grace they provide, this program would have little chance
          of success. </p>
        <p> <a name="txt13" />Another aspect of early upbringing presupposed by the educational
          program of Book VII is <em>gymnastik&ecirc;</em>, physical training (403C9-410B3),
          proper diet and regimen and a variety of competitive games.<b><a href="#n13">[13]</a></b> It is clear from 410B5-412A2 that even <em>gymnastik&ecirc;</em> is primarily aimed
          at the soul; the educator's aim here is to work a change analogous to that brought
          about by <em>mousik&ecirc;</em>: </p>
        <p class="indent"> The goal he aims for with this physical exercise and effort is the spirited part
          of [the student's] nature. This is what he wants to wake up. (410B5-6) </p>
        <p> The educator "wakes up" the spirited part of the student's soul (<em>egeirein</em>;
          the same verb is used when Jesus tells his disciples to go out and raise the dead, <em>Matthew</em> 10:8). Plato's other similes for what the educator must do here
          include stretching and relaxing strings on a lyre (410D8-E2, 412A4-7), forging iron
          (411A9-B2), and feeding and starving (411C4-D5). The goal is to avoid the excessive
          docility and softness produced by exclusive attention to <em>mousik&ecirc;</em> and the intractable brutishness and hardness produced by exclusive attention to <em>gymnastik&ecirc;</em>. The idea is to enable the reasoning and spirited parts
          to work together in the management of the appetitive part: together the former can
          be "put in charge of" or "guard" or "watch over" the appetitive part (<em>prostatein</em>,
          442A5; <em>phulattein</em>, 442B6; <em>t&ecirc;rein</em>, 442A7). Ideally, there
          should be concord and attunement among the parts (442C10-11, 589B3-4). The best
          blend of <em>mousik&ecirc;</em> and <em>gymnastik&ecirc;</em> produces the "harmonious"
          and "docile and orderly" temperament called wisdom-loving or philosophical (410E1-3,
          411C5; see also 441E8-442A2). </p>
        <p> By describing this temperament as philosophical, Plato is not claiming that such
          people have genuine understanding (<em>epist&ecirc;m&ecirc;</em>) or that by virtue
          of their cultural and physical training they are equipped to grasp the forms. Such
          training can produce habits of inner harmony and grace, not understanding, In the
          terms of the cave image and the discussion that follows it, <em>mousik&ecirc;</em> and <em>gymnastik&ecirc;</em> can help to free a chained prisoner and turn him around
          towards the firelight to see the objects that cast the shadows. But since neither
          is concerned with the reasoning part of the soul or with what is intelligible, they
          cannot help the prisoner out of the cave. They leave the student at the bottom of
          the rough steep slope, still focused on perceptible things. He has not begun the
          upward journey out of the cave into daylight which Plato likens to the soul's ascent
          to the intelligible realm (517B4-5). So, indispensable as they are, they are only
          the beginning of the student's educational journey. </p>
        <p class="bold"> - III -</p>
        <p> The next stage of the upward journey, which helps the prisoner up out of the cave
          and into the light of day, and which enables him to see real things by the light
          of the sun, is a more straightforwardly cognitive process. Plato says a great deal
          about the cognitive dimension of education in the pages that follow the cave image.
          He outlines a curriculum that progresses through arithmetic, plane and solid geometry,
          astronomy, and harmonics (522C6-534D1). These mathematical studies occupy prospective
          guardians for ten years, from age twenty to age thirty (537B8-D2). Although he criticizes
          the ways these subjects are commonly taught, Plato insists that properly pursued
          they can lead the people who study them "up to the light" (521C2) and contribute
          to "the reorientation of a soul from a kind of twilight to true daylight" (521C6-7).
          It is this program of study that helps the student out of the cave into the outside
          world, and equips him to see and understand the things outside, the heavenly bodies,
          even the sun itself. </p>
        <p> Why does mathematics play such a large role in Plato's curriculum? Scholars frequently
          cite Pythagorean influences, and this is no doubt part of the story. Aristotle reports
          that Plato "follows [the Pythagoreans] in many things" (<em>Metaphysics</em> 1.5,
          987a30), and Pythagorean ideas figure largely in several of Plato's dialogues, including
          the <em>Republic</em>. But relatively little is known about early Pythagorean views,
          and so this is of limited use in understanding the role of mathematics in Plato's
          educational program. </p>
        <p> The point of the mathematical curriculum is to focus the student's soul on the intelligible
          realm, to wean him away from reliance on and preoccupation with what is perceptible.
          This is clear from what leads up to the discussion of the mathematical sciences.
          The first thing we need in order to jar the student's soul out of its complacency
          are experiences that call upon the intellect (<em>porakalein</em>, 523A10), that
          force the student to think in terms of intelligible forms (<em>anogkadzein</em>,
          524A6, C7). The clearest examples of such thought-provoking experiences are those
          involving numbers (524D7-525A5). For example, in the perceptible realm one (whole)
          is also many (parts); to avoid confusion, the student is forced to distinguish things
          as they appear to the eyes from things as they are in themselves. This is beyond
          the grasp of perception and requires thought and reasoning. Hence the mathematical
          sciences are essential to the reorientation of the student's soul, and this is why
          numbers and counting are said to have a "consummate ability to attract one towards
          reality" (523A2-3). </p>
        <p> This also explains why Plato is unimpressed by the way the mathematical sciences
          are commonly studied. Students must be delivered from reliance on perception and
          made to employ purely intellectual processes (526B1-3, 537D5-8, 522C6-525B3). Any
          approach to the mathematical sciences that doesn't serve this end, Plato summarily
          rejects (see 526E1-527B11, 527D5-E2, 529A1-C3, 530E5-531C4). But a bit later on,
          in a somewhat more positive statement, he qualifies that rejection when he says
          that
          engaging in all the subjects we've been discussing has some relevance to our purposes,
          and all that effort isn't wasted, if the work takes one to the common ground of
          affinity between the subjects, and enables one to work out how they are all related
          to one another; otherwise it's a waste of time. (531C9-D4) </p>
        <p> The mathematical sciences are all propadeutic to a discipline Plato calls dialectic,
          and it is this "common ground of affinity between the subjects" that the dialectician
          is concerned to work out. He has a synoptic or comprehensive view of the relationships
          the mathematical sciences have to each other and to reality (537C1-2). The task
          of dialectic is to work out, with regard to all things, what each of them is in
          itself, to give an account of each thing (533B1-3, 534B3-4). Plato is willing to
          say that someone who has such a synoptic view has understanding (<em>epist&ecirc;m&ecirc;</em>)
          of things that the rest of us can only grasp by belief or opinion (see 601E7-602A1,
          534B8-C5, 520C1-6, 402B5-C8). </p>
        <p> How does dialectic accomplish this task? Unfortunately, Plato never answers this
          question directly. When Glaucon asks Socrates to "tell us the ins and outs of the
          ability to do dialectic, and how many different types of it there are, and what
          methods it employs" (532D8-E1), he is unhelpfully told that neither he nor Socrates
          is up to that task. There are some clues, however. The first comes with Plato's
          observation that dialectic "uproots" the things it takes for granted (<em>anairein</em>,
          533C8, often translated "do away with" or "destroy"):
          dialectic is the only field of inquiry... whose quest for certainty causes it to
          uproot the things it takes for granted in the course of its journey, which takes
          it towards an actual starting-point. (533C7-D1) </p>
        <p> Recall the divided line analogy. There Plato refuses to allow that mathematicians
          have understanding (<em>nous</em>); he calls their condition "thinking" (<em>dianoia</em>),
          which is "the intermediate state between believing (<em>doxa</em>) and knowing (<em>nous</em>)"
          (511D2-5). Why? Because they <a name="txt14" />take for granted things like numerical oddness and evenness, the
          geometrical figures, the three kinds of angle, and any other things of that sort
          which are relevant to a given subject. They act as if they know about these things,
          treat them as basic, and don't feel any further need to explain them either to themselves
          or to anyone else, on the grounds that there is nothing unclear about them. They
          make them the starting-points for their subsequent investigations, which end after
          a coherent chain of reasoning at the point they'd set out to reach in their research.
          (510C2-D3)<b><a href="#n14">[14]</a></b> </p>
        <p> Mathematicians deal with forms, but their investigations start too far in and take
          too much for granted. They treat their concepts -- what it is to be a square or
          diagonal and so on in themselves (510D7-511A1) -- as basic, and don't bother to
          explain them. As a result, Plato says, they
          are evidently dreaming about reality. There's no chance of their having a conscious
          glimpse of reality as long as they refuse to disturb the things they take for granted
          and remain incapable of explaining them. For if your starting-point is unknown,
          and your end-point and intermediate stages are woven together out of unknown material,
          there may be coherence, but knowledge is completely out of the question. (533B8-C5) </p>
        <p> Dialectic, on the other hand, uproots what it takes for granted in the course of
          its journey. It doesn't leave these things "undisturbed" (<em>akin&ecirc;tos</em>,
          533C2), but tries to explain or give an account of them (533C2-3, 510C6-8). It isn't
          that the dialectician takes nothing for granted; it is rather that, unlike the mathematicians
          Plato criticizes, he sees that what he takes for granted in the course of his inquiries
          itself requires explanation. </p>
        <p> This is where the second clue comes in. To explain or give an account of something,
          whether a complex psychological state like justice or a simple object like a wagon
          or a shuttle or a lump of clay, is to make clear what it is. One does this by relating
          it to other things, saying exactly how it is like some things and unlike others.
          (Think of the way Plato gives an account of justice or morality in the <em>Republic</em>.)
          This very general idea is used consistently throughout Plato's dialogues, and it
          is made the centerpiece of discussion in late dialogues such as the <em>Theaetetus</em>, <em>Sophist</em>, and <em>Statesman</em>. It is not enough to give an account, however;
          one must defend it as well: </p>
        <p class="indent"> If someone is incapable of arguing for the separation and distinction of the form
          of goodness from everything else, and cannot, so to speak, fight all the objections
          one by one and refute them (responding to them resolutely by referring to the reality
          of things, rather than to people's beliefs), and can't see it all through to the
          end without his position suffering a fall -- if you find someone to be in this state,
          you'll deny that he has knowledge of goodness itself or, in general, of anything
          good at all. (534B8-C5) </p>
        <p> <a name="txt15" />The point here is perfectly general, and nothing hangs on the
          choice of goodness as an example. Platonic dialectic is the distillation of a familiar
          process, conversing (<em>dialegesthai</em>), the give and take of question and answer.
          Genuine understanding is articulate, or at any rate articulable: Plato is unwilling
          to credit anyone with understanding who cannot give and defend an account of that
          which he claims to understand.<b><a href="#n15">[15]</a></b> </p>
        <p> This concern for account-giving and explaining what one's inquiries take for granted
          makes it clear why, despite his sometimes disparaging remarks about current practice,
          Plato is clearly impressed by the geometry of his day. Tradition has it that he
          placed over the door to the Academy an inscription saying "Let no one unskilled
          in geometry enter." What must have impressed Plato about geometry is the way in
          which particular truths can be related to others to form a system. Someone with
          genuine understanding of geometry -- someone who has really mastered the material
          presented in Euclid's <em>Elements</em>, e.g. -- knows much more than a lot of particular
          truths. He understands a system. Not only does he know that certain things are true
          and how those things depend for their truth on other things; he sees the ways in
          which these particular truths fit together to form a rationally ordered whole. His
          view of the subject matter is synoptic. The dialectician-philosopher has a similarly
          synoptic view, but one that encompasses not only geometry but all areas of inquiry. </p>
        <p> Plato's conception of the position of dialectic vis-&agrave;-vis the sciences is
          similar to one expressed much more recently by Wilfrid Sellars, who writes that <a name="txt16" />The aim of philosophy, abstractly formulated, is to understand
          how things in the broadest possible sense of the term hang together in the broadest
          possible sense of the term.... What is characteristic of philosophy is not a special
          subject-matter, but the aim of knowing one's way around with respect to the subject-matters
          of all the special disciplines.... It is therefore the "eye on the whole" which
          distinguishes the philosophical enterprise.[<b><a href="#n16">16</a></b>] </p>
        <p> This ideal, at least as Plato develops it, where this synoptic understanding is
          supposed to reside in single individuals, may strike us as naive or unrealistic.
          Interestingly, in later dialogues such as the <em>Laws</em>, Plato himself seems
          much less confident about the possibility of identifying this sort of comprehensive
          understanding and about the advisability of putting people alleged to possess it
          in positions of power (see 875C6-D5, 945B3-948B2). But the underlying idea that
          genuine understanding involves what Sellers calls the "eye on the whole" characterizes
          Plato's latest dialogues as well as the <em>Republic</em> (see <em>Sophist</em> 252E9-254D5, <em>Statesman</em> 280A8-285C2, <em>Philebus</em> 17C11-19A2, <em>Laws</em> 875B1-D5). </p>
        <p class="bold"> - IV -</p>
        <p> As we have seen, the purpose of Platonic education is to free the soul of the things
          that turn its sight downward and to reorient it towards the truth (519A8-B5). Such
          education is liberating. It is also liberal -- Plato insists that studies in the
          mathematical sciences not be "compulsory" (<em>epanagk&ecirc;s</em>), on the grounds
          that "compulsory intellectual work never remains in the soul" (536D5-E4). Aristotle
          suggests a similar distinction in <em>Politics</em> VIII between the "liberal sciences"
          (<em>eleutheriai epist&ecirc;mai</em>) and those he calls vulgar (<em>banausos</em>)
          (<em>Politics</em> 1337b4-21). The latter are undertaken because they are useful
          and necessary; the former contribute to one's happiness by making it possible for
          one to do something worthwhile with one's leisure time. It is doubtful whether Plato's
          discussion of education in the <em>Republic</em> had any direct influence on Aristotle's
          discussion in <em>Politics</em> VIII, but together these views exerted a profound
          influence on subsequent thinking about education. </p>
        <p> Yet the outlines of Plato's curriculum are certainly not original. The Pythagorean
          Archytas of Tarentum, whom Plato befriended on one of his Italian journeys, says
          that
          [The mathematicians] have given us clear knowledge about the speed of the stars
          and their risings and settings, about geometry, arithmetic, sphaeric [i.e. astronomy],
          and last and especially music. For these studies seem to be related. (Fragment 1
          in Diels-Kranz) </p>
        <p> <a name="txt17" />This fourfold division of mathematics into arithmetic, geometry,
          astronomy, and music theory is a Pythagorean commonplace. Aristotle says (<em>Metaphysics</em> 986a15-18) that the Pythagoreans believed that things are made up of numbers. But
          if numbers and points and lines are real constituents of the world, then arithmetic
          and music (concerned with numbers and their relations) and geometry and astronomy
          (concerned with points, lines, and figures and their relations) are essential for
          understanding things. Arithmetic provides the basis for music, geometry for astronomy
          -- and we have a rationale for a Pythagorean mathematical "curriculum." Plato adapts
          this rationale (and the fourfold division) to suit his own purposes, and in the
          generations after Plato it was codified in many Pythagorean and Neoplatonist works.
          Nicomachus of Gerasa, a Pythagorean compiler of the second century, distinguishes
          the same "four ways" (<em>tessares methodoi</em>) in his <em>Introduction to Arithmetic</em>.
          Around the same time the Middle Platonist Theon of Smyrna, in his handbook <em>Mathematical
          Knowledge Useful for the Understanding of Plato</em>, begins by offering the same
          fourfold division of the mathematical sciences. It is clear from works of Plutarch,
          Galen, and others that by this time the fourfold division of mathematics was hardening
          into a curriculum.<b><a href="#n17">[17]</a></b> </p>
        <p> Later Greek and (especially) Roman authors, in efforts to produce workable and uniform
          courses of study for young men, distinguished between the <em>trivium</em> (grammar,
          rhetoric, and logic) and the <em>quadrivium</em> (arithmetic, geometry, astronomy,
          and music theory). In the hands of Roman authors such as Varro, Cicero, and Seneca
          these studies became the <em>artes liberales</em>, subjects suited for the education
          of a Roman citizen, studied not for straightforwardly practical reasons but for
          the sake of knowledge itself. Varro's <em>Disciplinae</em>, for example, composed
          sometime around 40 B.C., is an influential encyclopedia of the (in this case) nine
          liberal arts -- grammar, dialectic, rhetoric, arithmetic, geometry, astrology, music,
          medicine, and architecture. Later writers reclassified the last two arts as mechanical
          or "servile." Two later works are especially important for their influence on educational
          thinking. Martianus Capella's <em>The Marriage of Philology and Mercury</em>, composed
          in the first third of the fifth century, is an allegory in which the seven liberal
          arts (in the person of seven bridesmaids) give accounts of themselves to the guests
          at a heavenly wedding feast. Capella's work was enormously popular as a school text
          in the Middle Ages. Another of the most widely read books in the Middle Ages was
          Isidore of Seville's <em>Etymologies</em>, composed around A.D. 630. Book III contained
          a wealth of information -- much of it garbled or incomplete -- about the quadrivium.
          The popularity of Martianus and Isidore's works as school texts attests to the fact
          that by the seventh century A.D. the seven liberal arts had become a standard educational
          curriculum. They became the organizing principle even for the education of monks,
          as Cassiodorus's <em>Institutiones</em> (ca. 550) makes clear. </p>
        <p> Most later medieval university education was constructed around these ideas, although
          the quality of quadrivial education varied enormously. The thirteenth-century universities
          of Oxford and Paris were divided into four faculties -- arts, medicine, law, and
          theology -- and the arts faculty were expected to provide the basis and preparation
          for the three "higher" faculty. At Paris, students of medicine and theology were
          required to have preliminary training in the arts, which involved mastery of the
          trivium and quadrivium. This arrangement persisted well into the Renaissance, although
          in practice the teaching of mathematics and science was often an empty scholastic
          shell of its original Pythagorean-Platonic self. But the structure of the medieval
          university, and of its modern and contemporary descendants, attests to the power
          of this Platonic educational vision. </p>
        <p> That it is Plato's vision is acknowledged by many medieval sources.
          Artistic depictions of the disciplines and their relations are a good
          source of evidence here. The seven liberal arts are represented by
          seven bridesmaids in Capella's allegory, and there are any number of
          early medieval illuminations in which the trivial and quadrivial arts
          are so depicted.
          Plato, the architect, and Socrates, his teacher, are central -- as in our frontispiece.
          It is Plato who most compellingly established the curriculum that incorporates the
          special "arts" embodied in the figure. It is his educational vision that formed,
          and arguably still forms, the basis for much liberal arts education. </p>
        <hr />
        <p class="bold"> - Notes -</p>
        <ol>
          <li>
            <p> <a name="n01">References</a> to the text of the <em>Republic</em>, in the form of
              standard Stephanus page, section, and line numbers, will appear parenthetically
              in the text. I use the translation of Robin Waterfield, <em>Plato: Republic</em> (Oxford and New York: Oxford University Press, 1993). I have systematically emended
              Waterfield's translation in one important respect, however. I prefer the more inclusive
              "soul" to Waterfield's "mind" as a translation of Plato's <em>psych&ecirc;</em>.
              "Mind" is really too modern and familiar, and not multifaceted enough, to do duty
              for Plato's notion, for reasons referred to in note 8 below. [<b><a href="#txt01">Back
              to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n02">Plato</a> has a variety of terms for the latter capacity: <em>dianoia</em>, <em>phron&ecirc;sis</em>, <em>gn&ocirc;sis</em>, <em>nous</em>, <em>no&ecirc;sis</em>, <em>epist&ecirc;m&ecirc;</em>. In some contexts he distinguishes among them (e,g.
              511D48, 533E7-534A8), but he often uses them interchangeably. The objects of all
              of these states are intelligible, although the states differ in the sort of intelligible
              grasp they involve. All of them contrast with perception and the conditions perception
              makes possible, belief (<em>pistis</em>) or opinion (<em>doxa</em>). Knowledge or
              understanding can be had only by getting beyond reliance on perception (see 478C10-14,
              479C7-D1, 518C7-D1, 519A8-B4, 523A1-3, 525C5-6, 526E6-7, 527B5-9, 532C3-D1, 534A3-5,
              585C5-12; also <em>Phaedo</em> 65A10-66E2, 78C10-79D7, 82D9-83B4; <em>Theaetetus</em> 186D2-E9; <em>Timaeus</em> 27D5-28A3, 49C7-50A3, 51D2-E5; <em>Philebus</em> 58A1-59D5).
              [<b><a href="#txt02">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n03">The</a> status of the forms, and their relations to perceptible things,
              is a subject of longstanding and still very active scholarly debate, which can be
              set aside for present purposes. It is enough to note that the distinction between
              the visible and intelligible realms has at least two dimensions: an ontological
              one (the objects are different) and an epistemological one (the capacities suited
              to grasp the objects are different). [<b><a href="#txt03">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n04">Shadows</a> are less real (i.e., ontologically less basic) than the
              artifacts that cast the shadows, and the artifacts are less real than their originals.
              This is a Platonic commonplace (see 596E4-598D5; cf. <em>Symposium</em> 210E5-211B5, <em>Phaedo</em> 74B4-C1), and such talk is frequent in the cave passage, e.g. at
              515D1-5, 516A1-3, 517D4-E2. The best account of Plato's meaning here is still Gregory
              Vlastos, "Degrees of Reality in Plato," in his <em>Platonic Studies</em> (Princeton:
              Princeton University Press, 1973), pp. 58-75. [<b><a href="#txt04">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n05">Plato</a> himself coined the term <em>sunoptikos</em>, "seeing the
              whole together" or "taking a comprehensive view" or "seeing things in a unified
              way," and he says that it is the defining feature of the dialectician (537C7). [<b><a
                href="#txt05">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n06">Talk</a> of the prisoners' orientation permeates the discussion surrounding
              the cave image. See e.g. 479B4-D6, 479E1-480A4, 493E2-494A2, 500B8-D2, 518C4-D7,
              521C1-D7, 525A1-2, 525D5-8, 527B9-11, 527D6-E3, 529A6-C3, 531A8-B1. It is precisely
              because the objects grasped by the soul differ in their truth or reality that Plato
              is so concerned with the soul's orientation. When Plato talks about "reorienting"
              or "turning" the prisoner's soul or its parts, he is not interested simply in increasing
              the prisoner's awareness (enabling him to "orient" himself to his surroundings)
              but in redirecting his thoughts, impulses, and desires towards more worthwhile objects.
              [<b><a href="#txt06">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n07">I</a> have slightly altered Waterhouse's translation here, referring
              to "parts" rather than "aspects" of the soul, for reasons hinted at in note 8 below.
              [<b><a href="#txt07">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n08">In</a> Book IV of the <em>Republic</em> Plato offers a sophisticated
              argument for positing complexity in the soul. He distinguishes the reasoning part
              (<em>to logistikon</em>), the spirited part (<em>to thumoeides</em>), and the appetitive
              part (<em>to epithum&ecirc;tikon</em>). These parts are intended to account for
              otherwise inexplicable instances of intrapsychic conflict (see especially 435A5-441D6).
              We can ignore the details of Plato's argument, but it is important for our purposes
              that the parts are distinguished primarily by what they love, i.e. by their urges,
              ambitions, and aspirations. This sort of talk is not merely an analogy or metaphor,
              but is offered as a piece of sober psychological theory. For the details see C.D.C.
              Reeve, <em>Philosopher-Kings: The Argument of Plato's Republic</em> (Princeton:
              Princeton University Press, 1988), pp. 118-169, and Jon Moline, <em>Plato's Theory
              of Understanding</em> (Madison: University of Wisconsin Press, 1981), pp. 52-78.
              [<b><a href="#txt08">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n09">In</a> the <em>Symposium</em> this drive is called <em>er&ocirc;s</em>,
              and it is said to be common to all human beings. It impels each of us towards happiness
              and the good (see especially <em>Symposium</em> 204B8-212C2). [<b><a href="#txt09">Back
              to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n10">Plato</a> makes much of the power of words to bring about changes
              in the soul, describing them as "charms" or "spells" (<em>ep&ocirc;dai</em>) in
              several places (see 364B5-7, 426A6-B2, 608A4-5; cf. <em>Phaedo</em> 77E8-78A2, 114D6-7; <em>Theaetetus</em> 149C9-D2). In the <em>Laws</em>, whose discussion of education
              is worked out in much greater detail than the <em>Republic</em>, songs and stories
              are repeatedly used as "charms" to lead the soul of the child. See especially 659D4-E2,
              665C2-686C2, 670E2-671A1, 773C8-E4, 812B9-C7, 887C8-D5, 903B1-2, 909A8-B6, 933D1-E5.
              It is significant that Plato frequently likens the effects of words on the soul
              to those of drugs (<em>pharmaka</em>) on the body, e.g. at <em>Meno</em> 80A2, <em> Theaetetus</em> 149C9, <em>Phaedrus</em> 270B6. The function of words is "to lead
              souls by persuasion" (<em>Phaedrus</em> 271C10), and different parts of the soul
              are persuaded in different ways. For an excellent discussion of these issues see
              Pedro Lain Entralgo, <em>The Therapy of the Word in Classical Antiquity</em> (London
              and New Haven: Yale University Press, 1970), Chapter 3. [<b><a href="#txt10">Back
              to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n11">Plato</a> never says how music does this. In later dialogues such
              as the <em>Timaeus</em> and the <em>Laws</em> it is clear that the process is quasi-mechanical.
              Certain sorts of intervals and rhythms have certain sorts of effects on the soul
              (<em>Timaeus</em> 47C2-E2, 80A2-B8; <em>Laws</em> 802C6-D6). For the details see
              Warren D. Anderson, <em>Ethos and Education in Greek Music</em> (Cambridge, MA:
              Harvard University Press, 1966), Chapter 3; and Andrew Barker (ed.), <em>Greek Musical
              Writings, Volume 1: The Musician and His Art</em> (Cambridge: Cambridge University
              Press, 1984), Chapter 10. [<b><a href="#txt11">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n12">Again</a>, Plato says little about the nuts and bolts of this process.
              But again it seems to be largely mechanical. By imitating a person or thing of a
              certain sort, a person (especially a young person) comes to have a character akin
              to that person or thing. Plato's belief in this lawlike generalization accounts
              not only for the strict limits he places on student activities, but also for his
              conviction that we can become just by performing just acts or unjust by performing
              unjust ones (441C10-D1), and that by studying things that are organized, permanent,
              and unchanging, the philosopher becomes as divine and orderly as is humanly possible
              (500C2-D1). [<b><a href="#txt12">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n13">Plato</a> uses this discussion in the <em>Republic</em> to launch
              a diatribe against current practices. His aims are much clearer in the <em>Laws</em>,
              which highlights the importance of wrestling, foot races, fencing, archery, marching,
              and riding, as well as dancing (see <em>Laws</em> 795D-796A, 804D-806C, 832D-834A).
              [<b><a href="#txt13">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n14">Plato</a> insists that the objects of the mathematicians' investigations
              can be understood (they are <em>no&ecirc;ton</em>), if and when they are properly
              related to a starting point (511D2) -- which is what dialectic does (511B3-C2).
              [<b><a href="#txt14">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n15">A</a> full account of Platonic dialectic would trace its ancestry
              in Socratic practice and its offspring in the development of dialectic in the Academy.
              A glimpse of these later developments can be seen in the second half of Plato's <em>Parmenides</em> and in Aristotle's early <em>Topics</em>, probably written during
              his tenure at the Academy. See Richard Robinson, <em>Plato's Earlier Dialectic</em>,
              2nd edition (Oxford: Clarendon Press, 1953). [<b><a href="#txt15">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n16">Wilfrid</a> Sellars, "Philosophy and the Scientific Image of Man,"
              in his <em>Science, Perception, and Reality</em> (London: Routledge and Kegan Paul,
              1967), pp. 1-3. [<b><a href="#txt16">Back to text</a></b>]</p>
          </li>
          <li>
            <p> <a name="n17">Boethius</a>, in a late fifth century paraphrase of Nicomachus's <em> Introduction to Arithmetic</em>, renders the Greek <em>tessares methodoi</em> ("four ways") by the Latin <em>quadrivium</em>. This is apparently the first example
              of this use of that term. See W. H. Stahl et al., <em>Martianus Capella and the Seven
              Liberal Arts</em> (New York: Columbia University Press, 1971), Volume 1, p. 156.
              [<b><a href="#txt17">Back to text</a></b>]</p>
          </li>
        </ol></td>
    </tr>
  </table>
</div>
<!-- Content Container ends here -->

{% endif %}




{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div class="container" align="center">
  <!--SWITCH ON AND OFF-->
  <!--The insecure stuff goens here-->

</div>
{% endif %}


{% endblock %}
