{% extends 'basepmboksix.html' %}
{% block title %}Close{% endblock %}
{% block body %}
 {% if user %}
<!--BODY-- including div class container down to final div -->

<div class="container" align="center"> <img class="img-fluid" alt="Initiate" height="388" src="{{ asset('storage/images/closesix.png') }}" width="800"></div>

<!--ENDBODY-->
{% else %}


    {% endif %}


{% endblock %}
