{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}CMMi Dev Dashboard {% endif %}  {% endblock %}
{% block body %}
{% if user %}

<!--BODY-->
<div class="container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script>

  <h5 align="left">CMMi for Development:&nbsp;Processes</h5>
  <p align="left">Can you see that the PMBOK processes are found mostly at Maturity Level (ML) 2 (with a few on Level 3 and above).<br>
    Also see that the <a href="/home/landscape" >Standards / Frameworks landscape</a>: Software
    Engineering, DevOps, KanBan, ITIL, CM, Traditional &amp; Agile
    Project Management Process, Cobit and others are fundamentally all
    focused on removing constraints between ML2 processes PP and PMC <a href="/home/vmodel" >as you improve between baselines.</a><br>
    To illustrate this point for Agile Project Management <a href="/home/scrum">check out PP and PMC for Scrum here.</a> </p>
  <hr style="width: 94%">
  <p><span dir="auto"><span class="auto-style2"><b>Category:</b>&nbsp;<span class="smltxt">Logical grouping of Process Areas I.e. Project Management, Engineering, Support etc.<br>
    <span class="auto-style2"><b>PA or Process Area:</b>&nbsp; A Process: <span class="smltxt">is a set of activities, methods, practices, and transformations that people use to develop and maintain systems and associated products.&nbsp; <strong><br>
    </strong>There are 22 processes in CMMi Development 1.3 which form a cluster of related practices in an area that, when performed collectively, satisfy a set of goals considered important for making significant improvement in that area. .<br>
    <span class="auto-style3"><strong>ML or Maturity level:</strong><span class="smltxt">&nbsp; Degree of process improvement across a predefined set of process areas in which all goals within the set are attained.<br>
    <span class="auto-style2"><b>SG or Specific Goal:</b><span class="smltxt">&nbsp; SG's apply to a process area and address the unique characteristics that describe what must be implemented to satisfy the process area. Specific goals are required model components and are used in appraisals to help determine whether a process area is satisfied.<br>
    <span class="auto-style2"><b>SP or Specific Practice:</b> <span class="smltxt">SP's are an activity that is considered important in achieving the associated specific goal. The specific practices describe the activities expected to result in achievement of the specific goals of a process area. Specific practices are expected model components.</span></span></span></span></span></span></span></span></span></span></span></p>
  <p><span dir="auto">
 <map id="ImgMap0" name="ImgMap0">
      <span dir="auto"></span>
     <!--OPF-->
           <area coords="67, 129, 470, 145" href="https://pmway.hopto.org/cmmidev/opf.html#sp11" shape="rect">
      <area coords="66, 147, 472, 164" href="https://pmway.hopto.org/cmmidev/opf.html#sp12" shape="rect">
      <area alt="" coords="68, 164, 470, 183" href="https://pmway.hopto.org/cmmidev/opf.html#sp13" shape="rect">
      <area alt="" coords="65, 184, 470, 200" href="https://pmway.hopto.org/cmmidev/opf.html#sg2" shape="rect">
      <area alt="" coords="66, 197, 470, 219" href="https://pmway.hopto.org/cmmidev/opf.html#sp21" shape="rect">
      <area alt="" coords="64, 218, 471, 239" href="https://pmway.hopto.org/cmmidev/opf.html#sp22" shape="rect">
      <area alt="" coords="64, 236, 470, 269" href="https://pmway.hopto.org/cmmidev/opf.html#sg3" shape="rect">
      <area alt="" coords="64, 268, 471, 288" href="https://pmway.hopto.org/cmmidev/opf.html#sp31" shape="rect">
      <area alt="" coords="64, 286, 470, 308" href="https://pmway.hopto.org/cmmidev/opf.html#sp32" shape="rect">
      <area alt="" coords="65, 305, 470, 325" href="https://pmway.hopto.org/cmmidev/opf.html#sp33" shape="rect">
      <area alt="" coords="65, 322, 470, 343" href="https://pmway.hopto.org/cmmidev/opf.html#sp34" shape="rect">
      <area alt="" coords="0, 128, 64, 146" href="https://pmway.hopto.org/cmmidev/opf.html#sp11wp" shape="rect">
      <area alt="" coords="0, 146, 62, 165" href="https://pmway.hopto.org/cmmidev/opf.html#sp12wp" shape="rect">
      <area alt="" coords="0, 165, 63, 184" href="https://pmway.hopto.org/cmmidev/opf.html#sp13wp" shape="rect">
      <area alt="" coords="0, 197, 62, 218" href="https://pmway.hopto.org/cmmidev/opf.html#sp21wp" shape="rect">
      <area alt="" coords="0, 218, 62, 237" href="https://pmway.hopto.org/cmmidev/opf.html#sp22wp" shape="rect">
      <area alt="" coords="0, 269, 66, 288" href="https://pmway.hopto.org/cmmidev/opf.html#sp31wp" shape="rect">
      <area alt="" coords="0, 287, 64, 309" href="https://pmway.hopto.org/cmmidev/opf.html#sp32wp" shape="rect">
      <area alt="" coords="0, 309, 64, 325" href="https://pmway.hopto.org/cmmidev/opf.html#sp33wp" shape="rect">
      <area alt="" coords="0, 325, 65, 342" href="https://pmway.hopto.org/cmmidev/opf.html#sp34wp" shape="rect">
      <area coords="65, 74, 476, 95" href="https://pmway.hopto.org/cmmidev/opf.html" shape="rect">
      <area coords="65, 96, 475, 130" href="https://pmway.hopto.org/cmmidev/opf.html#sg1" shape="rect">
  <area alt="" coords="476, 75, 513, 95" href="https://pmway.hopto.org/cmmidev/opf.html" shape="rect" >
    <area alt="" coords="1028, 74, 1050, 93" href="https://pmway.hopto.org/cmmidev/pa/opf/opf.html" shape="rect" >

<!--OPD-->

        <area alt="" coords="472, 342, 510, 362" href="https://pmway.hopto.org/cmmidev/opd_ippd.html" shape="rect" >
           <area coords="65, 342, 470, 361" href="https://pmway.hopto.org/cmmidev/opd_ippd.html" shape="rect">


          <area coords="66, 1156, 471, 1177" href="https://pmway.hopto.org/cmmidev/pp.html#sp1.1" shape="rect" >
         <area coords="66, 1177, 471, 1195" href="https://pmway.hopto.org/cmmidev/pp.html#sp1.2" shape="rect" >
      <area coords="63, 1192, 470, 1211" href="https://pmway.hopto.org/cmmidev/pp.html#sp1.3" shape="rect" >

     
      <area coords="63, 1264, 471, 1285" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.2" shape="rect" >


      <area alt="" coords="116, 1195, 468, 1211" href="https://pmway.hopto.org/cmmidev/pp.html#sp13" shape="rect">
      <area coords="62, 1210, 470, 1231" href="https://pmway.hopto.org/cmmidev/pp.html#sp1.4" shape="rect" >
      <area coords="64, 1247, 471, 1268" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.1" shape="rect" >
      <area coords="65, 1281, 471, 1301" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.3" shape="rect" >
      <area coords="63, 1299, 471, 1320" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.4" shape="rect" >
      <area coords="66, 1320, 470, 1336" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.5" shape="rect" >
      <area coords="64, 1337, 470, 1356" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.6" shape="rect" >
      <area coords="63, 1356, 470, 1375" href="https://pmway.hopto.org/cmmidev/pp.html#sp2.7" shape="rect" >
      <area coords="63, 1388, 471, 1410" href="https://pmway.hopto.org/cmmidev/pp.html#sp3.1" shape="rect" >
      <area coords="66, 1410, 471, 1427" href="https://pmway.hopto.org/cmmidev/pp.html#sp3.2" shape="rect" >
      <area coords="114, 1426, 471, 1445" href="https://pmway.hopto.org/cmmidev/pp.html#sp3.3" shape="rect" >
      <area coords="65, 1482, 466, 1503" href="https://pmway.hopto.org/cmmidev/pmc.html#sp11" shape="rect" >
      <area coords="66, 1502, 471, 1521" href="https://pmway.hopto.org/cmmidev/pmc.html#sp12" shape="rect" >
      <area coords="65, 1518, 472, 1540" href="https://pmway.hopto.org/cmmidev/pmc.html#sp13" shape="rect" >
      <area coords="65, 1538, 471, 1558" href="https://pmway.hopto.org/cmmidev/pmc.html#sp14" shape="rect" >
      <area coords="65, 1556, 471, 1578" href="https://pmway.hopto.org/cmmidev/pmc.html#sp15" shape="rect" >
      <area coords="63, 1578, 469, 1595" href="https://pmway.hopto.org/cmmidev/pmc.html#sp16" shape="rect" >
      <area coords="65, 1595, 470, 1614" href="https://pmway.hopto.org/cmmidev/pmc.html#sp17" shape="rect" >
      <area coords="67, 1632, 473, 1652" href="https://pmway.hopto.org/cmmidev/pmc.html#sp21" shape="rect" >
      <area coords="64, 1652, 474, 1670" href="https://pmway.hopto.org/cmmidev/pmc.html#sp22" shape="rect" >
      <area coords="64, 1670, 472, 1691" href="https://pmway.hopto.org/cmmidev/pmc.html#sp23" shape="rect" >
      <area coords="65, 1137, 475, 1155" href="https://pmway.hopto.org/cmmidev/pp.html#sg1" shape="rect" >
      <area coords="65, 1229, 473, 1250" href="https://pmway.hopto.org/cmmidev/pp.html#sg2" shape="rect" >
      <area coords="64, 1374, 471, 1391" href="https://pmway.hopto.org/cmmidev/pp.html#sg3" shape="rect" >
      <area coords="65, 1461, 469, 1481" href="https://pmway.hopto.org/cmmidev/pmc.html#sg1" shape="rect">
      <area coords="65, 1613, 471, 1632" href="https://pmway.hopto.org/cmmidev/pmc.html#sg2" shape="rect" >
      <area coords="65, 1442, 464, 1464" href="https://pmway.hopto.org/cmmidev/pmc.html" shape="rect" >
      <area coords="65, 1122, 464, 1140" href="https://pmway.hopto.org/cmmidev/pp.html" shape="rect" >
      <area alt="" coords="66, 2543, 470, 2560" href="https://pmway.hopto.org/cmmidev/reqm.html#spg" shape="rect">
      <area alt="" coords="66, 2561, 472, 2579" href="https://pmway.hopto.org/cmmidev/reqm.html#sg1" shape="rect">
      <area alt="" coords="66, 2580, 470, 2597" href="https://pmway.hopto.org/cmmidev/reqm.html#sp11" shape="rect">
      <area alt="" coords="67, 2597, 470, 2614" href="https://pmway.hopto.org/cmmidev/reqm.html#sp12" shape="rect">
      <area alt="" coords="66, 2614, 471, 2633" href="https://pmway.hopto.org/cmmidev/reqm.html#sp13" shape="rect">
      <area alt="" coords="68, 2634, 470, 2652" href="https://pmway.hopto.org/cmmidev/reqm.html#sp14" shape="rect">
      <area alt="" coords="66, 2651, 469, 2669" href="https://pmway.hopto.org/cmmidev/reqm.html#sp15" shape="rect">
      <area coords="66, 4459, 472, 4478" href="https://pmway.hopto.org/cmmidev/car.pdf" shape="rect">
      <area coords="66, 3781, 472, 3801" href="https://pmway.hopto.org/cmmidev/cm.pdf" shape="rect" >
      <area alt="" coords="68, 2543, 472, 2561" href="https://pmway.hopto.org/cmmidev/reqm.html" shape="rect">
      <area coords="64, 1689, 474, 1708" href="https://pmway.hopto.org/cmmidev/sam.html" shape="rect" >
      <area alt="" coords="66, 1852, 474, 1868" href="https://pmway.hopto.org/cmmidev/ippd_ipm_ippd.html" shape="rect">
      <area alt="" coords="65, 503, 472, 520" href="https://pmway.hopto.org/cmmidev/ot.html" shape="rect">
      <span dir="auto"></span>


      <area coords="66, 2668, 471, 2686" href="https://pmway.hopto.org/cmmidev/rd.html" shape="rect">
      <area coords="66, 2685, 473, 2704" href="https://pmway.hopto.org/cmmidev/rd.html#sg1" shape="rect">
      <area alt="" coords="67, 2701, 471, 2722" href="https://pmway.hopto.org/cmmidev/rd.html#sp11" shape="rect">
      <area alt="" coords="66, 2719, 470, 2741" href="https://pmway.hopto.org/cmmidev/rd.html#sp12" shape="rect">
      <area alt="" coords="66, 2741, 471, 2757" href="https://pmway.hopto.org/cmmidev/rd.html#sg2" shape="rect">
      <area alt="" coords="66, 2756, 473, 2775" href="https://pmway.hopto.org/cmmidev/rd.html#sp21" shape="rect">
      <area alt="" coords="64, 2774, 472, 2794" href="https://pmway.hopto.org/cmmidev/rd.html#sp22" shape="rect">
      <area alt="" coords="64, 2795, 472, 2814" href="https://pmway.hopto.org/cmmidev/rd.html#sp23" shape="rect">
      <area alt="" coords="65, 2810, 473, 2831" href="https://pmway.hopto.org/cmmidev/rd.html#sg3" shape="rect">
      <area alt="" coords="66, 2830, 470, 2847" href="https://pmway.hopto.org/cmmidev/rd.html#sp31" shape="rect">
      <area alt="" coords="66, 2848, 475, 2868" href="https://pmway.hopto.org/cmmidev/rd.html#sp32" shape="rect">
      <area alt="" coords="66, 2869, 471, 2886" href="https://pmway.hopto.org/cmmidev/rd.html#sp33" shape="rect">
      <area alt="" coords="66, 2885, 473, 2905" href="https://pmway.hopto.org/cmmidev/rd.html#sp34" shape="rect">
      <area alt="" coords="66, 2905, 474, 2924" href="https://pmway.hopto.org/cmmidev/rd.html#sp35" shape="rect">
      <area coords="504, 0, 1051, 36" href="https://pmway.hopto.org/cmmidev/cmmi%20dev%20combined.html" shape="rect" >
      <area coords="475, 1119, 517, 1137" href="https://pmway.hopto.org/cmmidev/pp.html" shape="rect" >
      <area coords="471, 1444, 528, 1464" href="https://pmway.hopto.org/cmmidev/pmc.html" shape="rect" >
      <area coords="471, 2123, 519, 2141" href="https://pmway.hopto.org/cmmidev/rskm.html" shape="rect" >
      <area coords="475, 1688, 516, 1709" href="https://pmway.hopto.org/cmmidev/sam.html" shape="rect" >
      <area alt="" coords="472, 2668, 531, 2688" href="https://pmway.hopto.org/cmmidev/rd.html" shape="rect"  title="">
      <area coords="471, 2540, 525, 2564" href="https://pmway.hopto.org/cmmidev/reqm.html" shape="rect" >
      <area coords="65, 2124, 356, 2143" href="https://pmway.hopto.org/cmmidev/rskm.html" shape="rect">
      <area coords="115, 2161, 471, 2178" href="https://pmway.hopto.org/cmmidev/rskm.html#sp1.1" shape="rect" >
      <area coords="117, 2177, 470, 2196" href="https://pmway.hopto.org/cmmidev/rskm.html#sp1.2" shape="rect" >
      <area coords="116, 2195, 472, 2214" href="https://pmway.hopto.org/cmmidev/rskm.html#sp1.3" shape="rect" >
      <area coords="115, 2232, 472, 2250" href="https://pmway.hopto.org/cmmidev/rskm.html#sp21" shape="rect" >
      <area coords="114, 2248, 472, 2268" href="https://pmway.hopto.org/cmmidev/rskm.html#sp22" shape="rect" >
      <area coords="115, 2287, 472, 2305" href="https://pmway.hopto.org/cmmidev/rskm.html#sp31" shape="rect" >
      <area coords="114, 2305, 474, 2322" href="https://pmway.hopto.org/cmmidev/rskm.html#sp32" shape="rect" >
      <area alt="" coords="1027, 1119, 1051, 1138" href="https://pmway.hopto.org/cmmidev/pa/pp/pp.html" shape="rect" >

      <area alt="" coords="1029, 344, 1050, 363" href="https://pmway.hopto.org/cmmidev/pa/opd_ippd.html" shape="rect" >
      <area alt="" coords="1031, 504, 1049, 527" href="https://pmway.hopto.org/cmmidev/pa/ot/ot.html" shape="rect" >
      <area coords="1027, 694, 1051, 715" href="https://pmway.hopto.org/cmmidev/pa/opp/opp.html" shape="rect" >
      <area alt="" coords="1033, 832, 1051, 852" href="https://pmway.hopto.org/cmmidev/pa/opm/opm.html" shape="rect" >
      <area alt="" coords="1025, 832, 1051, 857" href="https://pmway.hopto.org/cmmidev/pa/opp/opp.html" shape="rect" >
      <area alt="" coords="1026, 1447, 1051, 1465" href="https://pmway.hopto.org/cmmidev/pa/pp/pp.html" shape="rect" >
      <area alt="" coords="1026, 1690, 1051, 1711" href="https://pmway.hopto.org/cmmidev/pa/sam/sam.html" shape="rect">
      <area coords="1024, 1851, 1051, 1874" href="https://pmway.hopto.org/cmmidev/pa/ipm/ipm.html" shape="rect" >
      <area alt="" coords="1025, 2124, 1049, 2147" href="https://pmway.hopto.org/cmmidev/pa/rskm/rskm.html" shape="rect" >
      <area alt="" coords="1026, 2323, 1050, 2346" href="https://pmway.hopto.org/cmmidev/pa/qpm.html" shape="rect" >
      <area alt="" coords="1027, 2542, 1050, 2561" href="https://pmway.hopto.org/cmmidev/pa/reqm.html" shape="rect" >
      <area alt="" coords="1024, 2670, 1050, 2689" href="https://pmway.hopto.org/cmmidev/pa/rd/rd.html" shape="rect" >
      <area alt="" coords="1027, 2923, 1050, 2944" href="https://pmway.hopto.org/cmmidev/pa/ts/ts.html" shape="rect" >
      <area alt="" coords="1019, 3134, 1051, 3156" href="https://pmway.hopto.org/cmmidev/pa/pi/pi.html" shape="rect" >
      <area alt="" coords="1021, 3386, 1049, 3407" href="https://pmway.hopto.org/cmmidev/pa/ver/ver.html" shape="rect" >
      <area alt="" coords="1021, 3602, 1050, 3620" href="https://pmway.hopto.org/cmmidev/pa/val/val.html" shape="rect" >
      <area coords="66, 3798, 471, 3816" href="https://pmway.hopto.org/cmmidev/cm.html#sg1" shape="rect" >
      <area coords="67, 3815, 470, 3836" href="https://pmway.hopto.org/cmmidev/cm.html#sp1.1" shape="rect" >
      <area alt="" coords="64, 3835, 472, 3853" href="https://pmway.hopto.org/cmmidev/cm.html#sp1.2" shape="rect" >
      <area alt="" coords="63, 3850, 473, 3869" href="https://pmway.hopto.org/cmmidev/cm.html#sp1.3" shape="rect" >
      <area alt="" coords="64, 3868, 473, 3889" href="https://pmway.hopto.org/cmmidev/cm.html#sg2" shape="rect" >
      <area alt="" coords="63, 3889, 473, 3909" href="https://pmway.hopto.org/cmmidev/cm.html#sp2.1" shape="rect" >
      <area alt="" coords="63, 3907, 471, 3928" href="https://pmway.hopto.org/cmmidev/cm.html#sp2.2" shape="rect" >
      <area alt="" coords="64, 3924, 473, 3943" href="https://pmway.hopto.org/cmmidev/cm.html#sg3" shape="rect" >
      <area coords="65, 3942, 472, 3963" href="https://pmway.hopto.org/cmmidev/cm.html#sp3.1" shape="rect" >
      <area alt="" coords="63, 3963, 474, 3979" href="https://pmway.hopto.org/cmmidev/cm.html#sp3.2" shape="rect" >
      <area coords="62, 3978, 472, 3998" href="https://pmway.hopto.org/cmmidev/ppqa.pdf" shape="rect" >
      <area coords="63, 3998, 470, 4030" href="https://pmway.hopto.org/cmmidev/ppqa.html#sg1" shape="rect" >
      <area coords="62, 4029, 472, 4048" href="https://pmway.hopto.org/cmmidev/ppqa.html#sp1.1" shape="rect" >
      <area coords="63, 4048, 474, 4065" href="https://pmway.hopto.org/cmmidev/ppqa.html#sp1.2" shape="rect" >
      <area coords="64, 4064, 477, 4083" href="https://pmway.hopto.org/cmmidev/ppqa.html#sg2" shape="rect" >
      <area coords="62, 4081, 478, 4102" href="https://pmway.hopto.org/cmmidev/ppqa.html#sp2.1" shape="rect" >
      <area coords="63, 4101, 475, 4121" href="https://pmway.hopto.org/cmmidev/ppqa.html#sp2.2" shape="rect" >
      <area coords="62, 4121, 474, 4140" href="https://pmway.hopto.org/cmmidev/ma.pdf" shape="rect" >
      <area alt="" coords="61, 4140, 474, 4157" href="https://pmway.hopto.org/cmmidev/ma.html#sp1" shape="rect" >
      <area alt="" coords="64, 4156, 476, 4174" href="https://pmway.hopto.org/cmmidev/ma.html#sp1.1" shape="rect" >
      <area alt="" coords="63, 4175, 472, 4193" href="https://pmway.hopto.org/cmmidev/ma.html#sp1.2" shape="rect" >
      <area alt="" coords="63, 4190, 472, 4209" href="https://pmway.hopto.org/cmmidev/ma.html#sp1.3" shape="rect" >
      <area alt="" coords="64, 4207, 473, 4229" href="https://pmway.hopto.org/cmmidev/ma.html#sp1.4" shape="rect" >
      <area alt="" coords="67, 4226, 472, 4247" href="https://pmway.hopto.org/cmmidev/ma.html#sg2" shape="rect" >
      <area alt="" coords="65, 4247, 475, 4265" href="https://pmway.hopto.org/cmmidev/ma.html#sp2.1" shape="rect" >
      <area alt="" coords="64, 4265, 472, 4281" href="https://pmway.hopto.org/cmmidev/ma.html#sp2.2" shape="rect" >
      <area alt="" coords="64, 4281, 475, 4299" href="https://pmway.hopto.org/cmmidev/ma.html#sp2.3" shape="rect" >
      <area alt="" coords="66, 4298, 473, 4317" href="https://pmway.hopto.org/cmmidev/ma.html#sp2.4" shape="rect" >
      <area coords="63, 1708, 480, 1728" href="https://pmway.hopto.org/cmmidev/sam.html#sg1" shape="rect" >
      <area coords="63, 1725, 473, 1745" href="https://pmway.hopto.org/cmmidev/sam.html#sp1.1" shape="rect" >
      <area alt="" coords="62, 1742, 475, 1762" href="https://pmway.hopto.org/cmmidev/sam.html#sp1.2" shape="rect" >
      <area alt="" coords="65, 1763, 473, 1781" href="https://pmway.hopto.org/cmmidev/sam.html#sp1.3" shape="rect" >
      <area alt="" coords="64, 1781, 473, 1799" href="https://pmway.hopto.org/cmmidev/sam.html#sg2" shape="rect" >
      <area alt="" coords="65, 1797, 474, 1815" href="https://pmway.hopto.org/cmmidev/sam.html#sp2.1" shape="rect" >
      <area alt="" coords="63, 1814, 476, 1833" href="https://pmway.hopto.org/cmmidev/sam.html#sp2.2" shape="rect" >
      <area alt="" coords="62, 1833, 474, 1852" href="https://pmway.hopto.org/cmmidev/sam.html#sp2.3" shape="rect" >


      <area alt="" coords="472, 502, 511, 524" href="https://pmway.hopto.org/cmmidev/ot.html" shape="rect" >
      <area alt="" coords="471, 693, 514, 713" href="https://pmway.hopto.org/cmmidev/opp.html" shape="rect" >
      <area alt="" coords="470, 831, 512, 853" href="https://pmway.hopto.org/cmmidev/opm.html" shape="rect" >
      <area alt="" coords="476, 1849, 511, 1871" href="https://pmway.hopto.org/cmmidev/ipm.html" shape="rect" >
      <area alt="" coords="474, 2321, 513, 2343" href="https://pmway.hopto.org/cmmidev/qpm.html" shape="rect" >
      <area alt="" coords="474, 2923, 509, 2942" href="https://pmway.hopto.org/cmmidev/ts.html" shape="rect" >
      <area alt="" coords="471, 3135, 511, 3156" href="https://pmway.hopto.org/cmmidev/pi.html" shape="rect" >
      <area alt="" coords="471, 3386, 516, 3406" href="https://pmway.hopto.org/cmmidev/ver.html" shape="rect" >
      <area coords="472, 3601, 511, 3620" href="https://pmway.hopto.org/cmmidev/val.html" shape="rect" >
      <area coords="474, 3781, 513, 3801" href="https://pmway.hopto.org/cmmidev/cm.html" shape="rect" >
      <area coords="473, 3977, 516, 4000" href="https://pmway.hopto.org/cmmidev/ppqa.html" shape="rect" >
      <area coords="475, 4119, 511, 4141" href="https://pmway.hopto.org/cmmidev/ma.html" shape="rect" >
      <area coords="471, 4317, 518, 4338" href="https://pmway.hopto.org/cmmidev/dar.html" shape="rect" >
      <area alt="" coords="472, 4456, 515, 4483" href="https://pmway.hopto.org/cmmidev/car.html" shape="rect" >

      <area alt="" coords="64, 4479, 474, 4496" href="https://pmway.hopto.org/cmmidev/car.html#sgone" shape="rect">
      <area alt="" coords="65, 4496, 473, 4513" href="https://pmway.hopto.org/cmmidev/car.html#sponeone" shape="rect">
      <area alt="" coords="64, 4513, 474, 4531" href="https://pmway.hopto.org/cmmidev/car.html#sponetwo" shape="rect">
      <area alt="" coords="65, 4532, 473, 4551" href="https://pmway.hopto.org/cmmidev/car.html#sgtwo" shape="rect">
      <area alt="" coords="62, 4554, 472, 4572" href="https://pmway.hopto.org/cmmidev/car.html#sptwoone" shape="rect">
      <area alt="" coords="64, 4568, 471, 4584" href="https://pmway.hopto.org/cmmidev/car.html#sptwotwo" shape="rect">
      <area alt="" coords="63, 4585, 472, 4603" href="https://pmway.hopto.org/cmmidev/car.html#sptwothree" shape="rect">
      <area alt="" coords="65, 4317, 473, 4334" href="https://pmway.hopto.org/cmmidev/dar.pdf" shape="rect" >
      <area alt="" coords="64, 4335, 476, 4355" href="https://pmway.hopto.org/cmmidev/dar.html#sg1" shape="rect">
      <area coords="65, 4352, 468, 4369" href="https://pmway.hopto.org/cmmidev/dar.html#sp1.1" shape="rect">
      <area alt="" coords="68, 4369, 468, 4389" href="https://pmway.hopto.org/cmmidev/dar.html#sp1.2" shape="rect">
      <area alt="" coords="68, 4389, 475, 4407" href="https://pmway.hopto.org/cmmidev/dar.html#sp1.3" shape="rect">
      <area alt="" coords="66, 4407, 476, 4425" href="https://pmway.hopto.org/cmmidev/dar.html#sp1.4" shape="rect">
      <area alt="" coords="68, 4425, 473, 4442" href="https://pmway.hopto.org/cmmidev/dar.html#sp1.5" shape="rect">
      <area alt="" coords="68, 4440, 473, 4459" href="https://pmway.hopto.org/cmmidev/dar.html#sp1.6" shape="rect">
      <area alt="" coords="66, 3599, 473, 3619" href="https://pmway.hopto.org/cmmidev/val.pdf" shape="rect">
      <area alt="" coords="66, 3619, 473, 3637" href="https://pmway.hopto.org/cmmidev/val.html#sg1" shape="rect">
      <area alt="" coords="66, 3637, 476, 3656" href="https://pmway.hopto.org/cmmidev/val.html#sp1.1" shape="rect">
      <area alt="" coords="66, 3656, 471, 3674" href="https://pmway.hopto.org/cmmidev/val.html#sp1.2" shape="rect">
      <area alt="" coords="66, 3674, 471, 3692" href="https://pmway.hopto.org/cmmidev/val.html#sp1.3" shape="rect">
      <area alt="" coords="66, 3709, 473, 3727" href="https://pmway.hopto.org/cmmidev/val.html#sp2.1" shape="rect">
      <area alt="" coords="64, 3726, 476, 3747" href="https://pmway.hopto.org/cmmidev/val.html#sp2.2" shape="rect">
      <area alt="" coords="66, 3692, 473, 3712" href="https://pmway.hopto.org/cmmidev/val.html#sg2" shape="rect">
    </map>
    <img alt="CMMi-Dev1.3 dashboard" class="img-fluid" src="{{ asset('storage/images/cmmi-dev1.png') }}" usemap="#ImgMap0" ></span></p>
    <p><span dir="auto">&nbsp;</span></p>
    <span dir="auto">
  <map id="ImgMap1" name="ImgMap1">
    <span dir="auto"></span>
    <area alt="" coords="102, 10, 82, 79, 132, 27" href="https://pmway.hopto.org/cmmidev/Resources/module 1.pdf" shape="poly" >
    <area alt="" coords="134, 27, 84, 80, 150, 59" href="https://pmway.hopto.org/cmmidev/Resources/module 2.pdf" shape="poly" >
    <area alt="" coords="149, 62, 84, 79, 149, 96" href="https://pmway.hopto.org/cmmidev/Resources/module 3.pdf" shape="poly" >
    <area alt="" coords="149, 100, 88, 80, 130, 126" href="https://pmway.hopto.org/cmmidev/Resources/module 4.pdf" shape="poly" >
    <area alt="" coords="129, 127, 89, 80, 99, 144" href="https://pmway.hopto.org/cmmidev/Resources/module 5.pdf" shape="poly" >
    <area alt="" coords="102, 144, 86, 78, 62, 144, 101, 148" href="https://pmway.hopto.org/cmmidev/Resources/module 6.pdf" shape="poly" >
    <area alt="" coords="59, 148, 84, 77, 32, 129" href="https://pmway.hopto.org/cmmidev/Resources/module 7.pdf" shape="poly" >
    <area alt="" coords="85, 78, 33, 130, 10, 100" href="https://pmway.hopto.org/cmmidev/Resources/module 8.pdf" shape="poly" >
    <area alt="" coords="80, 79, 11, 99, 8, 61" href="https://pmway.hopto.org/cmmidev/Resources/module 9.pdf" shape="poly" >
    <area alt="" coords="84, 78, 9, 60, 28, 23, 87, 79, 74, 77, 69, 72, 67, 75" href="https://pmway.hopto.org/cmmidev/Resources/module 10.pdf" shape="poly" >
    <area alt="" coords="82, 74, 30, 23, 60, 8" href="https://pmway.hopto.org/cmmidev/Resources/module 11.pdf" shape="poly" >
    <area alt="" coords="83, 73, 61, 7, 103, 9, 88, 68, 82, 65" href="https://pmway.hopto.org/cmmidev/Resources/module 12.pdf" shape="poly" >
  </map>

  <img alt="" class="img-fluid" src="{{ asset('storage/images/cmmimods.png') }}" usemap="#ImgMap1" ><br>
  <br>
          <script>
        imageMapResize();
    </script>
  <br>
  <br>
  <br>
  <br>
  </span> </div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div class="container" align="center">
</div>
{% endif %}


{% endblock %}
