{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Contact PMWay{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->


	<div class="container">

		<div class="content">


 <div class="container"><p style="text-align:center" class="seacolor">
	 <br>
	 <a href="/blog/index.php"><img alt="blog" height="100" src="{{ asset('storage/images/blogicon.png') }}" width="200"></a><br><br>
	 <a href="/blog/contact.php">Click here to &quot;ask a question / submit an idea or article for the blog</a>&quot;<br>
</div>

<br>

<br />
<br>

<!--
<div align="center">
			<a name="member"></a>
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsemember" aria-expanded="false" aria-controls=
        "collapsemember">PMWay Membership / Consulting Option</button>

<div class="collapse" id="collapsemember">
    <div class="container">
        <div class="card text-center">
<h5 class="card-header" align="center">6 month Membership / Consulting Option</h5>
            <div class="card-body text-center">
<p align="left">Essentially membership facilitates my
assistance via your registered email only (as friendly and experienced point of contact on your journey) to help you understand
the PMBOK (and its challenges) in order to pass your CAPM and PMP exams.&nbsp;
<br>For this fee I can also offer practical consulting advice
to members about the best way to use the PMBOK (and many other methodologies)
for success in application in their working environment.<br>
Membership also elevates your access within PMWay, allowing me to assist with additional links, resources etc., within
this web site while assisting you. </p>
<h5 align="left">Membership costs $20 for each 6 month membership sprint.&nbsp;
(Students can motivate via contact form for $10)<br>
				Payment is with bitcoin to the PMWay bitcoin
				wallet address:<img src="{{ asset('storage/images/btcico.png') }}" width="15" height="15"><a href="#">32aWnpphvid1DP2gzF4Xp7mCbbjnRTS4N6</a></h5>
				<p align="left">To pay copy the PMWay bitcoin wallet number and then use any bitcoin provider. <br>PMWay uses
				<a href="//www.luno.com" >LUNO.COM</a> as a
				preferred bitcoin payment provider as their bitcoin app is easy to set up and use.</p>
				<p style="text-align: left">Having registered with PMWay, contact me via the contact form
				as to when I can expect the payment.<br>
				Once received I will upgrade your email account to full membership
				status.<br>
				</p>
</div>

           </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
</div>
<br>-->

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>
<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>
<br>

<br>

<br>

<br>

<br>



<!--ENDBODY-->

    {% else %}


    {% endif %}


{% endblock %}
