{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Deming's 14 Point Philosophy {% endif %}  {% endblock %}
{% block body %}
{% if user %}<!--BODY-->

<div class="container">
<h3>Deming's 14 Point Philosophy</h3>
	<p><a href="\redbeads">Back</a></p>
<hr>
<p>
A Recipe for Total Quality
Deming's 14-Point Philosophy - A Recipe for Total Quality<br>


Find the right balance between quality and speed.<br><br>

The concept of quality is at the core of many of our ideas about effective management and leadership, and programs like Total Quality Management and Six Sigma have been at the heart of many companies' success.  We know now that quality needs to be built into every level of a company, and become part of everything the organization does. From answering the phone to assembling products and serving the end customer, quality is key to organizational success.<br><br>

This idea is very much a part of modern management philosophy. But where did this idea originate? Before things like globalization and technological advances became so important, competitive pressures were typically much lower, and companies were usually satisfied with focusing their quality efforts on the production process alone. Now, quality is often thought to start and end with the customer, and all points leading to and from the customer must aim for high-quality service and interaction.</p>

	<h3>A New Business Philosophy</h3>
<p>We owe this transformative thinking to Dr. W. Edwards Deming. A statistician who went to Japan to help with the census after World War II, Deming also taught statistical process control to leaders of prominent Japanese businesses. His message was this: By improving quality, companies will decrease expenses as well as increase productivity and market share.<br><br>

After applying Deming's techniques, Japanese businesses like Toyota, Fuji, and Sony saw great success. Their quality was far superior to that of their global competitors, and their costs were lower. The demand for Japanese products soared – and by the 1970s, many of these companies dominated the global market. American and European companies realized that they could no longer ignore the quality revolution.<br><br>


So the business world developed a new appreciation for the effect of quality on production and price. Although Deming didn't create the name Total Quality Management, he's credited with starting the movement. He didn't receive much recognition for his work until 1982, when he wrote the book now titled "Out of the Crisis." This book summarized his famous 14-point management philosophy.  There's much to learn from these 14 points. Study after study of highly successful companies shows that following the philosophy leads to significant improvements. That's why these 14 points have become a standard reference for quality transformation.<br><br>

Note:
Deming's points apply to any type and size of business. Service companies need to control quality just as much as manufacturing companies. And the philosophy applies equally to large multinational corporations, different divisions or departments within a company, and one-man operations.<br><br>

	<h3>The 14 Points</h3>
	<h5>Create a constant purpose toward improvement.</h5>
<ul>
<li>Plan for quality in the long term.</li>
<li>Resist reacting with short-term solutions.</li>
<li>Don't just do the same things better – find better things to do.</li>
<li>Predict and prepare for future challenges, and always have the goal of getting better.</li>
	</ul>
	<h5>Adopt the new philosophy.</h5>
	<ul>
<li>Embrace quality throughout the organization.</li>
<li>Put your customers' needs first, rather than react to competitive pressure – and design products and services to meet those needs.</li>
<li>Be prepared for a major change in the way business is done. It's about leading, not simply managing.</li>
<li>Create your quality vision, and implement it.</li>
	</ul>
	<h5>Stop depending on inspections.</h5>
	<ul>
<li>Inspections are costly and unreliable – and they don't improve quality, they merely find a lack of quality.</li>
<li>Build quality into the process from start to finish.</li>
<li>Don't just find what you did wrong – eliminate the "wrongs" altogether.</li>
<li>Use statistical control methods – not physical inspections alone – to prove that the process is working.</li>
	</ul>
	<h5>Use a single supplier for any one item.</h5>
	<ul>
<li>Quality relies on consistency – the less variation you have in the input, the less variation you'll have in the output.</li>
<li>Look at suppliers as your partners in quality. Encourage them to spend time improving their own quality – they shouldn't compete for your business based on price alone.</li>
<li>Analyze the total cost to you, not just the initial cost of the product.</li>
<li>Use quality statistics to ensure that suppliers meet your quality standards.</li>
	</ul>
	<h5>Improve constantly and forever.</h5>
	<ul>
<li>Continuously improve your systems and processes. Deming promoted the Plan-Do-Check-Act approach to process analysis and improvement.</li>
<li>Emphasize training and education so everyone can do their jobs better.</li>
<li>Use kaizen  as a model to reduce waste and to improve productivity, effectiveness, and safety.</li>
	</ul>
	<h5>Use training on the job.</h5>
	<ul>
<li>Train for consistency to help reduce variation.</li>
<li>Build a foundation of common knowledge.</li>
<li>Allow workers to understand their roles in the "big picture."</li>
<li>Encourage staff to learn from one another, and provide a culture and environment for effective teamwork.</li>
	</ul>
	<h5>Implement leadership.</h5>
	<ul>
<li>Expect your supervisors and managers to understand their workers and the processes they use.</li>
<li>Don't simply supervise – provide support and resources so that each staff member can do his or her best. Be a coach instead of a policeman.</li>
<li>Figure out what each person actually needs to do his or her best.</li>
<li>Emphasize the importance of participative management and transformational leadership.</li>
<li>Find ways to reach full potential, and don't just focus on meeting targets and quotas.</li>
	</ul>
	<h5>Eliminate fear.</h5>
<ul>
	<li>Allow people to perform at their best by ensuring that they're not afraid to express ideas or concerns.</li>
<li>Let everyone know that the goal is to achieve high quality by doing more things right – and that you're not interested in blaming people when mistakes happen.</li>
<li>Make workers feel valued, and encourage them to look for better ways to do things.</li>
<li>Ensure that your leaders are approachable and that they work with teams to act in the company's best interests.</li>
<li>Use open and honest communication to remove fear from the organization.</li>
	</ul>
	<h5>Break down barriers between departments.</h5>
	<ul>
<li>Build the "internal customer" concept – recognize that each department or function serves other departments that use their output.</li>
<li>Build a shared vision.</li>
<li>Use cross-functional teamwork to build understanding and reduce adversarial relationships.</li>
<li>Focus on collaboration and consensus instead of compromise.</li>
	</ul>
	<h5>Get rid of unclear slogans.</h5>
	<ul>
<li>Let people know exactly what you want – don't make them guess. "Excellence in service" is short and memorable, but what does it mean? How is it achieved? The message is clearer in a slogan like "You can do better if you try."</li>
<li>Don't let words and nice-sounding phrases replace effective leadership. Outline your expectations, and then praise people face-to-face for doing good work.</li>
	</ul>
	<h5>Eliminate management by objectives.</h5>
	<ul>
<li>Look at how the process is carried out, not just numerical targets. Deming said that production targets encourage high output and low quality.</li>
<li>Provide support and resources so that production levels and quality are high and achievable.</li>
<li>Measure the process rather than the people behind the process.<br>
Tip:<br>
	There are situations in which approaches like Management By Objectives are appropriate, for example, in motivating sales-people. As Deming points out, however, there are many situations where a focus on objectives can lead people to cut corners with quality. You'll need to decide for yourself whether or not to use these approaches. If you do, make sure that you think through the behaviors that your objectives will motivate.</li>
	</ul>

	<h5>Remove barriers to pride of workmanship.</h5>
	<ul>
<li>Allow everyone to take pride in their work without being rated or compared.</li>
<li>Treat workers the same, and don't make them compete with other workers for monetary or other rewards. Over time, the quality system will naturally raise the level of everyone's work to an equally high level.</li>
	</ul>
	<h5>Implement education and self-improvement.</h5>
	<ul>
<li>Improve the current skills of workers.
		<li>Encourage people to learn new skills to prepare for future changes and challenges.</li>
<li>Build skills to make your workforce more adaptable to change, and better able to find and achieve improvements.</li>
	</ul>
	<h5>Make "transformation" everyone's job.</h5>
		<ul>
<li>Improve your overall organization by having each person take a step toward quality.</li>
<li>Analyze each small step, and understand how it fits into the larger picture.</li>
<li>Use effective change management principles to introduce the new philosophy and ideas in Deming's 14 points.</li>
	</ul>

<p><i>From Deming, W. Edwards, Out of the Crisis, 14 Points, pages 23-24, © 2000 Massachusetts Institute of Technology, by permission of The MIT Press.</i></p>

	<h3>Key Points</h3>
<p>Deming's 14 points have had far-reaching effects on the business world.  While they don't really tell us exactly how to implement the changes he recommends, they do give us enough information about what to change. The challenge for all of us is to apply Deming's points to our companies, departments, and teams. Taken as a whole, the 14 points are a guide to the importance of building customer awareness, reducing variation, and fostering constant continuous change and improvement throughout organizations.</p>

	<br><br>
	<p>Thanks to <a href="https://www.mindtools.com/pages/article/newSTR_75.htm">MindTools</a></p>
</div>

<!--ENDBODY-->

{% endif %}


{% if not user %}

<div class="container">
<h3>Deming's 14 Point Philosophy</h3>
	<p><a href="\redbeads">Back</a></p>
<hr>
<p>
A Recipe for Total Quality
Deming's 14-Point Philosophy - A Recipe for Total Quality<br>


Find the right balance between quality and speed.<br><br>

The concept of quality is at the core of many of our ideas about effective management and leadership, and programs like Total Quality Management and Six Sigma have been at the heart of many companies' success.  We know now that quality needs to be built into every level of a company, and become part of everything the organization does. From answering the phone to assembling products and serving the end customer, quality is key to organizational success.<br><br>

This idea is very much a part of modern management philosophy. But where did this idea originate? Before things like globalization and technological advances became so important, competitive pressures were typically much lower, and companies were usually satisfied with focusing their quality efforts on the production process alone. Now, quality is often thought to start and end with the customer, and all points leading to and from the customer must aim for high-quality service and interaction.</p>

	<h3>A New Business Philosophy</h3>
<p>We owe this transformative thinking to Dr. W. Edwards Deming. A statistician who went to Japan to help with the census after World War II, Deming also taught statistical process control to leaders of prominent Japanese businesses. His message was this: By improving quality, companies will decrease expenses as well as increase productivity and market share.<br><br>

After applying Deming's techniques, Japanese businesses like Toyota, Fuji, and Sony saw great success. Their quality was far superior to that of their global competitors, and their costs were lower. The demand for Japanese products soared – and by the 1970s, many of these companies dominated the global market. American and European companies realized that they could no longer ignore the quality revolution.<br><br>


So the business world developed a new appreciation for the effect of quality on production and price. Although Deming didn't create the name Total Quality Management, he's credited with starting the movement. He didn't receive much recognition for his work until 1982, when he wrote the book now titled "Out of the Crisis." This book summarized his famous 14-point management philosophy.  There's much to learn from these 14 points. Study after study of highly successful companies shows that following the philosophy leads to significant improvements. That's why these 14 points have become a standard reference for quality transformation.<br><br>

Note:
Deming's points apply to any type and size of business. Service companies need to control quality just as much as manufacturing companies. And the philosophy applies equally to large multinational corporations, different divisions or departments within a company, and one-man operations.<br><br>

	<h3>The 14 Points</h3>
	<h5>Create a constant purpose toward improvement.</h5>
<ul>
<li>Plan for quality in the long term.</li>
<li>Resist reacting with short-term solutions.</li>
<li>Don't just do the same things better – find better things to do.</li>
<li>Predict and prepare for future challenges, and always have the goal of getting better.</li>
	</ul>
	<h5>Adopt the new philosophy.</h5>
	<ul>
<li>Embrace quality throughout the organization.</li>
<li>Put your customers' needs first, rather than react to competitive pressure – and design products and services to meet those needs.</li>
<li>Be prepared for a major change in the way business is done. It's about leading, not simply managing.</li>
<li>Create your quality vision, and implement it.</li>
	</ul>
	<h5>Stop depending on inspections.</h5>
	<ul>
<li>Inspections are costly and unreliable – and they don't improve quality, they merely find a lack of quality.</li>
<li>Build quality into the process from start to finish.</li>
<li>Don't just find what you did wrong – eliminate the "wrongs" altogether.</li>
<li>Use statistical control methods – not physical inspections alone – to prove that the process is working.</li>
	</ul>
	<h5>Use a single supplier for any one item.</h5>
	<ul>
<li>Quality relies on consistency – the less variation you have in the input, the less variation you'll have in the output.</li>
<li>Look at suppliers as your partners in quality. Encourage them to spend time improving their own quality – they shouldn't compete for your business based on price alone.</li>
<li>Analyze the total cost to you, not just the initial cost of the product.</li>
<li>Use quality statistics to ensure that suppliers meet your quality standards.</li>
	</ul>
	<h5>Improve constantly and forever.</h5>
	<ul>
<li>Continuously improve your systems and processes. Deming promoted the Plan-Do-Check-Act approach to process analysis and improvement.</li>
<li>Emphasize training and education so everyone can do their jobs better.</li>
<li>Use kaizen  as a model to reduce waste and to improve productivity, effectiveness, and safety.</li>
	</ul>
	<h5>Use training on the job.</h5>
	<ul>
<li>Train for consistency to help reduce variation.</li>
<li>Build a foundation of common knowledge.</li>
<li>Allow workers to understand their roles in the "big picture."</li>
<li>Encourage staff to learn from one another, and provide a culture and environment for effective teamwork.</li>
	</ul>
	<h5>Implement leadership.</h5>
	<ul>
<li>Expect your supervisors and managers to understand their workers and the processes they use.</li>
<li>Don't simply supervise – provide support and resources so that each staff member can do his or her best. Be a coach instead of a policeman.</li>
<li>Figure out what each person actually needs to do his or her best.</li>
<li>Emphasize the importance of participative management and transformational leadership.</li>
<li>Find ways to reach full potential, and don't just focus on meeting targets and quotas.</li>
	</ul>
	<h5>Eliminate fear.</h5>
<ul>
	<li>Allow people to perform at their best by ensuring that they're not afraid to express ideas or concerns.</li>
<li>Let everyone know that the goal is to achieve high quality by doing more things right – and that you're not interested in blaming people when mistakes happen.</li>
<li>Make workers feel valued, and encourage them to look for better ways to do things.</li>
<li>Ensure that your leaders are approachable and that they work with teams to act in the company's best interests.</li>
<li>Use open and honest communication to remove fear from the organization.</li>
	</ul>
	<h5>Break down barriers between departments.</h5>
	<ul>
<li>Build the "internal customer" concept – recognize that each department or function serves other departments that use their output.</li>
<li>Build a shared vision.</li>
<li>Use cross-functional teamwork to build understanding and reduce adversarial relationships.</li>
<li>Focus on collaboration and consensus instead of compromise.</li>
	</ul>
	<h5>Get rid of unclear slogans.</h5>
	<ul>
<li>Let people know exactly what you want – don't make them guess. "Excellence in service" is short and memorable, but what does it mean? How is it achieved? The message is clearer in a slogan like "You can do better if you try."</li>
<li>Don't let words and nice-sounding phrases replace effective leadership. Outline your expectations, and then praise people face-to-face for doing good work.</li>
	</ul>
	<h5>Eliminate management by objectives.</h5>
	<ul>
<li>Look at how the process is carried out, not just numerical targets. Deming said that production targets encourage high output and low quality.</li>
<li>Provide support and resources so that production levels and quality are high and achievable.</li>
<li>Measure the process rather than the people behind the process.<br>
Tip:<br>
	There are situations in which approaches like Management By Objectives are appropriate, for example, in motivating sales-people. As Deming points out, however, there are many situations where a focus on objectives can lead people to cut corners with quality. You'll need to decide for yourself whether or not to use these approaches. If you do, make sure that you think through the behaviors that your objectives will motivate.</li>
	</ul>

	<h5>Remove barriers to pride of workmanship.</h5>
	<ul>
<li>Allow everyone to take pride in their work without being rated or compared.</li>
<li>Treat workers the same, and don't make them compete with other workers for monetary or other rewards. Over time, the quality system will naturally raise the level of everyone's work to an equally high level.</li>
	</ul>
	<h5>Implement education and self-improvement.</h5>
	<ul>
<li>Improve the current skills of workers.
		<li>Encourage people to learn new skills to prepare for future changes and challenges.</li>
<li>Build skills to make your workforce more adaptable to change, and better able to find and achieve improvements.</li>
	</ul>
	<h5>Make "transformation" everyone's job.</h5>
		<ul>
<li>Improve your overall organization by having each person take a step toward quality.</li>
<li>Analyze each small step, and understand how it fits into the larger picture.</li>
<li>Use effective change management principles to introduce the new philosophy and ideas in Deming's 14 points.</li>
	</ul>

<p><i>From Deming, W. Edwards, Out of the Crisis, 14 Points, pages 23-24, © 2000 Massachusetts Institute of Technology, by permission of The MIT Press.</i></p>

	<h3>Key Points</h3>
<p>Deming's 14 points have had far-reaching effects on the business world.  While they don't really tell us exactly how to implement the changes he recommends, they do give us enough information about what to change. The challenge for all of us is to apply Deming's points to our companies, departments, and teams. Taken as a whole, the 14 points are a guide to the importance of building customer awareness, reducing variation, and fostering constant continuous change and improvement throughout organizations.</p>

	<br><br>
	<p>Thanks to <a href="https://www.mindtools.com/pages/article/newSTR_75.htm">MindTools</a></p>
	</div>

<!--ENDBODY-->

<!--ENDBODY-->

{% endif %}
{% endblock %}
