{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Experience Curves{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->
<div class="container">
<h3>Experience Curve Effects</h3>
<!--<p> <a href="/pmway">
				<img alt="Back" height="30" src="{{ asset('storage/images/qnaarrow_left.png') }}" width="30" class="auto-style1" /></a></p>-->

<hr />
<div id="bodyContent">
  <p>The <b>learning curve effect</b> and the closely related <b>experience curve effect</b> express the relationship
    between experience and
    efficiency. As individuals and/or organizations get more
    experienced at a task, they usually become more efficient at
    them. Both concepts originate in the old adage, &quot;practice
    makes perfect&quot;.</p>
  <a name="The_Learning_Curve_Effect"></a>
  <h5>The Learning Curve Effect</h5>
  <p>The learning curve effect states that the more often a
    task is performed, the less time will be required on each
    iteration. This relationship was first quantified in
    1925 at
    Wright-Patterson Air Force Base in the
    United States, where it was determined that every time
    aircraft production doubled, the required labour time
    decreased by 10 to 15 percent. Subsequent empirical studies
    from other industries have yielded different values ranging
    from only a couple of percent up to 30 percent, but in most
    cases it is a constant percentage: It did not vary at
    different scales of operation.</p>
  <a name="The_Experience_Curve_Effect"></a>
  <h5>The Experience Curve Effect</h5>
  <p>The experience curve effect is broader in scope than the
    learning curve effect encompassing far more than just labour
    time. It states that the more often a task is performed, the
    lower will be the cost of doing it. The task can be the
    production of any good or service. Each time cumulative
    volume doubles, value added costs (including administration,
    marketing, distribution, and manufacturing) fall by a
    constant and predictable percentage. This broader effect was
    first noticed in the late 1960s by Bruce Henderson at the
    Boston Consulting Group (BCG). Research by BCG in the
    1970s observed experience curve effects for various
    industries that ranged from 10 to 25 percent.</p>
  <p>These effects are often expressed graphically. The curve
    is plotted with cumulative units produced on the horizontal
    axis and unit cost on the vertical axis. A curve that
    depicts a 15% cost reduction for every doubling of output is
    called an &#8220;85% experience curve&#8221;, indicating that unit costs
    drop to 85% of their original level.</p>
  <div> <img alt="" class="img-fluid" height="284" src="{{ asset('storage/images/learningcurve2.png') }}" width="524" /><br />
    <i>Two Experience Curves</i></div>
  <a name="Reasons_for_the_Effect"></a>
  <h5>Reasons for the Effect</h5>
  <p>There are a number of reasons why the experience curve
    and learning curve apply in most situations. They include:</p>
  <ul>
    <li>Labour Efficiency - Workers become physically more
      dexterous. They become mentally more confident and spend
      less time hesitating, learning, experimenting, or making
      mistakes. Over time we learn short-cuts and
      improvements. This applies to all employees and
      managers, not just those directly involved in
      production. </li>
    <li>Standardization, Specialization, and Methods
      Improvements - As processes, parts, and products become
      more standardized, efficiency tends to increase. When
      employees specialize in a limited set of tasks, they
      gain more experience with these tasks and operate at a
      faster rate. </li>
    <li>Technology-Driven Learning - Automated production
      technology and information technology can introduce
      efficiencies as they are implemented and people learn
      how to use them efficiently and effectively. </li>
    <li>Changes in the Resource Mix - As a company acquires
      experience, it can alter its mix of inputs and thereby
      become more efficient. </li>
    <li>Product Redesign - As consumers have more experience
      with the product, they can suggest improvements. This
      filters through to the manufacturing process. A good
      example of this is Cadillac's testing of various &quot;bells
      and whistles&quot; specialty accessories. The ones that did
      not break became mass produced in other GM products; the
      ones that didn't stand the test of user &quot;beatings&quot; were
      discontinued, saving the car company money. As GM
      produced more cars, they learned how to best produce
      products that work for the least money. </li>
    <li>Value Chain Effects - Experience curve effects are
      not limited to your company. Suppliers and distributors
      will also ride down the learning curve, making the whole
      value chain more efficient. </li>
    <li>Shared Experience Effects - Experience curve effects
      are reinforced when two or more products share a common
      activity or resource. Any efficiencies learned from one
      product can be applied to the other products. </li>
  </ul>
  <a name="Experience_Curve_Discontinuities"></a>
  <h5>Experience Curve Discontinuities</h5>
  <p>The experience curve effect can on occasion come to an
    abrupt stop. Graphically, the curve is truncated. Existing
    processes become obsolete and the firm must upgrade to
    remain competitive. The upgrade will mean the old experience
    curve will be replaced by a new one. This occurs when:</p>
  <ul>
    <li>Competitors introduce new products or processes that
      you must respond to </li>
    <li>Technological change requires that you or your
      suppliers change processes </li>
    <li>The experience curve strategies must be re-evaluated
      because they are leading to
      price wars </li>
    <li>they are not producing a
      marketing mix that the market values </li>
  </ul>
  </li>
  <a name="Strategic_Consequences_of_the_Effect"></a>
  <h5>Strategic Consequences of the Effect</h5>
  <p>The BCG strategists examined the consequences of the
    experience effect for businesses. They concluded that
    because relatively low cost of operations is a very powerful
    strategic advantage, firms should capitalize on these
    learning and experience effects. The reasoning is, increased
    activity leads to increased learning, which leads to lower
    costs, which can lead to lower prices, which can lead to
    increased market share, which can lead to increased
    profitability and market dominance. According to BCG, the
    most effective business strategy was one of striving for
    market dominance in this way. This was particularly true
    when a firm had an early leadership in market share. It was
    claimed that if you cannot get enough market share to be
    competitive, you should get out of that business and
    concentrate your resources where you can take advantage of
    experience effects and gain dominant market share. The BCG
    strategists developed
    product portfolio techniques like the
    BCG Matrix (in part) to manage this strategy.</p>
  <p>Today we recognize that there are other strategies that
    are just as effective as cost leadership so we need not
    limit ourselves to this one path. See for example
    Porter generic strategies which talks about
    product differentiation and focused
    market segmentation as two alternatives to cost
    leadership.</p>
  <p>One consequence of the experience curve effect is cost
    savings should be passed on as price decreases rather than
    kept as profit margin increases. The BCG strategists felt
    that maintaining a relatively high price, although very
    profitable in the short run, spelled disaster for the
    strategy in the long run. They felt that it encouraged
    competitors to enter the market, triggering a steep price
    decline and a competitive shakeout. If prices were reduced
    as unit costs fell (due to experience curve effects), then
    competitive entry would be discouraged and one&#8217;s market
    share maintained. Using this strategy, you could always stay
    one step ahead of new or existing rivals.</p>
  <a name="Criticisms_of_the_Effects"></a>
  <h5>Criticisms of the Effects</h5>
  <p>Some authors claim that in most organizations it is
    impossible to quantify the effects. They claim that
    experience effects are so closely intertwined with
    economies of scale that it is impossible to separate the
    two. In theory we can say that economies of scale are those
    efficiencies that arise from an increased scale of
    production, and that experience effects are those
    efficiencies that arise from the learning and experience
    gained from repeated activities, but in practice the two
    mirror each other: growth of experience coincides with
    increased production. Economies of scale should be
    considered one of the reasons why experience effects exist.
    Likewise, experience effects are one of the reasons why
    economies of scale exist. This makes assigning a numerical
    value to either of them difficult.</p>
  <p>Others claim that it is a mistake to see either learning
    curve effects or experience curve effects as a given. They
    stress that they are not a universal law or even a strong
    tendency in nature. In fact, they claim that costs, if not
    managed will tend to rise. Any experience effects that have
    been achieved results from a concerted effort by all those
    involved. They see the effect as an opportunity that
    management can create, rather than a general characteristic
    of organizations.</p>
  <br>
  <br>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
