{% extends 'simplemedia.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}How To Iteration Planning{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->

<div class="container" align="left">

<h3>How To Iteration Planning Review</h3>
<p><a href="/home/spo">Back</a></p>
<hr>
<p><a href="#playlist">PLAYLIST</a></p>
<!--<p><a href="/vidsviewpdf/resources/endechaoremus.pdf" >The Music Sheet</a></p>  -->


  <div id="player" align="center">
	  <!-- video source and track elements will be populated from playlist -->
		<video id="video1" preload="auto" data-able-player playsinline ></video>
  </div>
		<div id="playlist">
		<h2><a name="playlist"></a>Playlist</h2>
		<!-- an AblePlayer playlist is any <ul> with class="able-playlist" -->
		<!-- The value of data-player must match the id of the media element -->
		<!-- see documentation for additional details -->
		<ul class="able-playlist" data-player="video1">



	<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/howtoiterationplanning/howtoiterationplanning.mp4">

		</span>

				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">How To Iteration Planning Review		</button>
			</li>





			</ul>
			<br>
			<br>







</div>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>


<br>
<br>


</div>
{% else %}
<div class="container" align="left">

<h3>How To Iteration Planning Review</h3>
<p><a href="/home/spo">Back</a></p>
<hr>
<p><a href="#playlist">PLAYLIST</a></p>
<!--<p><a href="/vidsviewpdf/resources/endechaoremus.pdf" >The Music Sheet</a></p>  -->


  <div id="player" align="center">
	  <!-- video source and track elements will be populated from playlist -->
		<video id="video1" preload="auto" data-able-player playsinline ></video>
  </div>
		<div id="playlist">
		<h2><a name="playlist"></a>Playlist</h2>
		<!-- an AblePlayer playlist is any <ul> with class="able-playlist" -->
		<!-- The value of data-player must match the id of the media element -->
		<!-- see documentation for additional details -->
		<ul class="able-playlist" data-player="video1">



	<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/howtoiterationplanning/howtoiterationplanning.mp4">

		</span>

				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">How To Iteration Planning Review		</button>
			</li>





			</ul>
			<br>
			<br>







</div>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>


<br>
<br>


</div>
{% endif %}
{% endblock %}
