{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
SD{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
  <h3>ITIL SO Operations Control (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilso">Back to ITIL Service Operation</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>IT Operations Control</i> aims to monitor and control the IT services and their underlying infrastructure. This ITIL process executes day-to-day routine tasks related to the operation of infrastructure components and applications. This includes job scheduling, backup and restore activities, print and output management, and routine maintenance.</span></p>
  <p><b>Part of</b>: Service Operation </p>
  <p><b>Process Owner</b>: IT Operations Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>ITIL does not provide a detailed explanation of all aspects of IT Operations, as the activities to be carried out will depend on the specific applications and infrastructure components in use. </p>
  <p>Rather, <i><b>ITIL 2011</b></i> highlights common operational activities and assists in identifying important interfaces with other Service Management processes. The process overview shows the key information flows. </p>
  <p>The official ITIL publications present IT Operations Control as a "function". </p>
  <p>&#160;</p>
  <p>Note: In ITIL V3 2007, IT Operations Control activities were covered in the process "IT Operations Management". </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">IT Operations Control</a>. </p>
  <p>&#160;</p>
  <p><br style="clear:both;" />
  </p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="IT_Operations_Manager">IT Operations Manager - Process Owner</span></b> </p>
  <ul>
    <li>An IT Operations Manager will be needed to take overall responsibility for a number of Service Operation activities. For instance, this role will ensure that all day-to-day operational activities are carried out in a timely and reliable way.</li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="IT_Operator">IT Operator</span></b> </p>
  <ul>
    <li>IT Operators are the staff who perform the day-to-day operational activities. Typical responsibilities include: Performing backups, ensuring that scheduled jobs are performed, installing standard equipment in the data center.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="3"><b>Responsibility Matrix: IT Operations Control</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 55%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">IT Operations Manager </th>
        <th style="background:#ffffee;">IT-Operator </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">IT Operations Control</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>A </td>
        <td>R </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the IT Operations Control process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within IT Operations Control.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL SO Operations Control (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilso">Back to ITIL Service Operation</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>IT Operations Control</i> aims to monitor and control the IT services and their underlying infrastructure. This ITIL process executes day-to-day routine tasks related to the operation of infrastructure components and applications. This includes job scheduling, backup and restore activities, print and output management, and routine maintenance.</span></p>
  <p><b>Part of</b>: Service Operation </p>
  <p><b>Process Owner</b>: IT Operations Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>ITIL does not provide a detailed explanation of all aspects of IT Operations, as the activities to be carried out will depend on the specific applications and infrastructure components in use. </p>
  <p>Rather, <i><b>ITIL 2011</b></i> highlights common operational activities and assists in identifying important interfaces with other Service Management processes. The process overview shows the key information flows. </p>
  <p>The official ITIL publications present IT Operations Control as a "function". </p>
  <p>&#160;</p>
  <p>Note: In ITIL V3 2007, IT Operations Control activities were covered in the process "IT Operations Management". </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">IT Operations Control</a>. </p>
  <p>&#160;</p>
  <p><br style="clear:both;" />
  </p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="IT_Operations_Manager">IT Operations Manager - Process Owner</span></b> </p>
  <ul>
    <li>An IT Operations Manager will be needed to take overall responsibility for a number of Service Operation activities. For instance, this role will ensure that all day-to-day operational activities are carried out in a timely and reliable way.</li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="IT_Operator">IT Operator</span></b> </p>
  <ul>
    <li>IT Operators are the staff who perform the day-to-day operational activities. Typical responsibilities include: Performing backups, ensuring that scheduled jobs are performed, installing standard equipment in the data center.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="3"><b>Responsibility Matrix: IT Operations Control</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 55%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">IT Operations Manager </th>
        <th style="background:#ffffee;">IT-Operator </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">IT Operations Control</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>A </td>
        <td>R </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the IT Operations Control process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within IT Operations Control.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
