{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
CSI{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
  <h3>ITIL CSI Monitoring of CSI Initiatives</h3>
  <p><i><a href="/home/itilcsi">Back to ITIL Continual Service Improvement</a></i></p>
  <p><a href="{{ asset('storage/assets/sosummary.pdf#page=1') }}" >Awesome summary of this process (Note the whole chapter is relevant to the CSI process)</a></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description">The objective of the ITIL process <i>'Monitoring of CSI Initiatives'</i> is to verify if improvement initiatives are proceeding according to plan, and to introduce corrective measures where necessary.</span></p>
  <p><b>Part of</b>: Continual Service Improvement </p>
  <p><b>Process Owner</b>: CSI Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>A key change between ITIL V2 and ITIL V3 has been a new focus on continually improving services and processes. ITIL V3 introduced specific processes for service and process evaluation and <a class="mw-selflink selflink">improvement</a>. </p>
  <p>To reflect the new structure of Service Strategy processes in <i><b>ITIL 2011</b></i> the interfaces of the process have been adapted. The process overview of <a href="/images/itilcsifour.jpg"  title="Itil-csi-monitoring.jpg">ITIL CSI Monitoring (.JPG)</a> shows the key information flows (<i>see Fig. 1</i>). </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL CSI Monitoring</a>. </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="CSI_Manager">CSI Manager - Process Owner</span></b> </p>
  <ul>
    <li>The Continual Service Improvement (CSI) Manager is responsible for managing improvements to IT Services. He will continually measure the performance of the service provider and design improvements to processes, services and infrastructure in order to increase efficiency, effectiveness, and cost effectiveness.</li>
  </ul>
  <p>&#160;</p>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: Monitoring of CSI Initiatives</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">CSI Manager </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Monitoring of CSI Initiatives</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the ITIL "Monitoring of CSI Initiatives" process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within CSI Monitoring.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL CSI Monitoring of CSI Initiatives</h3>
  <p><i><a href="/home/itilcsi">Back to ITIL Continual Service Improvement</a></i></p>
  <p><a href="{{ asset('storage/assets/sosummary.pdf#page=1') }}" >Awesome summary of this process (Note the whole chapter is relevant to the CSI process)</a></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description">The objective of the ITIL process <i>'Monitoring of CSI Initiatives'</i> is to verify if improvement initiatives are proceeding according to plan, and to introduce corrective measures where necessary.</span></p>
  <p><b>Part of</b>: Continual Service Improvement </p>
  <p><b>Process Owner</b>: CSI Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>A key change between ITIL V2 and ITIL V3 has been a new focus on continually improving services and processes. ITIL V3 introduced specific processes for service and process evaluation and <a class="mw-selflink selflink">improvement</a>. </p>
  <p>To reflect the new structure of Service Strategy processes in <i><b>ITIL 2011</b></i> the interfaces of the process have been adapted. The process overview of <a href="/images/itilcsifour.jpg"  title="Itil-csi-monitoring.jpg">ITIL CSI Monitoring (.JPG)</a> shows the key information flows (<i>see Fig. 1</i>). </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL CSI Monitoring</a>. </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="CSI_Manager">CSI Manager - Process Owner</span></b> </p>
  <ul>
    <li>The Continual Service Improvement (CSI) Manager is responsible for managing improvements to IT Services. He will continually measure the performance of the service provider and design improvements to processes, services and infrastructure in order to increase efficiency, effectiveness, and cost effectiveness.</li>
  </ul>
  <p>&#160;</p>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: Monitoring of CSI Initiatives</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">CSI Manager </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Monitoring of CSI Initiatives</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the ITIL "Monitoring of CSI Initiatives" process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within CSI Monitoring.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
