{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
SD{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
  <h3>ITIL SD Architecture Management (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilsd">Back to ITIL Service Design</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description">According to ITIL the <i>IT Architecture Management</i> process aims to define a blueprint for the future development of the technological landscape, taking into account the service strategy and newly available technologies.</span></p>
  <p><b>Part of</b>: Service Design </p>
  <p><b>Process Owner</b>: Enterprise Architect </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Definitions"><span class="tocnumber">3</span> <span class="toctext">Definitions</span></a></li>
      <li class="toclevel-1 tocsection-4"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">4</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>IT Architecture management is not on the list of official ITIL 2011 processes, but ITIL provides guidance on architecture issues as part of a chapter on "technology-related activities", and having a well-defined architecture blueprint in place is very important for IT organizations. So there are good reasons for organizations to define and implement an architecture management process, and at IT Process Maps we have decided to assign clear responsibilities for managing the architecture, which meant introducing a specific Architecture Management process as part of the <a rel="nofollow" class="external text" href="https://en.it-processmaps.com/products/itil-process-map.html">ITIL&#174; Process Map</a>. </p>
  <p>ITIL does not provide a detailed explanation of all aspects of Architecture Management. A well-structured and up-to-date Enterprise Architecture, however, is commonly regarded as a key element for successfully managing organizations. </p>
  <p>Following the introduction of Design Coordination in <i><b>ITIL 2011</b></i> the information flows have been adapted slightly. The process overview of <a href="/images/itilsdten.jpg"  title="It-architecture-management.jpg">ITIL Architecture Management (.JPG)</a> shows the key information flows. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Architecture Management</a>. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Definitions">Definitions</span></h2>
  <p class="mw-empty-elt"></p>
  <div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
    <meta itemprop="itemListOrder" content="Ascending" />
    <p><span itemprop="name">The following ITIL terms and acronyms (<i>information objects</i>) are used in ITIL Architecture Management to represent process outputs and inputs:</span> </p>
    <p>&#160;</p>
    <p><b><span id="Application-Framework" itemprop="itemListElement">Application Framework</span></b> </p>
    <ul>
      <li itemprop="description">Application Frameworks aim to promote the re-use of components and the standardizing of technologies on which applications are based. For this reason, they have to be planned and managed separately from software development projects
        - but must be carefully aligned with the needs of software developers. Application Frameworks define classes of applications, typically with common non-functional requirements. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Change-Request-Architecture" itemprop="itemListElement">Change Request to Enterprise Architecture</span></b> </p>
    <ul>
      <li itemprop="description">A request to change or extend the Enterprise Architecture, usually issued from the Service Design process when the introduction or modification of a service is not possible within the constraints of the existing application, infrastructure and information/ data architectures. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Enterprise-Architecture" itemprop="itemListElement">Enterprise Architecture (EA)</span></b> </p>
    <ul>
      <li itemprop="description">An Enterprise Architecture (EA) is a description of the essential components of a business, including their interrelationships. In most cases, an EA covers the following domains: Business, Information, Applications and Technology. </li>
    </ul>
  </div>
  <!-- end of schema.org/ItemList -->
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Enterprise_Architect">Enterprise Architect - Process Owner</span></b> </p>
  <ul>
    <li>The Enterprise Architect is responsible for maintaining the Enterprise Architecture (EA), a description of the essential components of a business, including their interrelationships.</li>
    <li>Bigger organizations may opt to introduce specialist EA roles like Business Architect, Application Architect, Information Architect, or Infrastructure Architect.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Architecture Management</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 50%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Enterprise Architect </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Architecture Management</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the Architecture Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Architecture Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL SD Architecture Management (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilsd">Back to ITIL Service Design</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description">According to ITIL the <i>IT Architecture Management</i> process aims to define a blueprint for the future development of the technological landscape, taking into account the service strategy and newly available technologies.</span></p>
  <p><b>Part of</b>: Service Design </p>
  <p><b>Process Owner</b>: Enterprise Architect </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Definitions"><span class="tocnumber">3</span> <span class="toctext">Definitions</span></a></li>
      <li class="toclevel-1 tocsection-4"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">4</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>IT Architecture management is not on the list of official ITIL 2011 processes, but ITIL provides guidance on architecture issues as part of a chapter on "technology-related activities", and having a well-defined architecture blueprint in place is very important for IT organizations. So there are good reasons for organizations to define and implement an architecture management process, and at IT Process Maps we have decided to assign clear responsibilities for managing the architecture, which meant introducing a specific Architecture Management process as part of the <a rel="nofollow" class="external text" href="https://en.it-processmaps.com/products/itil-process-map.html">ITIL&#174; Process Map</a>. </p>
  <p>ITIL does not provide a detailed explanation of all aspects of Architecture Management. A well-structured and up-to-date Enterprise Architecture, however, is commonly regarded as a key element for successfully managing organizations. </p>
  <p>Following the introduction of Design Coordination in <i><b>ITIL 2011</b></i> the information flows have been adapted slightly. The process overview of <a href="/images/itilsdten.jpg"  title="It-architecture-management.jpg">ITIL Architecture Management (.JPG)</a> shows the key information flows. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Architecture Management</a>. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Definitions">Definitions</span></h2>
  <p class="mw-empty-elt"></p>
  <div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
    <meta itemprop="itemListOrder" content="Ascending" />
    <p><span itemprop="name">The following ITIL terms and acronyms (<i>information objects</i>) are used in ITIL Architecture Management to represent process outputs and inputs:</span> </p>
    <p>&#160;</p>
    <p><b><span id="Application-Framework" itemprop="itemListElement">Application Framework</span></b> </p>
    <ul>
      <li itemprop="description">Application Frameworks aim to promote the re-use of components and the standardizing of technologies on which applications are based. For this reason, they have to be planned and managed separately from software development projects
        - but must be carefully aligned with the needs of software developers. Application Frameworks define classes of applications, typically with common non-functional requirements. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Change-Request-Architecture" itemprop="itemListElement">Change Request to Enterprise Architecture</span></b> </p>
    <ul>
      <li itemprop="description">A request to change or extend the Enterprise Architecture, usually issued from the Service Design process when the introduction or modification of a service is not possible within the constraints of the existing application, infrastructure and information/ data architectures. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Enterprise-Architecture" itemprop="itemListElement">Enterprise Architecture (EA)</span></b> </p>
    <ul>
      <li itemprop="description">An Enterprise Architecture (EA) is a description of the essential components of a business, including their interrelationships. In most cases, an EA covers the following domains: Business, Information, Applications and Technology. </li>
    </ul>
  </div>
  <!-- end of schema.org/ItemList -->
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Enterprise_Architect">Enterprise Architect - Process Owner</span></b> </p>
  <ul>
    <li>The Enterprise Architect is responsible for maintaining the Enterprise Architecture (EA), a description of the essential components of a business, including their interrelationships.</li>
    <li>Bigger organizations may opt to introduce specialist EA roles like Business Architect, Application Architect, Information Architect, or Infrastructure Architect.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Architecture Management</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 50%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Enterprise Architect </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Architecture Management</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the Architecture Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Architecture Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
