{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
SD{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
<h3>ITIL SD Availability Management</h3>
<p><i><a href="/home/itilsd">Back to ITIL Service Design</a></i></p>
<p><a href="{{ asset('storage/assets/sdsummary.pdf#page=30') }}" >Awesome summary of this process</a></p>
<hr>
<p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>ITIL Availability Management</i> aims to define, analyze, plan, measure and improve all aspects of the availability of IT services. It is is responsible for ensuring that all IT infrastructure, processes, tools, roles etc are appropriate for the agreed availability targets.</span></p>
<p><b>Part of</b>: Service Design </p>
<p><b>Process Owner</b>: Availability Manager </p>
<p>&#160;</p>
<div id="toc" class="toc">
  <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
  <div class="toctitle" lang="en" dir="ltr">
    <h2>Contents</h2>
    <span class="toctogglespan">
    <label class="toctogglelabel" for="toctogglecheckbox"></label>
    </span></div>
  <ul>
    <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
    <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
    <li class="toclevel-1 tocsection-3"><a href="#Definitions"><span class="tocnumber">3</span> <span class="toctext">Definitions</span></a></li>
    <li class="toclevel-1 tocsection-4"><a href="#Templates_.7C_KPIs"><span class="tocnumber">4</span> <span class="toctext"><span>Templates | KPIs</span></span></a></li>
    <li class="toclevel-1 tocsection-5"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">5</span> <span class="toctext">Roles | Responsibilities</span></a></li>
  </ul>
</div>
<h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
<p>There are no major differences between Availability Management in ITIL V3 (2007) and ITIL 2011. </p>
<p>Following the introduction of Design Coordination in <i><b>ITIL 2011</b></i> the information flows have been adapted. The process overview of <a href="/images/itilsdsix.jpg"  title="Availability-management.jpg">ITIL Availability Management (.JPG)</a> shows the key information flows (see Fig. 1). </p>
<p>&#160;</p>
<h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
<p class="mw-empty-elt"></p>
<div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
  <meta itemprop="itemListOrder" content="Ascending" />
  <p><span itemprop="name" content="Availability Management sub-processes:">These are the <strong class="selflink">ITIL Availability Management</strong> sub-processes and their process objectives:</span> </p>
  <p>&#160;</p>
  <p><b><span id="Availability_Management_Design" itemprop="itemListElement">Design Services for Availability</span></b> </p>
  <ul>
    <li itemprop="description">Process Objective: To design the procedures and technical features required to fulfill the agreed availability levels. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_Management_Testing" itemprop="itemListElement">Availability Testing</span></b> </p>
  <ul>
    <li itemprop="description">Process Objective: To make sure that all availability, resilience and recovery mechanisms are subject to regular testing. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="ITIL_Availability_Management_Reporting" itemprop="itemListElement">Availability Monitoring and Reporting</span></b> </p>
  <ul>
    <li itemprop="description">Process Objective: To provide other Service Management processes and IT Management with information related to service and component availability. This includes comparing achieved vs. agreed availability and the identification of areas where availability must be improved. </li>
  </ul>
</div>
<!-- end of schema.org/ItemList -->
<p class="mw-empty-elt"> </p>
<p>&#160;</p>
<h2><span class="mw-headline" id="Definitions">Definitions</span></h2>
<p class="mw-empty-elt"></p>
<div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
  <meta itemprop="itemListOrder" content="Ascending" />
  <p><span itemprop="name">The following ITIL terms and acronyms (<i>information objects</i>) are used in the ITIL Availability Management process to represent process outputs and inputs:</span> </p>
  <p>&#160;</p>
  <p><b><span id="Availability_Design_Guidelines" itemprop="itemListElement">Availability Design Guidelines</span></b> </p>
  <ul>
    <li itemprop="description">The Availability Design Guidelines define from a technical point of view how the required availability levels can be achieved, including specific instructions for application development and for externally sourced infrastructure components. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_Guidelines_for_the_Service_Desk" itemprop="itemListElement">Availability Guidelines for the Service Desk</span></b> </p>
  <ul>
    <li itemprop="description">Rules produced by Availability Management on how to manage Incidents causing unavailability, to prevent minor Incidents from becoming major Incidents. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_Management_Information_System" itemprop="itemListElement">Availability Management Information System</span></b> </p>
  <ul>
    <li itemprop="description">A virtual repository of all Availability Management data, usually stored in multiple physical locations. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_Plan" itemprop="itemListElement">Availability Plan</span></b> </p>
  <ul>
    <li itemprop="description">The Availability Plan contains detailed information about initiatives aimed at improving service and/ or component availability. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_ITSCM_Security_Testing_Schedule" itemprop="itemListElement">Availability/ ITSCM/ Security Testing Schedule</span></b> </p>
  <ul>
    <li itemprop="description">A schedule for the regular testing of all availability, continuity and security mechanisms, jointly maintained by <strong class="selflink">Availability</strong>, IT Service Continuity and Information Security Management. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_Report" itemprop="itemListElement">Availability Report</span></b> </p>
  <ul>
    <li itemprop="description">The Availability Report provides other Service Management processes and IT Management with information related to service and infrastructure component availability. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Availability_Management_Rules" itemprop="itemListElement">Event Filtering and Correlation Rules</span></b> </p>
  <ul>
    <li itemprop="description">Rules and criteria used to determine if an Event is significant and to decide upon an appropriate response. Event Filtering and Correlation Rules are typically used by Event Monitoring systems. Some of those rules are defined during the Service Design stage, for example to ensure that Events are triggered when the required service availability is endangered. </li>
    <li><i>Note: The output "Event Filtering and Correlation Rules" has been added in ITIL 2011, to emphasize that (some) Event filtering and correlation rules should be designed by Availability Management to support the detection of availability issues.</i> </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="SOP" itemprop="itemListElement">Maintenance Plan/ SOP</span></b> </p>
  <ul>
    <li itemprop="description">Maintenance Plans are part of the operational documentation for applications and infrastructure components, which are sometimes known as <i>Standard Operating Procedures (SOP)</i>. They define the frequency and scope of preventative maintenance. Maintenance Plans/ SOPs are typically extracted from technical or administration manuals to define in a concise manner the tasks to be carried out as part of standard operations. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Recovery_Plan" itemprop="itemListElement">Recovery Plan</span></b> </p>
  <ul>
    <li itemprop="description">Recovery Plans are created mainly by Availability Management and IT Service Continuity Management. The plans contain specific instructions for returning specific services and/or systems to a working state, which often includes recovering data to a known consistent state. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Technical_Manual" itemprop="itemListElement">Technical/ Administration Manual</span></b> </p>
  <ul>
    <li itemprop="description">A document describing the procedures required to run and maintain a type of application or infrastructure component. </li>
  </ul>
  <p><br />
  </p>
  <p><b><span id="Test_Report" itemprop="itemListElement">Test Report</span></b> </p>
  <ul>
    <li itemprop="description">A Test Report provides a summary of testing and assessment activities. A Test Report is created for example during Release tests in the Service Transition stage or during tests carried out by <strong class="selflink">Availability</strong>, IT Service Continuity or Information Security Management. </li>
  </ul>
</div>
<!-- end of schema.org/ItemList -->
<p class="mw-empty-elt"> </p>
<p>&#160;</p>
<h2><span id="Templates_|_KPIs"></span><span class="mw-headline" id="Templates_.7C_KPIs"><span id="Checklists_.7C_KPIs">Templates | KPIs</span></span></h2>
<p class="mw-empty-elt"> </p>
<ul>
  <li><a href="https://wiki.en.it-processmaps.com/index.php/ITIL_KPIs_Service_Design#ITIL_KPIs_Availability_Management" title="ITIL KPIs Availability Management">Key Performance Indicators (KPIs) Availability Management</a></li>
  <li><a href="https://wiki.en.it-processmaps.com/index.php/ITIL-Checklists#Availability_Management">Availability Management templates and checklists</a>:
    <ul>
      <li><a href="https://wiki.en.it-processmaps.com/index.php/Checklist_Availability_Improvement_Plan">Availability Improvement Plan</a></li>
      <li><a href="https://wiki.en.it-processmaps.com/index.php/Checklist_Availability_Report">Availability Report</a></li>
    </ul>
  </li>
</ul>
<p class="mw-empty-elt"> </p>
<p>&#160;</p>
<h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
<p><b><span id="Availability_Manager">Availability Manager - Process Owner</span></b> </p>
<ul>
  <li>The Availability Manager is responsible for defining, analyzing, planning, measuring and improving all aspects of the availability of IT services. He is responsible for ensuring that all IT infrastructure, processes, tools, roles etc. are appropriate for the agreed service level targets for availability.</li>
</ul>
<p>&#160;</p>
<table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
  <tbody>
    <tr>
      <td style="background:#ffffdd;" colspan="6"><b>Responsibility Matrix: ITIL Availability Management</b></td>
    </tr>
    <tr>
      <th>ITIL Role | Sub-Process </th>
      <th style="background:#ffffee;">Availability Manager </th>
      <th style="background:#ffffee;">Service Owner </th>
      <th style="background:#ffffee;">Applications Analys </th>
      <th style="background:#ffffee;">Technical Analyst </th>
      <th style="background:#ffffee;">IT Operator </th>
    </tr>
    <tr>
      <td style="text-align:left;"><a href="#Availability_Management_Design">Design Services for Availability</a></td>
      <td>AR </td>
      <td>R </td>
      <td>R </td>
      <td>R </td>
      <td>- </td>
    </tr>
    <tr>
      <td style="text-align:left;"><a href="#Availability_Management_Testing">Availability Testing</a></td>
      <td>AR </td>
      <td>- </td>
      <td>- </td>
      <td>- </td>
      <td>R </td>
    </tr>
    <tr>
      <td style="text-align:left;"><a href="#ITIL_Availability_Management_Reporting">Availability Monitoring and Reporting</a></td>
      <td>AR </td>
      <td>- </td>
      <td>- </td>
      <td>- </td>
      <td>- </td>
    </tr>
  </tbody>
</table>
<p>&#160;</p>
<p><b>Remarks</b> </p>
<p><span id="Accountable">[1] <i>A: Accountable</i> Accountable according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the Availability Management process.</span> </p>
<p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Availability Management.</span> </p>
<br>
<br>
<p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
<br>
<br>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL SD Availability Management</h3>
  <p><i><a href="/home/itilsd">Back to ITIL Service Design</a></i></p>
  <p><a href="{{ asset('storage/assets/sdsummary.pdf#page=30') }}" >Awesome summary of this process</a></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>ITIL Availability Management</i> aims to define, analyze, plan, measure and improve all aspects of the availability of IT services. It is is responsible for ensuring that all IT infrastructure, processes, tools, roles etc are appropriate for the agreed availability targets.</span></p>
  <p><b>Part of</b>: Service Design </p>
  <p><b>Process Owner</b>: Availability Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Definitions"><span class="tocnumber">3</span> <span class="toctext">Definitions</span></a></li>
      <li class="toclevel-1 tocsection-4"><a href="#Templates_.7C_KPIs"><span class="tocnumber">4</span> <span class="toctext"><span>Templates | KPIs</span></span></a></li>
      <li class="toclevel-1 tocsection-5"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">5</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>There are no major differences between Availability Management in ITIL V3 (2007) and ITIL 2011. </p>
  <p>Following the introduction of Design Coordination in <i><b>ITIL 2011</b></i> the information flows have been adapted. The process overview of <a href="/images/itilsdsix.jpg"  title="Availability-management.jpg">ITIL Availability Management (.JPG)</a> shows the key information flows (see Fig. 1). </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p class="mw-empty-elt"></p>
  <div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
    <meta itemprop="itemListOrder" content="Ascending" />
    <p><span itemprop="name" content="Availability Management sub-processes:">These are the <strong class="selflink">ITIL Availability Management</strong> sub-processes and their process objectives:</span> </p>
    <p>&#160;</p>
    <p><b><span id="Availability_Management_Design" itemprop="itemListElement">Design Services for Availability</span></b> </p>
    <ul>
      <li itemprop="description">Process Objective: To design the procedures and technical features required to fulfill the agreed availability levels. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_Management_Testing" itemprop="itemListElement">Availability Testing</span></b> </p>
    <ul>
      <li itemprop="description">Process Objective: To make sure that all availability, resilience and recovery mechanisms are subject to regular testing. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="ITIL_Availability_Management_Reporting" itemprop="itemListElement">Availability Monitoring and Reporting</span></b> </p>
    <ul>
      <li itemprop="description">Process Objective: To provide other Service Management processes and IT Management with information related to service and component availability. This includes comparing achieved vs. agreed availability and the identification of areas where availability must be improved. </li>
    </ul>
  </div>
  <!-- end of schema.org/ItemList -->
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Definitions">Definitions</span></h2>
  <p class="mw-empty-elt"></p>
  <div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
    <meta itemprop="itemListOrder" content="Ascending" />
    <p><span itemprop="name">The following ITIL terms and acronyms (<i>information objects</i>) are used in the ITIL Availability Management process to represent process outputs and inputs:</span> </p>
    <p>&#160;</p>
    <p><b><span id="Availability_Design_Guidelines" itemprop="itemListElement">Availability Design Guidelines</span></b> </p>
    <ul>
      <li itemprop="description">The Availability Design Guidelines define from a technical point of view how the required availability levels can be achieved, including specific instructions for application development and for externally sourced infrastructure components. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_Guidelines_for_the_Service_Desk" itemprop="itemListElement">Availability Guidelines for the Service Desk</span></b> </p>
    <ul>
      <li itemprop="description">Rules produced by Availability Management on how to manage Incidents causing unavailability, to prevent minor Incidents from becoming major Incidents. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_Management_Information_System" itemprop="itemListElement">Availability Management Information System</span></b> </p>
    <ul>
      <li itemprop="description">A virtual repository of all Availability Management data, usually stored in multiple physical locations. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_Plan" itemprop="itemListElement">Availability Plan</span></b> </p>
    <ul>
      <li itemprop="description">The Availability Plan contains detailed information about initiatives aimed at improving service and/ or component availability. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_ITSCM_Security_Testing_Schedule" itemprop="itemListElement">Availability/ ITSCM/ Security Testing Schedule</span></b> </p>
    <ul>
      <li itemprop="description">A schedule for the regular testing of all availability, continuity and security mechanisms, jointly maintained by <strong class="selflink">Availability</strong>, IT Service Continuity and Information Security Management. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_Report" itemprop="itemListElement">Availability Report</span></b> </p>
    <ul>
      <li itemprop="description">The Availability Report provides other Service Management processes and IT Management with information related to service and infrastructure component availability. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Availability_Management_Rules" itemprop="itemListElement">Event Filtering and Correlation Rules</span></b> </p>
    <ul>
      <li itemprop="description">Rules and criteria used to determine if an Event is significant and to decide upon an appropriate response. Event Filtering and Correlation Rules are typically used by Event Monitoring systems. Some of those rules are defined during the Service Design stage, for example to ensure that Events are triggered when the required service availability is endangered. </li>
      <li><i>Note: The output "Event Filtering and Correlation Rules" has been added in ITIL 2011, to emphasize that (some) Event filtering and correlation rules should be designed by Availability Management to support the detection of availability issues.</i> </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="SOP" itemprop="itemListElement">Maintenance Plan/ SOP</span></b> </p>
    <ul>
      <li itemprop="description">Maintenance Plans are part of the operational documentation for applications and infrastructure components, which are sometimes known as <i>Standard Operating Procedures (SOP)</i>. They define the frequency and scope of preventative maintenance. Maintenance Plans/ SOPs are typically extracted from technical or administration manuals to define in a concise manner the tasks to be carried out as part of standard operations. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Recovery_Plan" itemprop="itemListElement">Recovery Plan</span></b> </p>
    <ul>
      <li itemprop="description">Recovery Plans are created mainly by Availability Management and IT Service Continuity Management. The plans contain specific instructions for returning specific services and/or systems to a working state, which often includes recovering data to a known consistent state. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Technical_Manual" itemprop="itemListElement">Technical/ Administration Manual</span></b> </p>
    <ul>
      <li itemprop="description">A document describing the procedures required to run and maintain a type of application or infrastructure component. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Test_Report" itemprop="itemListElement">Test Report</span></b> </p>
    <ul>
      <li itemprop="description">A Test Report provides a summary of testing and assessment activities. A Test Report is created for example during Release tests in the Service Transition stage or during tests carried out by <strong class="selflink">Availability</strong>, IT Service Continuity or Information Security Management. </li>
    </ul>
  </div>
  <!-- end of schema.org/ItemList -->
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span id="Templates_|_KPIs"></span><span class="mw-headline" id="Templates_.7C_KPIs"><span id="Checklists_.7C_KPIs">Templates | KPIs</span></span></h2>
  <p class="mw-empty-elt"> </p>
  <ul>
    <li><a href="https://wiki.en.it-processmaps.com/index.php/ITIL_KPIs_Service_Design#ITIL_KPIs_Availability_Management" title="ITIL KPIs Availability Management">Key Performance Indicators (KPIs) Availability Management</a></li>
    <li><a href="https://wiki.en.it-processmaps.com/index.php/ITIL-Checklists#Availability_Management">Availability Management templates and checklists</a>:
      <ul>
        <li><a href="https://wiki.en.it-processmaps.com/index.php/Checklist_Availability_Improvement_Plan">Availability Improvement Plan</a></li>
        <li><a href="https://wiki.en.it-processmaps.com/index.php/Checklist_Availability_Report">Availability Report</a></li>
      </ul>
    </li>
  </ul>
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Availability_Manager">Availability Manager - Process Owner</span></b> </p>
  <ul>
    <li>The Availability Manager is responsible for defining, analyzing, planning, measuring and improving all aspects of the availability of IT services. He is responsible for ensuring that all IT infrastructure, processes, tools, roles etc. are appropriate for the agreed service level targets for availability.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="6"><b>Responsibility Matrix: ITIL Availability Management</b></td>
      </tr>
      <tr>
        <th>ITIL Role | Sub-Process </th>
        <th style="background:#ffffee;">Availability Manager </th>
        <th style="background:#ffffee;">Service Owner </th>
        <th style="background:#ffffee;">Applications Analys </th>
        <th style="background:#ffffee;">Technical Analyst </th>
        <th style="background:#ffffee;">IT Operator </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a href="#Availability_Management_Design">Design Services for Availability</a></td>
        <td>AR </td>
        <td>R </td>
        <td>R </td>
        <td>R </td>
        <td>- </td>
      </tr>
      <tr>
        <td style="text-align:left;"><a href="#Availability_Management_Testing">Availability Testing</a></td>
        <td>AR </td>
        <td>- </td>
        <td>- </td>
        <td>- </td>
        <td>R </td>
      </tr>
      <tr>
        <td style="text-align:left;"><a href="#ITIL_Availability_Management_Reporting">Availability Monitoring and Reporting</a></td>
        <td>AR </td>
        <td>- </td>
        <td>- </td>
        <td>- </td>
        <td>- </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> Accountable according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the Availability Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Availability Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
