{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
SD{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
  <h3>ITIL SO Technical Management (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilso">Back to ITIL Service Operation</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>Technical Management</i> provides technical expertise and support for the management of the IT infrastructure. This ITIL process plays an important role in the technical aspects of designing, testing, operating and improving IT services, as well as in developing the skills required to operate the IT infrastructure required.</span></p>
  <p><b>Part of</b>: Service Operation </p>
  <p><b>Process Owner</b>: Technical Analyst </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>ITIL presents Technical Management as a "function". It plays an important role in the management of the IT infrastructure. </p>
  <p>Many Technical Management activities are embedded in various other ITIL processes - but not all Technical Management activities. For this reason, at IT Process Maps we decided to introduce a Technical Management process as part of the ITIL Process Map which includes the Technical Management activities not covered in any other ITIL process. </p>
  <p>Technical Management activities embedded in other processes are shown there, with responsibility assigned to the Technical Analyst role. </p>
  <p>The process overview of <a href="/images/itilsonine.jpg" class="internal" title="Itil-technical-management.jpg">ITIL Technical Management</a> shows the key information flows. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Technical Management</a>. </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Technical_Analyst">Technical Analyst - Process Owner</span></b> </p>
  <ul>
    <li>The Technical Analyst is a Technical Management role which provides technical expertise and support for the management of the IT infrastructure. There is typically one Technical Analyst or team of analysts for every key technology area. This role plays an important part in the technical aspects of designing, testing, operating and improving IT services. It is also responsible for developing the skills required to operate the IT infrastructure.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Technical Management</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Technical Analyst </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Technical Management</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the ITIL Technical Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Technical Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL SO Technical Management (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilso">Back to ITIL Service Operation</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>Technical Management</i> provides technical expertise and support for the management of the IT infrastructure. This ITIL process plays an important role in the technical aspects of designing, testing, operating and improving IT services, as well as in developing the skills required to operate the IT infrastructure required.</span></p>
  <p><b>Part of</b>: Service Operation </p>
  <p><b>Process Owner</b>: Technical Analyst </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>ITIL presents Technical Management as a "function". It plays an important role in the management of the IT infrastructure. </p>
  <p>Many Technical Management activities are embedded in various other ITIL processes - but not all Technical Management activities. For this reason, at IT Process Maps we decided to introduce a Technical Management process as part of the ITIL Process Map which includes the Technical Management activities not covered in any other ITIL process. </p>
  <p>Technical Management activities embedded in other processes are shown there, with responsibility assigned to the Technical Analyst role. </p>
  <p>The process overview of <a href="/images/itilsonine.jpg" class="internal" title="Itil-technical-management.jpg">ITIL Technical Management</a> shows the key information flows. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Technical Management</a>. </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Technical_Analyst">Technical Analyst - Process Owner</span></b> </p>
  <ul>
    <li>The Technical Analyst is a Technical Management role which provides technical expertise and support for the management of the IT infrastructure. There is typically one Technical Analyst or team of analysts for every key technology area. This role plays an important part in the technical aspects of designing, testing, operating and improving IT services. It is also responsible for developing the skills required to operate the IT infrastructure.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Technical Management</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Technical Analyst </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Technical Management</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the ITIL Technical Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Technical Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
