{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
ST{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
  <h3>ITIL ST Application Development and Customization (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilst">Back to ITIL Service Transition</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>ITIL Application Development</i> aims to make available applications and systems which provide the required functionality for IT services. This ITIL process includes the development and maintenance of custom applications as well as the customization of products from software vendors.</span></p>
  <p><b>Part of</b>: Service Transition </p>
  <p><b>Process Owner</b>: Application Developer </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Definitions"><span class="tocnumber">3</span> <span class="toctext">Definitions</span></a></li>
      <li class="toclevel-1 tocsection-4"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">4</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p><b><i>Application Development is barely mentioned in the ITIL books, as ITIL focuses on different topics like service design and rollout.</i></b> At IT Process Maps we decided to bridge that gap by introducing an Application Management process which takes care of application coding and the customization of software packages. </p>
  <p>Even if ITIL Application Management is generally regarded a field of its own, we think an Application Management process should be included in any ITIL process structure to make sure there are clearly defined interfaces between the design, development and rollout stages of a service. The process overview of <a href="/images/itilstfour.jpg"  title="Itil-application-development.jpg">ITIL Application Development (.JPG)</a> shows the key information flows. </p>
  <p><i>Note</i>: <i><b>ITIL 2011</b></i> does not provide a detailed explanation of all aspects of Application Development. Rather, it highlights the key activities and assists in identifying the interfaces with other Service Management processes. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Application Development</a>. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Definitions">Definitions</span></h2>
  <p class="mw-empty-elt"></p>
  <div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
    <meta itemprop="itemListOrder" content="Ascending" />
    <p><span itemprop="name">The following ITIL terms and acronyms (<i>information objects</i>) are used in ITIL Application Development to represent process outputs and inputs:</span> </p>
    <p>&#160;</p>
    <p><b><span id="User_Manual" itemprop="itemListElement">User Manual</span></b> </p>
    <ul>
      <li itemprop="description">A document for end-users, describing how to use an application or system. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Technical_Administration_Manual" itemprop="itemListElement">Technical/ Administration Manual</span></b> </p>
    <ul>
      <li itemprop="description">A document describing the procedures required to run and maintain a type of application or infrastructure component. </li>
    </ul>
  </div>
  <!-- end of schema.org/ItemList -->
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Application_Developer">Application Developer - Process Owner</span></b> </p>
  <ul>
    <li>The Application Developer is responsible for making available applications and systems which provide the required functionality for IT services. This includes the development and maintenance of custom applications as well as the customization of products from software vendors.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Application Development</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Application Developer </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Application Development</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the Application Development process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Application Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL ST Application Development and Customization (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilst">Back to ITIL Service Transition</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description"><i>ITIL Application Development</i> aims to make available applications and systems which provide the required functionality for IT services. This ITIL process includes the development and maintenance of custom applications as well as the customization of products from software vendors.</span></p>
  <p><b>Part of</b>: Service Transition </p>
  <p><b>Process Owner</b>: Application Developer </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Definitions"><span class="tocnumber">3</span> <span class="toctext">Definitions</span></a></li>
      <li class="toclevel-1 tocsection-4"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">4</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p><b><i>Application Development is barely mentioned in the ITIL books, as ITIL focuses on different topics like service design and rollout.</i></b> At IT Process Maps we decided to bridge that gap by introducing an Application Management process which takes care of application coding and the customization of software packages. </p>
  <p>Even if ITIL Application Management is generally regarded a field of its own, we think an Application Management process should be included in any ITIL process structure to make sure there are clearly defined interfaces between the design, development and rollout stages of a service. The process overview of <a href="/images/itilstfour.jpg"  title="Itil-application-development.jpg">ITIL Application Development (.JPG)</a> shows the key information flows. </p>
  <p><i>Note</i>: <i><b>ITIL 2011</b></i> does not provide a detailed explanation of all aspects of Application Development. Rather, it highlights the key activities and assists in identifying the interfaces with other Service Management processes. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Application Development</a>. </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Definitions">Definitions</span></h2>
  <p class="mw-empty-elt"></p>
  <div itemscope="itemscope" itemtype="https://schema.org/ItemList"><!-- define schema.org/ItemList -->
    <meta itemprop="itemListOrder" content="Ascending" />
    <p><span itemprop="name">The following ITIL terms and acronyms (<i>information objects</i>) are used in ITIL Application Development to represent process outputs and inputs:</span> </p>
    <p>&#160;</p>
    <p><b><span id="User_Manual" itemprop="itemListElement">User Manual</span></b> </p>
    <ul>
      <li itemprop="description">A document for end-users, describing how to use an application or system. </li>
    </ul>
    <p><br />
    </p>
    <p><b><span id="Technical_Administration_Manual" itemprop="itemListElement">Technical/ Administration Manual</span></b> </p>
    <ul>
      <li itemprop="description">A document describing the procedures required to run and maintain a type of application or infrastructure component. </li>
    </ul>
  </div>
  <!-- end of schema.org/ItemList -->
  <p class="mw-empty-elt"> </p>
  <p>&#160;</p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Application_Developer">Application Developer - Process Owner</span></b> </p>
  <ul>
    <li>The Application Developer is responsible for making available applications and systems which provide the required functionality for IT services. This includes the development and maintenance of custom applications as well as the customization of products from software vendors.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Application Development</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Application Developer </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Application Development</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the Application Development process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Application Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
