{% extends 'base.twig' %} {% block title %} {% if not user %}PMWay{% endif %} {% if user %}ITIL
SD{% endif %} {% endblock %} {% block body %} {% if user %}
<div align="left" class="container">
  <h3>ITIL SO Facilities Management (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilso">Back to ITIL Service Operation</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description">The objective of <i>ITIL Facilities Management</i> is to manage the physical environment where the IT infrastructure is located. This includes all aspects of managing the physical environment, for example power and cooling, building access management, and environmental monitoring.</span></p>
  <p><b>Part of</b>: Service Operation </p>
  <p><b>Process Owner</b>: Facilities Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>Facilities Management is part of ICT Infrastructure Management in ITIL V2, where some aspects of managing facilities are described in more detail as in the new ITIL V3 books. </p>
  <p>The interfaces between IT Facilities Management and the other ITIL
    processes have been adjusted to reflect the new ITIL V3 process
    structure. The process overview shows the key information flows. </p>
  <p><i>Note</i>: The official ITIL publications present Facilities Management as a "function". </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Facilities Management</a>. </p>
  <p>&#160;</p>
  <p><br style="clear:both;" />
  </p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Facilities_Manager">Facilities Manager - Process Owner</span></b> </p>
  <ul>
    <li>The Facilities Manager is responsible for managing the physical environment where the IT infrastructure is located.</li>
    <li>This includes all aspects of managing the physical environment, for example power and cooling, building access management, and environmental monitoring.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Facilities Management</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Facilities Manager </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Facilities Management</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the ITIL Facilities Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Facilities Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div align="left" class="container">
  <h3>ITIL SO Facilities Management (NB:  Not on the official ITIL V3 process list)</h3>
  <p><i><a href="/home/itilso">Back to ITIL Service Operation</a></i></p>
  <hr>
  <p><b><span id="Overview">Objective:</span></b> <span id="md-webpage-description" itemprop="description">The objective of <i>ITIL Facilities Management</i> is to manage the physical environment where the IT infrastructure is located. This includes all aspects of managing the physical environment, for example power and cooling, building access management, and environmental monitoring.</span></p>
  <p><b>Part of</b>: Service Operation </p>
  <p><b>Process Owner</b>: Facilities Manager </p>
  <p>&#160;</p>
  <div id="toc" class="toc">
    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
    <div class="toctitle" lang="en" dir="ltr">
      <h2>Contents</h2>
      <span class="toctogglespan">
      <label class="toctogglelabel" for="toctogglecheckbox"></label>
      </span></div>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Process_Description"><span class="tocnumber">1</span> <span class="toctext">Process Description</span></a></li>
      <li class="toclevel-1 tocsection-2"><a href="#Sub-Processes"><span class="tocnumber">2</span> <span class="toctext">Sub-Processes</span></a></li>
      <li class="toclevel-1 tocsection-3"><a href="#Roles_.7C_Responsibilities"><span class="tocnumber">3</span> <span class="toctext">Roles | Responsibilities</span></a></li>
    </ul>
  </div>
  <h2><span class="mw-headline" id="Process_Description">Process Description</span></h2>
  <p>Facilities Management is part of ICT Infrastructure Management in ITIL V2, where some aspects of managing facilities are described in more detail as in the new ITIL V3 books. </p>
  <p>The interfaces between IT Facilities Management and the other ITIL
    processes have been adjusted to reflect the new ITIL V3 process
    structure. The process overview shows the key information flows. </p>
  <p><i>Note</i>: The official ITIL publications present Facilities Management as a "function". </p>
  <p>&#160;</p>
  <h2><span class="mw-headline" id="Sub-Processes">Sub-Processes</span></h2>
  <p>No sub-processes are specified for <a class="mw-selflink selflink">ITIL Facilities Management</a>. </p>
  <p>&#160;</p>
  <p><br style="clear:both;" />
  </p>
  <h2><span id="Roles_|_Responsibilities"></span><span class="mw-headline" id="Roles_.7C_Responsibilities">Roles | Responsibilities</span></h2>
  <p><b><span id="Facilities_Manager">Facilities Manager - Process Owner</span></b> </p>
  <ul>
    <li>The Facilities Manager is responsible for managing the physical environment where the IT infrastructure is located.</li>
    <li>This includes all aspects of managing the physical environment, for example power and cooling, building access management, and environmental monitoring.</li>
  </ul>
  <p>&#160;</p>
  <table border="1" cellpadding="5" cellspacing="0" style="margin-left: auto; margin-right: auto; text-align:center;">
    <tbody>
      <tr>
        <td style="background:#ffffdd;" colspan="2"><b>Responsibility Matrix: ITIL Facilities Management</b></td>
      </tr>
      <tr>
        <th style="background:#ffffee; width: 65%; text-align:center">ITIL Role / Sub-Process </th>
        <th style="background:#ffffee;">Facilities Manager </th>
      </tr>
      <tr>
        <td style="text-align:left;"><a class="mw-selflink selflink">Facilities Management</a><br />
          <i>(no sub-processes specified)</i></td>
        <td>AR </td>
      </tr>
    </tbody>
  </table>
  <p>&#160;</p>
  <p><b>Remarks</b> </p>
  <p><span id="Accountable">[1] <i>A: Accountable</i> according to the RACI Model: Those who are ultimately accountable for the correct and thorough completion of the ITIL Facilities Management process.</span> </p>
  <p><span id="Responsible">[2] <i>R: Responsible</i> according to the RACI Model: Those who do the work to achieve a task within ITIL Facilities Management.</span> </p>
  <br>
  <br>
  <p><a href="https://wiki.en.it-processmaps.com/index.php/Service_Catalogue_Management" >Thanks WIKI</a></p>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}
