{% extends 'basepmboksix.html' %}
{% block title %}Plan{% endblock %}
{% block body %}
 {% if user %}
<!--BODY-- including div class container down to final div -->

<div class="container" align="center"> <img class="img-fluid" alt="Initiate" height="1043" src="{{ asset('storage/images/plansix.png') }}" width="800"></div>

<!--ENDBODY-->

{% else %}


    {% endif %}


{% endblock %}
