{% extends 'base.twig' %}
{% block title %}PMBOK6 Changes{% endblock %}
{% block body %}
<div class="container">

<!--This is where the main stuff goes-->
<h3> PMBOK Guide 6th Edition: A Deep Dive into the Changes</h3>
<hr>
<p> <img class="img-fluid" alt="" height="300" src="{{ asset('storage/images/pmbok-deep-dive-changes-150x150@2x.png') }}" style="float: left" width="316">Approximately every four to five years, the Project Management Institute (PMI&reg;) updates the <em>PMBOK&reg; Guide</em>. </p>
<p><strong>Structural Changes</strong></p>
<p>With the sixth edition, PMI has made a significant adjustment to the structure of the <em>PMBOK&reg; Guide</em> in that it will be organized by process group and not by knowledge area. This is good news for those who will be studying to become PMPs as well as practicing project managers. The knowledge areas of project management will now be presented in the <em>PMBOK&reg; Guide</em> in the manner they are actually tested on the exam and as they are accomplished in real world practice.</p>
<p>In the <em>PMBOK</em><em>&reg; <span lang="en-za">5th </span>Guide, </em>the first three chapters serve as introductory material and general information about the five process groups and ten knowledge areas. In the sixth edition, these first three chapters will be combined into two chapters, and chapter three will contain information regarding &#8220;The Role of the Project Manager.&#8221; In this chapter, the varying aspects of the project manager's role will be associated with their corresponding areas of the PMI Talent Triangle.</p>
<p>A new area of emphasis <span lang="en-za">is</span> given to differentiating between the processes which are ongoing (meaning those that execute on a continual basis) versus those which are non-ongoing (those which execute on a singular basis). Additional emphasis will also be given to the concept of Project Scope versus Product Scope. The area of &#8220;Earned Value Management will see the addition of Earned Schedule Management.</p>
<p>Attention <span lang="en-za">is also </span>given to distinguish between communications and the communication that exist between people. Communication between people will be referred to as communication (singular), and the exchange of email, text, and other related documents will be referred to as communications (plural).</p>
<p><strong><span class="auto-style5"><span lang="en-za">PMBOK 6 </span>Embraces Agile in a Significant Way</span></strong></p>
<p>In the sixth edition of the <em>PMBOK</em><em>&reg;</em><em> Guide</em>, each knowledge area will contain a new section entitled Approaches for Agile, Iterative and Adaptive Environments. These sections will describe how the associated knowledge area will integrate, be affected by, and benefit from the adaptive approach Agile utilizes. Additional Agile-related details will also be included in a related appendix.</p>
<p>Other additions to the content of the <em>PMBOK</em><em>&reg;</em><em> Guide</em> include:</p>
<ul>
  <li class="auto-style3">More detailed information on the PMI Talent Triangle<sup>&trade;</sup> and the skills that are essential to being successful in today's market.</li>
  <li class="auto-style3">Greater emphasis will be given to strategic and business knowledge. Related project management business documents will also be given greater attention and discussion.</li>
</ul>
<p><strong><span lang="en-za">PMBOK 6 </span>Process Groups<span lang="en-za"> and Knowledge Areas matrix (with changes in red)</span></strong></p>
<p>Process Group - The 5 process groups will remain the same: initiating, planning, executing, monitoring &amp; controlling and control.</p>
<img alt="" height="1660" class="img-fluid" src="{{ asset('storage/images/pmbokv6changesfluid.png') }}" width="800"><br>
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsefordt" aria-expanded="false" aria-controls=
        "collapsefordt">Click here for the table above<br>
for use on larger screens </button>
<div class="collapse" id="collapsefordt">
  <div class="container">
    <div class="card text-center">
      <h5 class="card-header" align="center">
        <p class="small">Unfortunately this table cannot be compressed for devices with small screens.</p>
      </h5>
      <div class="card-body text-center">
        <table class="scroll" border="1" cellpadding="10px">
          <tr>
            <th width="200" rowspan="2" class="text-center">Knowledge Areas</th>
            <th colspan="6" class="text-center" style="height: 45px">Project Management Process Groups</th>
          </tr>
          <tr>
            <th width="200">Initialing</th>
            <th width="200">Planning</th>
            <th width="200">Executing</th>
            <th width="200">Monitoring and Controlling</th>
            <th width="200">Closing</th>
            <th>&nbsp;</th>
          </tr>
          <tr>
            <td>[4] Project Integration Management</td>
            <td style="vertical-align: text-top;">4.1 Develop Project Charter</td>
            <td style="vertical-align: text-top;">4.2 Develop Project Management Plan</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>4.3 Direct and Manage Project Work
                <li>
                <li>4.4 <span style="color: rgb(210,38,50);font-weight: bold;">Manage Project Knowledge</span></li>
              </ul></td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>4.5 Monitor and Control Project Work
                <li>
                <li>4.6 Perform Integrated Change Control</li>
              </ul></td>
            <td style="vertical-align: text-top;">4.7 Close Project or Phase</td>
            <td>7</td>
          </tr>
          <tr>
            <td>[5] Project Scope Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>5.1 Plan Scope Management
                <li>
                <li>5.2 Collect Requirements</li>
                <li>5.3 Define Scope</li>
                <li>5.4 Create WBS</li>
              </ul></td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>5.5 Validate Scope
                <li>
                <li>5.6 Control Scope</li>
              </ul></td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>6</td>
          </tr>
          <tr>
            <td>[6] Project <span style="color: rgb(210,38,50);font-weight: bold;">Schedule</span> Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>6.1 Plan Schedule Management
                <li>
                <li>6.2 Define Activities</li>
                <li>6.3 Sequence Activities</li>
                <li>6.4 Estimate Activity Durations</li>
                <li>6.5 Develop Schedule</li>
              </ul></td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;">6.6 Control Schedule</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>6</td>
          </tr>
          <tr>
            <td>[7] Project Cost Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>7.1 Plan Cost Management
                <li>
                <li>7.2 Estimate Costs</li>
                <li>7.3 Determine Budget</li>
              </ul></td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;">7.4 Control Costs</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>4</td>
          </tr>
          <tr>
            <td>[8] Project Quality Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;">8.1 Plan Quality Management</td>
            <td style="vertical-align: text-top;">8.2 <span style="color: rgb(210,38,50);font-weight: bold;">Manage Quality</span></td>
            <td style="vertical-align: text-top;">8.3 Control Quality</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>3</td>
          </tr>
          <tr>
            <td>[9] Project <span style="color: rgb(210,38,50);font-weight: bold;">Resource</span> Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>9.1 Plan Resource Management
                <li>
                <li>9.2 <span style="color: rgb(210,38,50);font-weight: bold;">Estimate Activity Resources</span></li>
              </ul></td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>9.3 Acquired <span style="color: rgb(210,38,50);font-weight: bold;">Resources</span>
                <li>
                <li>9.4 Develop <span style="color: rgb(210,38,50);font-weight: bold;">Team</span></li>
                <li>9.5 Manage <span style="color: rgb(210,38,50);font-weight: bold;">Team</span></li>
              </ul></td>
            <td style="vertical-align: text-top;">9.6 <span style="color: rgb(210,38,50);font-weight: bold;">Control Resources</span></td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>6</td>
          </tr>
          <tr>
            <td>[10] Project Communications Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;">10.1 Plan Communications Management</td>
            <td style="vertical-align: text-top;">10.2 Manage Communications</td>
            <td style="vertical-align: text-top;">10.3 <span style="color: rgb(210,38,50);font-weight: bold;">Monitor Communications</span></td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>3</td>
          </tr>
          <tr>
            <td>[11] Project Risk Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;"><ul style="list-style: none; margin-left: 0rem; line-height: 1.2rem;">
                <li>11.1 Plan Risk Management
                <li>
                <li>11.2 Identify Risks</li>
                <li>11.3 Perform Qualitative Risk Analysis</li>
                <li>11.4 Perform Quantitative Risk Analysis</li>
                <li>11.5 Plan Risk Responses</li>
              </ul></td>
            <td style="vertical-align: text-top;">11.6 <span style="color: rgb(210,38,50);font-weight: bold;">Implement Risk Responses</span></td>
            <td style="vertical-align: text-top;">11.7 <span style="color: rgb(210,38,50);font-weight: bold;">Monitor</span> Risks</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>7</td>
          </tr>
          <tr>
            <td>[12] Project Procurement Management</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td style="vertical-align: text-top;">12.1 Plan Procurement Management</td>
            <td style="vertical-align: text-top;">12.2 Conduct Procurements</td>
            <td style="vertical-align: text-top;">12.3 Control Procurements</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>3</td>
          </tr>
          <tr>
            <td>[13] Project Stakeholder Management</td>
            <td style="vertical-align: text-top;">13.1 Identify Stakeholders</td>
            <td style="vertical-align: text-top;">13.2 Plan Stakeholder <span style="color: rgb(210,38,50);font-weight: bold;">Engagement</span></td>
            <td style="vertical-align: text-top;">13.3 Manage Stakeholder Engagement</td>
            <td style="vertical-align: text-top;">13.4 <span style="color: rgb(210,38,50);font-weight: bold;">Monitor</span> Stakeholder Engagement</td>
            <td style="vertical-align: text-top;">&nbsp;</td>
            <td>4</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td style="vertical-align: text-top;">2</td>
            <td style="vertical-align: text-top;">24</td>
            <td style="vertical-align: text-top;">10</td>
            <td style="vertical-align: text-top;">12</td>
            <td style="vertical-align: text-top;">1</td>
            <td><strong>49</strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<p><strong>PMBOK 6 Knowledge Areas</strong></p>
<p>2 of the knowledge areas are renamed:</p>
<ol>
  <li><strong>Time management</strong> will be renamed to <strong>Schedule Management</strong> - this change will place an emphasis the importance of scheduling in project management.</li>
  <li><strong>Human Resource management</strong> will be renaming to <strong>Resource Management</strong> - this change will also place a boarder perspective on all resources that a project will need; for example: materials, equipment, licenses etc.</li>
</ol>
<p><strong>PMBOK 6 Processes</strong></p>
<p>In the 6th edition of PMBOK, three new processes will be added and one will be removed:</p>
<ol>
  <li>Manage Project Knowledge (new process) - added under the executing process group</li>
  <li>Implement Risk Response (new process) - added under the executing process group</li>
  <li>Control Resources (new process) - added under monitoring and controlling process group</li>
  <li>Close Procurements (removed from 6th edition) - removed from close project phase</li>
</ol>
<p>So there are 49 processes in PMBOK 6 (47 PMBOK 5 processes + 3 new processes - 1 process).</p>
<p>PMBOK guide 6th edition will gear towards more suggestive wording instead of mandatory wording.  Thus, 9 processes have been renamed as follows:</p>
<table class="scroll" border="1" cellpadding="10px">
  <tr>
    <th>PMBOK 5 Process Name</th>
    <th>PMBOK 6 Process Name</th>
  </tr>
  <tr>
    <td>Perform Quality Assurance</td>
    <td>Manage Quality</td>
  </tr>
  <tr>
    <td>Plan Human Resource Management</td>
    <td>Plan Resource Management</td>
  </tr>
  <tr>
    <td>Control Communications</td>
    <td>Monitor Communications</td>
  </tr>
  <tr>
    <td>Plan Stakeholder Management</td>
    <td>Plan Stakeholder Engagement</td>
  </tr>
  <tr>
    <td>Control Stakeholder Engagement</td>
    <td>Monitor Stakeholder Engagement</td>
  </tr>
  <tr>
    <td>Acquire Project Plan</td>
    <td>Acquire Resource</td>
  </tr>
  <tr>
    <td>Develop Project Team</td>
    <td>Develop Team</td>
  </tr>
  <tr>
    <td>Manage Project Team</td>
    <td>Manage Team</td>
  </tr>
  <tr>
    <td>Control Risk</td>
    <td>Monitor Risks</td>
  </tr>
</table>
<br>
<p><strong><span lang="en-za">Other information about PMBOK 6</span></strong><span lang="en-za"> </span></p>
<p>Regarding the Knowledge Area of Risk Management, PMI has developed a new strategy, Escalate Responses. This describes a situation in which the project manager escalates a risk to the appropriate party, and by doing so, the risk is no longer their responsibility. Upon escalation, the project manager has the option of:</p>
<p>1) Removing the risk from the risk register of the project, or</p>
<p>2) Maintaining it in the risk register with a new classification of Escalated/Assigned To.</p>
<p>A new Lessons Learned Register has been added. Instead of conducting a lessons learned meeting at the end of the project, project managers will be encouraged to update the register on a frequent basis such as at the completion of major or significant phases, milestones, and events instead of only at the end of the project.</p>
<p class="auto-style4">The inputs and outputs in the ITTO table will be somewhat simplified. The Tools and Techniques will additionally be grouped into common headings:</p>
<ul>
  <li class="auto-style3">Project Management Plan Components</li>
  <li class="auto-style3">Project Documents</li>
</ul>
<p>The various components of the project management plan that are currently listed as inputs to a process and/or those that become updated as outputs from a process will no longer be listed individually as inputs or outputs. Instead, the more generic Project Management Plan will be the input and Project Management Plan Updates will be the related output. Underneath the list of inputs and outputs will be a list of potential project management plan components. The components in a particular list will be dependent upon the needs of the project.</p>
<p>Several new appendices will also be added. These include:</p>
<ul>
  <li class="auto-style3">Summary of Key Concepts</li>
  <li class="auto-style3">Summary of Tailoring Considerations</li>
  <li class="auto-style3">Summary of Tools and Techniques</li>
  <li class="auto-style3">Adaptive and Iterative Approaches</li>
</ul>
<p><strong>PMBOK updates from 1996</strong>
<p>The new PMBOK<sup>&reg;</sup> Guide 6th edition contains 978 pages, including the Agile Practice Guide (186 pages). When compared with PMBOK<sup>&reg;</sup> Guide 5th edition was only 616 pages, the 6th edition is one of the major content updates.</p>
<p> <img alt="edition changes" class="img-fluid" height="299" src="{{ asset('storage/images/pmbokeditionchangesfluid.png') }}" width="600"></p>
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapseecfordt" aria-expanded="false" aria-controls=
        "collapseecfordt">Click here for the table above<br>
for use on larger screens </button>
<div class="collapse" id="collapseecfordt">
  <div class="container">
    <div class="card text-center">
      <h5 class="card-header" align="center">
        <p class="small">Unfortunately this table cannot be compressed for devices with small screens.</p>
      </h5>
      <div class="card-body text-center">
        <table class="scroll center" border="1" cellpadding="10px">
          <tr>
            <th>Year</th>
            <th>Edition</th>
            <th>Project Groups</th>
            <th>Knowledge Areas</th>
            <th>Processes</th>
            <th>Pages</th>
          </tr>
          <tr>
            <td>1996</td>
            <td>1996</td>
            <td>5</td>
            <td>9</td>
            <td>37</td>
            <td>~180</td>
          </tr>
          <tr>
            <td>2000</td>
            <td>2000</td>
            <td>5</td>
            <td>9</td>
            <td>39</td>
            <td>~210</td>
          </tr>
          <tr>
            <td>2004</td>
            <td>Third</td>
            <td>5</td>
            <td>9</td>
            <td>44</td>
            <td>~400</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>Fourth</td>
            <td>5</td>
            <td>9</td>
            <td>42</td>
            <td>~460</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>Fifth</td>
            <td>5</td>
            <td>10</td>
            <td>47</td>
            <td>~620</td>
          </tr>
          <tr>
            <td>2017</td>
            <td>Sixth + Agile</td>
            <td>5</td>
            <td>10</td>
            <td>49</td>
            <td>~980</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
{% if user %}
    {% else %}


    {% endif %}


{% endblock %}
