{% extends 'able.html' %}

{% block title %}Scrum Foundation Certification ++{% endblock %}

  {% block body %}


	{% if user %}



<div class="container">

<h3>Scrum Foundation Course ++</h5>

	<hr>

<p align="center"><i>NB items in the center below are not part of the Scrum Foundation course<br>They are added to give you more depth on the subject.</i>
<hr>

<h5 align="center">Scrum Values Video</h5>
		<h5 align="center"><img alt="scrum values" class="img-fluid" width="400" src="{{ asset('storage/images/scrumvaluesnew.png') }}" > </h5>


		<ul>
		<li><sfone/index" title="Introduction to Scrum"  ><h3 style="color:black">Scrum Foundation: SF1: Introduction to Scrum
		(4:02)</h5></li>
		<li><scrum/sftwo/index" title="Overview of Scrum" ><h3 style="color:black">SF2: Overview of Scrum
		(3.19)</h5></li>
		<h5 align="center">Scrum in 6 minutes</h5>
		<li><scrum/sfthree/index" title="History of Scrum" ><h3 style="color:black">SF3: History of Scrum
		(1:54)</h5></li>
		<li><scrum/sffour/index" title="Why Use Scrum" ><h3 style="color:black">SF4: Why Use Scrum
		(4:45)</h5></li>
		<li><scrum/sffive/index" title="Scalability of Scrum" ><h3 style="color:black">SF5: Scalability of Scrum
		(2:47)</h5></li>
		<li><scrum/sfsix/index" title="Purpose of the SBOK Guide" ><h3 style="color:black">SF6: Purpose of the SBOK Guide
		(4:42)</h5></li>
		<li><scrum/sfseven/index" title="Framework of the SBOK Guide" ><h3 style="color:black">SF7: Framework of the SBOK Guide
		(1:44)</h5></li>
		<li><scrum/sfeight/index" title="How to use the SBOK Guide" ><h3 style="color:black">SF8: How to use the SBOK Guide
		(1:53)</h5></li>
		<li><scrum/sfnine/index" title="Scrum Principles" ><h3 style="color:black">SF9: Scrum Principles
		(3:21)</h5></li>
		<li><scrum/sften/index" title="Scrum Aspects" ><h3 style="color:black">SF10: Scrum Aspects
		(13:36)</h5></li>
		<li><scrum/sfeleven/index" title="Scrum Processes" ><h3 style="color:black">SF11: Scrum Processes
		(9:19)</h5></li>


		<li><scrum/sftwelve/index" title="Scrum vs Traditional Projet Management" >
		<h3 style="color:black">SF12: Scrum vs Traditional Project Management
		(7:17)</h5></li>
		<li><scrum/sfthirteen/index" title="Introduction to Scrum Principles" ><h3 style="color:black">SF13: Introduction to Scrum Principles
		(3:31)</h5></li>
		<li><scrum/sffourteen/index" title="Roles Guide the Empirical Process Control" ><h3 style="color:black">SF14: Roles Guide the Empirical Process Control
		(6:15)</h5></li>
		<li><scrum/sffifteen/index" title="Self Organization" ><h3 style="color:black">SF15: Self Organization
		(4:35)</h5></li>
		<li><scrum/sfsixteen/index" title="Collaboration" ><h3 style="color:black">SF16: Collaboration
		(6:44)</h5></li>
		<li><scrum/sfseventeen/index" title="Value-Based Prioritization" ><h3 style="color:black">SF17: Value-Based Prioritization
		(4:26)</h5></li>
		<li><scrum/sfeighteen/index" title="Time-Boxing" ><h3 style="color:black">SF18: Time-Boxing
		(5:32)</h5></li>
		<li><scrum/sfnineteen/index" title="Iterative Development" ><h3 style="color:black">SF19: Iterative Development
		(4:30)</h5></li>
			</ul>

			<h5 align="center">SM13: Three Core Roles in Scrum (From Scrum Master SM13 Course 1:10)</h5>
		<h5 align="center">SM14: The Product Owner (From SM Course 3:30)</h5>
		<h5 align="center">SM15: The Scrum Master (From SM Course 2:43)</h5>
		<h5 align="center">SM16: The Scrum Team (From SM Course 4:09)</h5>
		<h5 align="center">SM17: Non Core Scrum Roles (From SM Course 3:18)</h5>
		<h5 align="center">SM18: Initiate Phase - more detail? (From SM Course 21:47)</h5>
		<h5 align="center">SM19: Plan and Estimate Phase - more detail? (From SM Course 27:27)</h5>
			<h5 align="center">User Stories (52:00)</h5>
		<h5 align="center">SM20: Implementation Phase - more detail? (From SM Course 24:50)</h5>


		<h5 align="center">Sprint Burn-down 1 & 2</h5>
		<h5 align="center">SM21: Review and Retrospect Phase - more detail? (From SM Course 15:36)</h5>
			<h5 align="center">Sailboat (3:19)</h5>
		<h5 align="center">SM22: Release Phase - more detail? (From SM Course 11:09)</h5>
		<h5 align="center">SM29: Importance of Executive Support (From SM Course 2:41)</h5>
		<h5 align="center">SM30: Mock Product Development Using Scrum (From SM Course 15:15)</h5>
				<h5 align="center">Personal Kanban (5:52)</h5>
					<h5 align="center">Kanban Coffee (13:05)</h5>
						<h5 align="center">Scrum 7 Common Scrum Dysfunctions & Root Cause Analysis (/scrumrca)</h5>
						<h5 align="center">Seven F's (1:03:37)</h5>
						<h5 align="center">Agile Manifesto (/agile)</h5>
							<h5 align="center">IT Strategy Presentation:<br>
							with thoughts on ITIL 3 & 4, Project Management (Scrum & Agile or Traditional at CM L2+),<br>
							Software Engineering at CM L3+, DevOps, Lean and Kanban<br>(20 to 30 minutes)</h5>




<br><br>
	<h3>Take Note before starting the training above:</h5>
<p>NB You need to ensure you experience no pressure during this training! Except to ensure you attend. I.e. sit back and enjoy the chance to learn this stuff!   <br>
NB Remember there is no such thing as a stupid question! We are all learning and continually improving!  <br>
NB There will be no questions or exams, unless you decide to take the exams online.<br>
NB Before we start please ensure that you have received the following:<br>
<ol>
			<li>The List of Video's we will cover in this course (Videolist.pdf)</h5></li>
<li>The SBok Guide (SCRUMstudy-SBOK-Guide-3rd-edition in pdf, mobi and epub)</h5></li>
<li>The SBok ITO Summary (Scrumito.pdf)</h5></li>
<li>Scrum Cheat Sheets 1-2 (Scrum SFC-ProcessChart-English.pdf</h5></li>
<li>The Agile Manifesto (agile-manifesto.jpg)</h5></li>
</ol>

</div>



    {% endif %}
				{% if not user %}

<div class="container">

<h3>Scrum Foundation Course ++</h5>

	<hr>

<p align="center"><i>NB items in the center below are not part of the Scrum Foundation course<br>They are added to give you more depth on the subject.</i>
<hr>

<h5 align="center">Scrum Values Video</h5>
		<h5 align="center"><img alt="scrum values" class="img-fluid" width="400"  src="{{ asset('storage/images/scrumvaluesnew.png') }}" > </h5>


		<ul>
		<li><sfone/index" title="Introduction to Scrum"  ><h3 style="color:black" align="left">Scrum Foundation: SF1: Introduction to Scrum
		(4:02)</h5></li>
		<li><scrum/sftwo/index" title="Overview of Scrum" ><h3 style="color:black">SF2: Overview of Scrum
		(3.19)</h5></li>
		<h5 align="center">Scrum in 6 minutes</h5>
		<li><scrum/sfthree/index" title="History of Scrum" ><h3 style="color:black">SF3: History of Scrum
		(1:54)</h5></li>
		<li><scrum/sffour/index" title="Why Use Scrum" ><h3 style="color:black">SF4: Why Use Scrum
		(4:45)</h5></li>
		<li><scrum/sffive/index" title="Scalability of Scrum" ><h3 style="color:black">SF5: Scalability of Scrum
		(2:47)</h5></li>
		<li><scrum/sfsix/index" title="Purpose of the SBOK Guide" ><h3 style="color:black">SF6: Purpose of the SBOK Guide
		(4:42)</h5></li>
		<li><scrum/sfseven/index" title="Framework of the SBOK Guide" ><h3 style="color:black">SF7: Framework of the SBOK Guide
		(1:44)</h5></li>
		<li><scrum/sfeight/index" title="How to use the SBOK Guide" ><h3 style="color:black">SF8: How to use the SBOK Guide
		(1:53)</h5></li>
		<li><scrum/sfnine/index" title="Scrum Principles" ><h3 style="color:black">SF9: Scrum Principles
		(3:21)</h5></li>
		<li><scrum/sften/index" title="Scrum Aspects" ><h3 style="color:black">SF10: Scrum Aspects
		(13:36)</h5></li>
		<li><scrum/sfeleven/index" title="Scrum Processes" ><h3 style="color:black">SF11: Scrum Processes
		(9:19)</h5></li>


		<li><scrum/sftwelve/index" title="Scrum vs Traditional Projet Management" >
		<h3 style="color:black">SF12: Scrum vs Traditional Project Management
		(7:17)</h5></li>
		<li><scrum/sfthirteen/index" title="Introduction to Scrum Principles" ><h3 style="color:black">SF13: Introduction to Scrum Principles
		(3:31)</h5></li>
		<li><scrum/sffourteen/index" title="Roles Guide the Empirical Process Control" ><h3 style="color:black">SF14: Roles Guide the Empirical Process Control
		(6:15)</h5></li>
		<li><scrum/sffifteen/index" title="Self Organization" ><h3 style="color:black">SF15: Self Organization
		(4:35)</h5></li>
		<li><scrum/sfsixteen/index" title="Collaboration" ><h3 style="color:black">SF16: Collaboration
		(6:44)</h5></li>
		<li><scrum/sfseventeen/index" title="Value-Based Prioritization" ><h3 style="color:black">SF17: Value-Based Prioritization
		(4:26)</h5></li>
		<li><scrum/sfeighteen/index" title="Time-Boxing" ><h3 style="color:black">SF18: Time-Boxing
		(5:32)</h5></li>
		<li><scrum/sfnineteen/index" title="Iterative Development" ><h3 style="color:black">SF19: Iterative Development
		(4:30)</h5></li>
			</ul>

			<h5 align="center">SM13: Three Core Roles in Scrum (From Scrum Master SM13 Course 1:10)</h5>
		<h5 align="center">SM14: The Product Owner (From SM Course 3:30)</h5>
		<h5 align="center">SM15: The Scrum Master (From SM Course 2:43)</h5>
		<h5 align="center">SM16: The Scrum Team (From SM Course 4:09)</h5>
		<h5 align="center">SM17: Non Core Scrum Roles (From SM Course 3:18)</h5>
		<h5 align="center">SM18: Initiate Phase - more detail? (From SM Course 21:47)</h5>
		<h5 align="center">SM19: Plan and Estimate Phase - more detail? (From SM Course 27:27)</h5>
			<h5 align="center">User Stories (52:00)</h5>
		<h5 align="center">SM20: Implementation Phase - more detail? (From SM Course 24:50)</h5>


		<h5 align="center">Sprint Burn-down 1 & 2</h5>
		<h5 align="center">SM21: Review and Retrospect Phase - more detail? (From SM Course 15:36)</h5>

			<h5 align="center">Sailboat (3:19)</h5>
		<h5 align="center">SM22: Release Phase - more detail? (From SM Course 11:09)</h5>
		<h5 align="center">SM29: Importance of Executive Support (From SM Course 2:41)</h5>
		<h5 align="center">SM30: Mock Product Development Using Scrum (From SM Course 15:15)</h5>
				<h5 align="center">Personal Kanban (5:52)</h5>
					<h5 align="center">Kanban Coffee (13:05)</h5>
						<h5 align="center">Scrum 7 Common Scrum Dysfunctions & Root Cause Analysis (/scrumrca)</h5>
						<h5 align="center">Seven F's (1:03:37)</h5>
						<h5 align="center">Agile Manifesto (/agile)</h5>
							<h5 align="center">IT Strategy Presentation:<br>
							with thoughts on ITIL 3 & 4, Project Management (Scrum & Agile or Traditional at CM L2+),<br>
							Software Engineering at CM L3+, DevOps, Lean and Kanban<br>(20 to 30 minutes)</h5>



	<br><br>
	<h3>Take Note before starting the training above:</h5>
<p>NB You need to ensure you experience no pressure during this training! Except to ensure you attend. I.e. sit back and enjoy the chance to learn this stuff!   <br>
NB Remember there is no such thing as a stupid question! We are all learning and continually improving!  <br>
NB There will be no questions or exams, unless you decide to take the exams online.<br>
NB Before we start please ensure that you have received the following:<br>
<ol>
			<li>The List of Video's we will cover in this course (Videolist.pdf)</h5></li>
<li>The SBok Guide (SCRUMstudy-SBOK-Guide-3rd-edition in pdf, mobi and epub)</h5></li>
<li>The SBok ITO Summary (Scrumito.pdf)</h5></li>
<li>Scrum Cheat Sheets 1-2 (Scrum SFC-ProcessChart-English.pdf</h5></li>
<li>The Agile Manifesto (agile-manifesto.jpg)</h5></li>
</ol>

</div>




    {% endif %}

{% endblock %}
