{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}6.5{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->

  <div id="i" class="carousel slide" data-ride="carousel" data-interval="false">


  <ol class="carousel-indicators">
    <li data-target="#i" data-slide-to="0" class="active"></li>
    <li data-target="#i" data-slide-to="1"></li>
    <li data-target="#i" data-slide-to="2"></li>

  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" align="center">
        <a href="/pmboksix/sixfive" title="Click here to go to the drillable ITTO dashboard."><h5>Click here</h5>
       <img class="img-fluid"
 align="bottom" src="{{ asset('storage/images/65new.png') }}" alt="First slide"></a>
       <br>
      <br>
      <br>
      <br>

    </div>
    <div class="carousel-item" align="center">
      <img class="d-block img-fluid" align="bottom" src="{{ asset('storage/images/65ittos.png') }}" alt="Second slide">
       <br>
      <br>
      <br>
      <br>


    </div>
    <div class="carousel-item" align="center">
      <img class="d-block img-fluid" align="bottom" src="{{ asset('storage/images/65flow.png') }}" alt="Third slide">
       <br>
      <br>
      <br>
      <br>
         <br>
      <br>
      <br>
      <br>
   <br>
      <br>
      <br>
      <br>
           <br>
      <br>


  </div>
  <a class="carousel-control-prev" href="#i" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#i" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!--ENDBODY-->

    {% else %}


    {% endif %}


{% endblock %}
