{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}Ubuntu{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->
<div class="container" align="left">
<h3>10 UBUNTU power connection points</h3>
<hr>
<p><i>UBUNTU is a Nguni word (Nguni is the name of a tribe in Africa) which has no direct translation into English, <br>
  but is used to describe a particular African worldview in which people can only find fulfilment through interacting with other people. <br>
  Thus it represents a spirit of kinship across both race and creed. <br>
  Nelson Mandela used the concept of Ubuntu to reach out to all South Africans when he proposed the Rainbow Nation as a positive step forward for all after Apartheid. </i></p>
<h2>Building connections is very important - especially for success</h2>
<p><strong>Essentially you can get what you want if you help others get what they want.<br>
  and essentially others want to feel better about themselves.</strong></p>
<h2>Justin Cohen (Motivational Speaker and Author) compiled these 10 Ubuntu connection points:</h2>
<ol>
  <li><strong>Choose your response.</strong> <br>
    I.e. <u>When you experience a bad attitude</u> <br>
    (Justin gives the example of a person booking into a hotel and being given the &acirc;&#8364;&#732;dish I never ordered look' by the disinterested and rude person behind the counter). <br>
    <u>you have a choice:</u> You can give one back or decide on another, better response.</li>
  <li><strong>Make them feel like the center of your world</strong>.</li>
  <li><strong>Express appreciation.  Say thank you.</strong></li>
  <li><strong>Power listening.</strong><br>
    Justin spoke about ESP:&nbsp; &quot;Eye contact, Smile and Positive Posture&quot; [an example he gave is to find a place to be by oneself and open your arms wide to feel the power posture feeling, then put your arms down and walk out and confront others in a positive power posture]<br>
    he said with these you should try to help people you come into contact with to articulate their inner feelings.  I.e. you should not try to talk about yourself but rather to mirror them.</li>
  <li><strong><a href="/arc.php" >Communicate</a>.</strong> <br>
    I.e. if you have something to say keep it simple and keep on keeping on with the message.</li>
  <li><strong>Be nice.</strong><br>
    I.e. the power of nice will give you a high emotional bank account which you can cash in at some time. </li>
  <li><strong>Respect others free will.</strong><br>
    I.e. like young rebellious teenagers, people will kick against directives and dig in their heels. <br>
    Therefore, while command and control is important, give them a choice.  I.e. Please do X (which must be a reasonable request) either by tomorrow morning or tomorrow afternoon and, chances are good that they will respond better to your request.</li>
  <li><strong>Express positive expectations.</strong> <br>
    I.e. if a team is not operating at their best probably they are living up to your low expectations of them.</li>
  <li><strong>Focus on making it right, rather than being right.</strong></li>
  <li><strong>Do what you say you will do.</strong> <br>
    In the old days a handshake was all it took.  I.e. Be as good as your word and have integrity.</li>
</ol>
<p>All of the above T up into the one law. <br>
  I.e. do unto others as you would have them do unto you.</p>
<br>
<br>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}

<!--BODY-->
<div class="container" align="left">
<div class="container" align="left">
<h3>10 UBUNTU power connection points</h3>
<hr>
<p><i>UBUNTU is a Nguni word (Nguni is the name of a tribe in Africa) which has no direct translation into English, <br>
  but is used to describe a particular African worldview in which people can only find fulfilment through interacting with other people. <br>
  Thus it represents a spirit of kinship across both race and creed. <br>
  Nelson Mandela used the concept of Ubuntu to reach out to all South Africans when he proposed the Rainbow Nation as a positive step forward for all after Apartheid. </i></p>
<h2>Building connections is very important - especially for success</h2>
<p><strong>Essentially you can get what you want if you help others get what they want.<br>
  and essentially others want to feel better about themselves.</strong></p>
<h2>Justin Cohen (Motivational Speaker and Author) compiled these 10 Ubuntu connection points:</h2>
<ol>
  <li><strong>Choose your response.</strong> <br>
    I.e. <u>When you experience a bad attitude</u> <br>
    (Justin gives the example of a person booking into a hotel and being given the &acirc;&#8364;&#732;dish I never ordered look' by the disinterested and rude person behind the counter). <br>
    <u>you have a choice:</u> You can give one back or decide on another, better response.</li>
  <li><strong>Make them feel like the center of your world</strong>.</li>
  <li><strong>Express appreciation.  Say thank you.</strong></li>
  <li><strong>Power listening.</strong><br>
    Justin spoke about ESP:&nbsp;&nbsp; &quot;Eye contact, Smile and Positive Posture&quot; [an example he gave is to find a place to be by oneself and open your arms wide to feel the power posture feeling, then put your arms down and walk out and confront others in a positive power posture]<br>
    he said with these you should try to help people you come into contact with to articulate their inner feelings.  I.e. you should not try to talk about yourself but rather to mirror them.</li>
  <li><strong><a href="/arc.php" >Communicate</a>.</strong> <br>
    I.e. if you have something to say keep it simple and keep on keeping on with the message.</li>
  <li><strong>Be nice.</strong><br>
    I.e. the power of nice will give you a high emotional bank account which you can cash in at some time. </li>
  <li><strong>Respect others free will.</strong><br>
    I.e. like young rebellious teenagers, people will kick against directives and dig in their heels. <br>
    Therefore, while command and control is important, give them a choice.  I.e. Please do X (which must be a reasonable request) either by tomorrow morning or tomorrow afternoon and, chances are good that they will respond better to your request.</li>
  <li><strong>Express positive expectations.</strong> <br>
    I.e. if a team is not operating at their best probably they are living up to your low expectations of them.</li>
  <li><strong>Focus on making it right, rather than being right.</strong></li>
  <li><strong>Do what you say you will do.</strong> <br>
    In the old days a handshake was all it took.  I.e. Be as good as your word and have integrity.</li>
</ol>
<p>All of the above T up into the one law. <br>
  I.e. do unto others as you would have them do unto you.</p>
<br>
<br>
{% endif %}


{% endblock %}
