{% extends 'base.twig' %}
{% block title %}Eliminate Waste{% endblock %}
{% block body %}







	{% if user %}
<div class="container" align="center">
  <h5 align="left">Eliminate Waste:&nbsp; Value Stream Mapping</h5>
  <hr>
  <img alt="" class="img-fluid" src="{{ asset('storage/images/waste.jpg') }}" > <br>
  <br>
  <br>
  <br>
</div>
{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div class="container" align="center">
  <h5 align="left">Eliminate Waste:&nbsp; Value Stream Mapping</h5>
  <hr>
  <img alt="" class="img-fluid" src="{{ asset('storage/images/waste.jpg') }}" > <br>
  <br>
  <br>
  <br>
</div>
{% endif %}


{% endblock %}
