{% extends 'base.html' %}
{% block title %}Scrum Books{% endblock %}
{% block body %}

<div class="container" align="center">

      <h5 align="center">Scrum Books</h5>
      <hr>

      <table>

	    <tr><td class="file"  ><a href="/scrumviewpdf/resources/masteringadvancedscrum.pdf" > Rituraj Patil - Mastering Advanced Scrum_ Advanced Scrum Techniques for Scrum Teams, Roles, Artifacts, Events, Metrics, Working Agreements, Advanced Engineering Practices, and Technical Agility
</a>.<td>7.62 MB</td></tr>

	    <tr><td class="file"  ><a href="/scrumviewpdf/resources/SCRUMstudySBOKGuide4thedition.pdf" >ScrumStudy SBOK 4th Edition.pdf
</a>.<td>10.9 MB</td></tr>

	   <tr><td class="file"  ><a href="/scrumviewpdf/resources/essentialscrumkenrubin.pdf" >(Addison-Wesley Signature Series) Kenneth S. Rubin - Essential Scrum_ A Practical Guide to the Most Popular Agile Process-Addison-Wesley Professional (2012).pdf
</a>.<td>23 MB</td></tr>

        <tr><td class="file"  ><a href="/scrumviewpdf/resources/scrumdevopsitilmanual.pdf" >Jack C. Stanley and Erik D. Gross - Project Management Handbook Simplified Agile, Scrum and DevOps for Beginners-The Tech Academy (2020)
</a>.<td>6.9 MB</td></tr>

        <tr><td class="file"  ><a href="/scrumviewpdf/resources/scrumacompleteguite.pdf" >Josh Wright - Scrum_ The Complete Guide to the Agile Project Management Framework that Helps the Software Development Lean Team to Efficiently Structure and Simplify the Work & Solve Problems in Half .pdf
</a>.<td>? MB</td></tr>



        <tr><td class="file"  ><a href="/scrumviewpdf/resources/userstorymapping.pdf" >Jeff Patton, Peter Economy - User Story Mapping_ Discover the Whole Story, Build the Right Product-O'Reilly Media (2014).pdf
</a>.<td>39 MB</td></tr>


      <tr><td class="file"  ><a href="../scrumviewpdf/resources/masteringprofessionalscrum2019.pdf"  >Mastering Professional Scrum Ockerman et al 2019.pdf</a></td>
	<td>10 MB</td></tr>

	<tr><td class="file"  ><a href="../scrumviewpdf/resources/navigatinghybridscrumenvironments2019.pdf"  >Navigating Hybrid Scrum Environments Understanding the Essentials,
Avoiding the Pitfalls</a></td>


<tr><td class="file"  ><a href="../scrumviewpdf/resources/killthescrummonster.pdf"  >Ilya Bibik - How to Kill the Scrum Monster_ Quick Start to Agile Scrum Methodology and the Scrum Master Role-Apress (2018).pdf</a></td>
	<td>20 MB</td></tr>


<tr><td class="file"  ><a href="../scrumviewpdf/resources/scrumfordummies2018.pdf"  >Scrum For Dummies 2018.pdf</a></td>
	<td>20 MB</td></tr>

<tr><td class="file"  ><a href="../scrumviewpdf/resources/MattLeMayAgileforEverybodyCreatingFastFlexibleandCustomerFirstOrganizations2019.pdf"  >Matt LeMay Agile for Everybody 2019.pdf</a></td>
	<td>20 MB</td></tr>

<tr><td class="file"  ><a href="../scrumviewpdf/resources/AgileSoftwareRequirements.pdf"  >Agile Software Requirements.pdf</a></td>
	<td>20 MB</td></tr>

<tr><td class="file"  ><a href="../scrumviewpdf/resources/AgileforProjectManagers.pdf"  >Agile for Project Managers.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/AgileInnovationTheRevolutionaryApproachtoAccelerateSuccessInspireEngagementandIgniteCreativity.pdf"  >Agile Innovation: The Revolutionary Approach to Accelerate Success Inspire Engagementand Ignite Creativity.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/AgileProcessesinSoftwareEngineeringandExtremeProgramming.pdf"  >Agile Processes in Software Engineering and Extreme Programming.pdf</a></td>
	<td>14 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/AgileProcessesinSoftwareEngineeringandExtremeProgrammingTenthInternationalConference.pdf"  >Agile Processes in Software Engineering and Extreme Programming Tenth International Conference.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/AgilityCompetingandWinninginaTechSavvyMarketplace.pdf"  >Agility Competing and Winningina Tech Savvy Marketplace.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/Devopschocolate.pdf"  >Dev Ops
	Chocolate.pdf</a></td><td>8 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/FromtheToolsoftheToyotaProductionSystemtoLeanOffice.pdf"  >From the Tools of the Toyota Production System to Lean Office.pdf</a></td>
	<td>4 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/GreatBigAgileAnOSforAgileLeaders.pdf"  >Great Big Agile: An OS for Agile Leaders.pdf</a></td>
	<td>13 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/HowtoKilltheScrumMonster.pdf"  >How to Kill the Scrum Monster.pdf</a></td>
	<td>13 MB</td></tr>
	<tr><td class="file"  ><a href="../scrumviewpdf/resources/scrumfordummies.pdf"  >Scrum for Dummies 2018</a></td>
	<td>20 MB</td></tr>
		<tr><td class="file"  ><a href="../scrumviewpdf/resources/thenexusframeworkforscalingscrum2017.pdf"  >Kurt Bittner, Patricia Kong, Dave West&nbsp; The Nexus Framework for Scaling ScrumContinuously Delivering an Integrated Product with Multiple Scrum Teams 2017</a></td>
	<td>4 MB</td></tr>
	<tr><td class="file"  ><a href="../scrumviewpdf/resources/dyernoahsuccessfulscrumbutt2016.pdf"  >Dyer, Noah - Successful ScrumButt Learn to Modify Scrum Project Management for Student and Virtual Teams 2016</a></td>
	<td>5.72 MB</td></tr>
		<tr><td class="file"  ><a href="../scrumviewpdf/resources/agilenovicetoninja.pdf"  >M. David Green - Scrum Novice to Ninja Methods for Agile, Powerful Development SitePoint (2016).pdf</a></td>
	<td>21 MB</td></tr>

	<td>1.6 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/headfirstagile.pdf"  >ACP Head First Agile.pdf</a></td>
	<td>55 MB</td></tr>

	<tr><td class="file"  ><a href="../scrumviewpdf/resources/pmiacpapres2016.pdf"  >ACP Apres 2016.pdf</a></td>
	<td>12 MB</td></tr>

<tr><td class="file"  ><a href="../scrumviewpdf/resources/pmiacpsybex2018.pdf"  >ACP Sybex 2018.pdf</a></td>
	<td>10 MB</td></tr>



<tr><td class="file"  ><a href="../scrumviewpdf/resources/JIRAAgileEssentialsBringthepowerofAgiletoAtlassianJIRAandrunyourprojectsefficientlywithScrumandKanban.pdf"  >JIRA Agile Essentials Bring the power of Agile to Atlassian JIRA and run your projects efficiently with Scrum and Kanban.pdf</a></td>
	<td>23 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/JIRAEssentialsThirdEditionUsethefeaturesofJIRAtomanageprojectsandeffectivelyhandlebugsandsoftwareissues.pdf"  >JIRA Essentials Third Edition Use the features of JIRA to manage projects and effectively handle bugs and software issues.pdf</a></td>
	<td>16 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/JiraSevenAdministrationCookbook.pdf"  >Jira Seven Administration Cookbook.pdf</a></td>
	<td>21 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/LeanIntegrationAnIntegrationFactoryApproachtoBusinessAgility.pdf"  >Lean Integration: An Integration Factory Approach to Business Agility.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/LearningAgileUnderstandingScrumXPLeanandKanban.pdf"  >Learning Agile Understanding Scrum XP Lean and Kanban.pdf</a></td>
	<td>44 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/MakingSenseofAgileProjectManagementBalancingControlandAgility.pdf"  >Making Sense of Agile Project Management: Balancing Control and Agility.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/MasteringJIRAGainexpertiseintrackingprojectissuesandmanagingthemefficientlyusingJIRA.pdf"  >Mastering JIRA Gain expertise in tracking project issues and managing them efficiently using JIRA.pdf</a></td>
	<td>7 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/MasteringJiraSeven.pdf"  >Mastering Jira Seven.pdf</a></td>
	<td>15 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/NavigatingHybridScrumEnvironments.pdf"  >Navigating Hybrid Scrum Environments.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ProjectmanagementbeyondWaterfallandAgileCRCPress.pdf"  >Project management beyond Waterfall and Agile.pdf</a></td>
	<td>10 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ProjectManagementInstituteAgilePracticeGuide.pdf"  >Project Management Institute: Agile Practice Guide.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ProjectRiskManagementAPracticalImplementationApproachPMI.pdf"  >Project Risk Management: A Practical Implementation Approach PMI.pdf</a></td>
	<td>7 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/SAFeFourDistilledApplyingtheScaledAgileFrameworkforLeanSoftwareandSystemsEngineering.pdf"  >SAFe
	4 Distilled Applying the Scaled Agile Framework for Lean Software and Systems Engineering.pdf</a></td>
	<td>22 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/sbok.pdf"  >ScrumBOK.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ScalingSoftwareAgilityBestPracticesforLargeEnterprises.pdf"  >Scaling Software Agility: Best Practices for Large Enterprises.pdf</a></td>
	<td>34 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ScrumaBreathtakinglyBriefandAgileIntroduction.pdf"  >Scruma Breathtakingly Brief and Agile Introduction.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ScrumandXPfromtheTrenchesHowwedoScrum.pdf"  >Scrum and XP from the Trenches: How we do Scrum.pdf</a></td>
	<td>9 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/scrumpm.pdf"  >ScrumPM.pdf</a></td>
	<td>1 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/ScrumShortcutswithoutCuttingCornersAddisonWesleyProfessional.pdf"  >Scrum: Shortcuts without Cutting Corners.pdf</a></td>
	<td>4 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/Scrumtheartofdoingtwicetheworkinhalfthetime.pdf"  >Scrum the art of doing twice the work in half the time.pdf</a></td>
	<td>2 MB</td></tr>



<tr><td class="file"  ><a href="../scrumviewpdf/resources/kanbanvsscrum.pdf"  >Kanban vs Scrum</a></td>
	<td>2.29 MB</td></tr>

<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheAgileOrganizationFromInformalNetworkstoComplexEffectsandgility.pdf"  >The Agile Organization From Informal Networks to Complex Effects and gility.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/SucceedingwithAgileSoftwareDevelopmentUsingScrum.pdf"  >Succeeding with Agile Software Development Using Scrum.pdf</a></td>
	<td>43 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheArtofScrumHowScrummastersbinddevteamsandunleashagility.pdf"  >The Art of Scrum: How Scrummasters bind devteams and unleash agility.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumbanREvolutionGettingtheMostOutofAgileScrumandLeanKanban.pdf"  >The Scrumban REvolution: Getting the Most Out of Agile Scrum and Lean Kanban.pdf</a></td>
	<td>13 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheAgileEnterpriseBuildingandRunningAgileOrganizations.pdf"  >The Agile Enterprise Building and Running Agile Organizations.pdf</a></td>
	<td>7 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheArtofScrumHowScrumMastersBindDevTeamsandUnleashAgility.pdf"  >The Art of Scrum How Scrum Masters Bind Dev Teams and Unleash Agility.pdf</a></td>
	<td>10 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheGoal.pdf"  >The Goal.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheProfessionalProductOwnerLeveragingScrumasaCompetitiveAdvantage.pdf"  >The Professional Product Owner: Leveraging Scrum as a Competitive Advantage.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumCulture.pdf"  >The Scrum Culture.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumCultureIntroducingAgileMethodsinOrganizations.pdf"  >The Scrum Culture: Introducing Agile Methods in Organizations.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumCultureSecondEdition.pdf"  >The Scrum Culture Second Edition.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumFieldGuideAgileAdviceforYourFirstYearandBeyond.pdf"  >The Scrum Field Guide Agile Advice for Your First Year and Beyond.pdf</a></td>
	<td>14 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumGuideTheDefinitiveGuidetoScrumTheRulesoftheGame.pdf"  >The Scrum Guide: The Definitive Guide to Scrum The Rules of the Game.pdf</a></td>
	<td>582 KB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheScrumPapersNutBoltsandOriginsofanAgileFramework.pdf"  >The Scrum Papers: Nuts Bolts and Origins of an Agile Framework.pdf</a></td>
	<td>10 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/TheAgileSafetyCase.pdf"  >The Agile Safety Case</a></td>
	<td>4 MB</td></tr>


<tr><td class="file"  ><a href="../scrumsave/resources/scrumrolesandresponsibilities.pptx"  >Scrum Roles and Responsibilities.pptx</a></td>
	<td>56 KB</td></tr>
	<tr><td class="file"  ><a href="../scrumsave/resources/scrumnutshell.pdf"  >Scrum Nutshell.pdf  NB print A3</a></td>
	<td>12 MB</td></tr>



<tr><td class="file"  ><a href="../scrumviewpdf/resources/ToyotaProductionSystemBeyondLargeScaleProductionProductivity.pdf"  >Toyota Production System Beyond Large Scale Production Productivity.pdf</a></td>
	<td>2 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/visibleops.pdf"  >Dev Ops: Visibleops.pdf</a></td>
	<td>3 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/accelerate.pdf"  >Dev Ops: Accelerate.pdf</a></td>
	<td>5 MB</td></tr>
<tr><td class="file"  ><a href="../scrumviewpdf/resources/devopshandbook.pdf"  >Dev Ops: Handbook.pdf</a></td>
	<td>11 MB</td></tr>
	<tr><td class="file"  ><a href="../scrumviewpdf/resources/itreleasemanagementahandsonguide.pdf"  >IT Release Management Hands On Guide.pdf</a></td>
	<td>3 MB</td></tr>

		<tr><td class="file"  ><a href="../scrumsave/resources/kaizen.pptx"  >Kaizen.pptxf</a></td>
	<td>3 MB</td></tr>

			<tr><td class="file"  ><a href="../scrumviewpdf/resources/projectbook.pdf"  >The Project Book.pdf</a></td>
	<td>1.47 MB</td></tr>
	<tr><td class="file"  ><a href="../scrumviewpdf/resources/agileproductmanagementwithscrum.pdf"  >Agile Product Management with Scrum</a></td>
	<td>798 KN</td></tr>

	<tr><td class="file"  ><a href="../scrumviewpdf/resources/scrummasterybygeoffwatts.pdf"  > Scrum Mastery by Geoff Watts</a></td>
	<td>1 MB</td></tr>



</table>

</div>
<br>
<br>
<br>
<br>




</div>






	{% if current_user %}
    {% else %}


    {% endif %}


{% endblock %}
