{% extends 'wheelbase.html' %}


{% block title %}Scrum{% endblock %}

{% block body %}

      <!--{% if current_user %}
    	<img alt="stow logo" height="78" src="http://www.stow.co.za/images/stowsmall.png" width="100">
        <br>Hello {{ current_user.name }}.
    {% else %}{% endif %}-->

<div class="container" align="center">
<br>
<br>
<br>
<br>
<h3>Scrum Foundation, Master and Product Owner (and Scrum in 2pages and the Bok 
3rd edition)</h3>	 
		<img alt="drivewheel" class="img-fluid" src="http://www.upguitarhill.com/images/drivewheel.png" height="45" width="200"><br><p><em>If wheel spins too fast reload page</em></p></em></p><br>
<br>
<br>
<br>
	<div id="wobble">
		<ul>
		<li><a href="/scrum/sf" title="Scrum Foundation" ><p style="color:navy">Scrum Foundation</p></a></li>
		<li><a href="/scrum/sm" title="Scrum Master"><p style="color:navy">Scrum Master</p></a></li>
		<li><a href="/scrum/spo" title="Scrum Product Owner"><p style="color:navy">Scrum Product Owner</p>
		</a></li>
			<li><a href="/scrumsavepdf/scrum2p.pdf" title="scrum2p">
				<li><a href="/scrumsavepdf/sbokito.pdf" title="sbokITO">
			<p style="color:navy">sbokITO</p></a></li>
			<p style="color:navy">scrumin2p</p></a></li>
			<li><a href="/scrumsavepdf/scrum3.pdf" title="scrumv3">
			<p style="color:navy">scrumbokv3</p></a></li>
			<li><a href="/scrumsavepdf/scrumito.pdf" title="scrumITO">
			<p style="color:navy">scrumITO</p></a></li>
		


		



	




		

	
		</ul>
</div>





	

 	 <br><br><br><br><br><br><br>
 
	<br>
	<br>

	
		
			
		

{% endblock %}