{% extends 'wheelbase.html' %}


{% block title %}Scrum{% endblock %}

{% block body %}

      <!--{% if current_user %}
    	<img alt="stow logo" height="78" src="http://www.stow.co.za/images/stowsmall.png" width="100">
        <br>Hello {{ current_user.name }}.
    {% else %}{% endif %}-->


<div class="container" align="center">
<br>
<br>
<br>
<br>


<h3>Scrum Foundation</h3>
<p><a href="index">Back to Scrum Index</a></p>	 
		<img alt="drivewheel" class="img-fluid" src="http://www.upguitarhill.com/images/drivewheel.png" height="45" width="200"><br><p><em>If wheel spins too fast reload page</em></p><br>

<br>
<br>



<div id="wobble">
		<ul>
		<li><a href="/scrum/sfone/index" title="Introduction to Scrum" target="blank" target="blank"><p style="color:navy">SF1</p></a></li>
		<li><a href="/scrum/sftwo/index" title="Overview of Scrum" target="blank"><p style="color:navy">SF2</p></a></li>
		<li><a href="/scrum/sfthree/index" title="History of Scrum" target="blank"><p style="color:navy">SF3</p></a></li>
		<li><a href="/scrum/sffour/index" title="Why Use Scrum" target="blank"><p style="color:navy">SF4</p></a></li>
		<li><a href="/scrum/sffive/index" title="Scalability of Scrum" target="blank"><p style="color:navy">SF5m</p></a></li>
		<li><a href="/scrum/sfsix/index" title="Purpose of the SBOK Guide" target="blank"><p style="color:navy">SF6</p></a></li>
		<li><a href="/scrum/sfseven/index" title="Framework of the SBOK Guide" target="blank"><p style="color:navy">SF7e</p></a></li>
		<li><a href="/scrum/sfeight/index" title="How to use the SBOK Guide" target="blank"><p style="color:navy">SF8</p></a></li>
		<li><a href="/scrum/sfnine/index" title="Scrum Principles" target="blank"><p style="color:navy">SF9</p></a></li>
		<li><a href="/scrum/sften/index" title="Scrum Aspects" target="blank"><p style="color:navy">SF10</p></a></li>
		<li><a href="/scrum/sfeleven/index" title="Scrum Processes" target="blank"><p style="color:navy">SF11</p></a></li>
		<li><a href="/scrum/sftwelve/index" title="Scrum vs Traditional Projet Management" target="blank"><p style="color:navy">SF12</p></a></li>
		<li><a href="/scrum/sfthirteen/index" title="Introduction to Scrum Principles" target="blank"><p style="color:navy">SF13</p></a></li>
		<li><a href="/scrum/sffourteen/index" title="Roles Guide the Empirical Process Control" target="blank"><p style="color:navy">SF14</p></a></li>
		<li><a href="/scrum/sffifteen/index" title="Self Organization" target="blank"><p style="color:navy">SF15</p></a></li>
		<li><a href="/scrum/sfsixteen/index" title="Collaboration" target="blank"><p style="color:navy">SF16</p></a></li>
		<li><a href="/scrum/sfseventeen/index" title="Value-Based Prioritization" target="blank"><p style="color:navy">SF17</p></a></li>
		<li><a href="/scrum/sfeighteen/index" title="Time-Boxing" target="blank"><p style="color:navy">SF18</p></a></li>
		<li><a href="/scrum/sfnineteen/index" title="Iterative Development" target="blank"><p style="color:navy">SF19</p></a></li>
		<li><a href="/scrum/sftwenty/index" title="Scrum Vs Traditional Project Management" target="blank"><p style="color:navy">SF20</p></a></li>
		
		
	



















	




		

	
		</ul>
		
	
</div>





	

 	 <br><br><br><br><br><br><br>
 	 <br>
 	 <br>
		<br>
	<br>
	</div>
	
		
		

{% endblock %}