{% extends 'wheelbase.html' %}


{% block title %}Scrum{% endblock %}

{% block body %}

<div class="container" align="center">
<br>
<br>
<br>
<br>

<h3>Scrum Master</h3>
<p><a href="index">Back to Scrum Index</a></p>
	 
		<img alt="drivewheel" class="img-fluid" src="http://www.upguitarhill.com/images/drivewheel.png" height="45" width="200"><br><p><em>If wheel spins too fast reload page</em></p><br>

<br>
<br>
<div id="wobble">
		<ul>
				
		<li><a href="/scrum/smone/index" title="Agile Overview" target="blank" target="blank"><p style="color:navy">SM1</p></a></li>
		<li><a href="/scrum/smtwo/index" title="Adaptive Project Management" target="blank"><p style="color:navy">SM2</p></a></li>
		<li><a href="/scrum/smthree/index" title="Agile Manifesto" target="blank"><p style="color:navy">SM3</p></a></li>
		<li><a href="/scrum/smfour/index" title="Agile Principles" target="blank"><p style="color:navy">SM4</p></a></li>
		<li><a href="/scrum/smfive/index" title="What has Changed" target="blank"><p style="color:navy">SM5m</p></a></li>
		<li><a href="/scrum/smsix/index" title="Agile Methods" target="blank"><p style="color:navy">SM6</p></a></li>
		<li><a href="/scrum/smseven/index" title="Scrum Overview" target="blank"><p style="color:navy">SM7e</p></a></li>
		<li><a href="/scrum/smeight/index" title="Scrum Principles" target="blank"><p style="color:navy">SM8</p></a></li>
		<li><a href="/scrum/smnine/index" title="Scrum Aspects" target="blank"><p style="color:navy">SM9</p></a></li>
		<li><a href="/scrum/smten/index" title="Scrum Processes" target="blank"><p style="color:navy">SM10</p></a></li>
		<li><a href="/scrum/smeleven/index" title="Scrum Summary" target="blank"><p style="color:navy">SM11</p></a></li>
		<li><a href="/scrum/smtwelve/index" title="Scrum in 6 minutes" target="blank"><p style="color:navy">SM12</p></a></li>
		<li><a href="/scrum/smthirteen/index" title="Scrum Roles" target="blank"><p style="color:navy">SM13</p></a></li>
		<li><a href="/scrum/smfourteen/index" title="Core role - Product Owner" target="blank"><p style="color:navy">SM14</p></a></li>
		<li><a href="/scrum/smfifteen/index" title="Core role - Scrum Master" target="blank"><p style="color:navy">SM15</p></a></li>
		<li><a href="/scrum/smsixteen/index" title="Core role = Scrum Team" target="blank"><p style="color:navy">SM16</p></a></li>
		<li><a href="/scrum/smseventeen/index" title="Non-core Roles" target="blank"><p style="color:navy">SM17</p></a></li>
		<li><a href="/scrum/smeighteen/index" title="Initiate Phase" target="blank"><p style="color:navy">SM18</p></a></li>
		<li><a href="/scrum/smnineteen/index" title="Plan and Estimate Phase" target="blank"><p style="color:navy">SM19</p></a></li>
		<li><a href="/scrum/smtwenty/index" title="Implement Phase" target="blank"><p style="color:navy">SM20</p></a></li>
		<li><a href="/scrum/smtwentyone/index" title="Review and Retrospect Phase" target="blank"><p style="color:navy">SM21</p></a></li>
		<li><a href="/scrum/smtwentytwo/index" title="Release Phase" target="blank"><p style="color:navy">SM22</p></a></li>
        <li><a href="/scrum/smtwentythree/index" title="Scalability of Scrum" target="blank"><p style="color:navy">SM23</p></a></li>
		<li><a href="/scrum/smtwentyfour/index" title="Scrum in Programs and Portfolios" target="blank"><p style="color:navy">SM24</p></a></li>
		<li><a href="/scrum/smtwentyfive/index" title="Scrum of Scrums (SOS) Meeting" target="blank"><p style="color:navy">SM25</p></a></li>
		<li><a href="/scrum/smtwentysix/index" title="Transition to Scrum" target="blank"><p style="color:navy">SM26</p></a></li>
		<li><a href="/scrum/smtwentyseven/index" title="Mapping Traditional Roles to Scrum" target="blank"><p style="color:navy">SM27</p></a></li>
		<li><a href="/scrum/smtwentyeight/index" title="Maintaining Stakeholder Involvement" target="blank"><p style="color:navy">SM28</p></a></li>
		<li><a href="/scrum/smtwentynine/index" title="Importance of Executive Support" target="blank"><p style="color:navy">SM29</p></a></li>	
		<li><a href="/scrum/smthirty/index" title="Mock Product Development" target="blank"><p style="color:navy">SM30</p></a></li>	

















	




		

	
		</ul>
</div>



	

 	 <br><br><br><br><br><br><br>
 	 <br>
 	 <br>
			<br>
	</div>
	
		

{% endblock %}