{% extends 'simplemedia.html' %}
{% block title %} {% if not current_user %}PMWay{% endif %} {% if current_user %}Scrum Master{% endif %}  {% endblock %}
{% block body %}
{% if current_user %}
<!--NBNBNB This is used to allow able video player to access my Scrum Training videos-->
<!--BODY--> 	<div class="container" align="left">

	<h3 align="left">Scrum Master</h3>


<hr>

<!--<p><a href="/scrumablevidsub/scrumstudy/sfone/index.html" >Bob's code examples.zip</a></p>-->
<!--<p><a href="/homesave/resources/cleancode.zip" >Bob's code examples.zip</a></p>-->

<p><a href="#playlist">PLAYLIST</a></p>

  <div id="player" align="center">
	  <!-- video source and track elements will be populated from playlist -->
		<video id="video1" preload="auto" data-able-player playsinline loop></video>
  </div>
	<div id="playlist">
		<h2><a name="playlist"></a>Playlist</h2>
		<!-- an AblePlayer playlist is any <ul> with class="able-playlist" -->
		<!-- The value of data-player must match the id of the media element -->
		<!-- see documentation for additional details -->
		<ul class="able-playlist" data-player="video1">
		<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smone/index.mp4">
					<!--data-src="/scrumablevidsub/scrumstudy/sfone/index.mp4"> NB the route with a second sub folder!!!-->
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM1: Agile Overview
				</button>
			</li>

					<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwo/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM2: Adaptive Project Management			</button>
			</li>

					<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smthree/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM3: Agile Manifesto 		</button>
			</li>

					<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smfour/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM4: Agile Principles 			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smfive/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM5: What has Changed
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smsix/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM6: Agile Methods
			</button>
			</li>


			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smseven/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM7: Scrum Overview
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smeight/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM8: Scrum Principles
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smnine/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM9: Scrum Aspects			</button>
			</li>


			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smten/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM10: Scrum Processes
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smeleven/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM11: Scrum Summary 		</button>
			</li>

				<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwelve/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM12: Scrum in 6 minutes 			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smthirteen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM13: Scrum Roles
		</button>
			</li>

				<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smfourteen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM14: Core role - Product Owner
 			</button>
			</li>

				<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smfifteen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM15: Core role - Scrum Master
 			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smsixteen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM16: Core role - Scrum Team (The Developers)
 			</button>
			</li>
			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smseventeen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM17: Non-Core
					roles

 			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smeighteen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM18: Initiate Phase

 			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smnineteen/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM19: Plan and Estimate Phase
 			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwenty/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM20: Implement Phase

			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentyone/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM21: Review and Retrospect Phase

			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentytwo/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM22: Release Phase
			</button>
			</li>
			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentythree/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM23: Scalability of Scrum
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentyfour/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM24: Scrum in
					Projects, Programs and Portfolios

			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentyfive/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM25: Scrum of Scrums (SOS) Meeting
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentysix/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM26: Transition to Scrum
			</button>
			</li>
			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentyseven/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM27: Mapping Traditional Roles to Scrum
			</button>
			</li>
			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentyeight/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM28: Maintaining Stakeholder Involvement
			</button>
			</li>
			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smtwentynine/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM29: Importance of Executive Support
			</button>
			</li>

			<li data-poster="../media/wwa.jpg" data-width="480" data-height="360">
				<span class="able-source"
					data-type="video/mp4"
					data-src="/scrumviewablevideo/smthirty/index.mp4">
				</span>
				<button type="button">
					<img src="../media/wwa_mq_thumbnail.jpg" alt="">SM30: Mock Product Development
			</button>
			</li>






























			</ul>
			<br>
			<br>

			</div>


{% else %}


<!--BODY--> 	<div class="container" align="left">

			</div>

{% endif %}
{% endblock %}
