{% extends 'able.html' %}


{% block title %}Scrum Master Certification{% endblock %}

{% block body %}

      <!--{% if current_user %}
    	<img alt="stow logo" height="78" src="http://www.stow.co.za/images/stowsmall.png" width="100">
        <br>Hello {{ current_user.name }}.
    {% else %}{% endif %}-->




<h3 style="text-align:center" class="seacolor" ><!--Container Selector--></h3><br>
<br>
<br>
<div class="container">
<h3>Scrum Master Certification</h3>
<div>
		<ul>

		<li><a href="/scrum/smone/index" title="Agile Overview" ><p style="color:navy">SM1: Agile Overview
		(2:08)</p></a></li>
		<li><a href="/scrum/smtwo/index" title="Adaptive Project Management" ><p style="color:navy">SM2: Adaptive Project Management
		(3:17)</p></a></li>
		<li><a href="/scrum/smthree/index" title="Agile Manifesto" ><p style="color:navy">SM3: Agile Manifesto
		(3:37)</p></a></li>
		<li><a href="/scrum/smfour/index" title="Agile Principles" ><p style="color:navy">SM4: Agile Principles
		(4:08)</p></a></li>
		<li><a href="/scrum/smfive/index" title="What has Changed" ><p style="color:navy">SM5: What has Changed
		(3:14)</p></a></li>
		<li><a href="/scrum/smsix/index" title="Agile Methods" ><p style="color:navy">SM6: Agile Methods
		(8:30)</p></a></li>
		<li><a href="/scrum/smseven/index" title="Scrum Overview" ><p style="color:navy">SM7: Scrum Overview
		(3:16)</p></a></li>
		<li><a href="/scrum/smeight/index" title="Scrum Principles" ><p style="color:navy">SM8: Scrum Principles
		(3:19)</p></a></li>
		<li><a href="/scrum/smnine/index" title="Scrum Aspects" ><p style="color:navy">SM9: Scrum Aspects
		(12:56)</p></a></li>
		<li><a href="/scrum/smten/index" title="Scrum Processes" ><p style="color:navy">SM10: Scrum Processes
		(14:01)</p></a></li>
		<li><a href="/scrum/smeleven/index" title="Scrum Summary" ><p style="color:navy">SM11: Scrum Summary
		(6:59)</p></a></li>
		<li><a href="/scrum/smtwelve/index" title="Scrum in 6 minutes" ><p style="color:navy">SM12: Scrum in 6 minutes
		(5:48)</p></a></li>
		<li><a href="/scrum/smthirteen/index" title="Scrum Roles" ><p style="color:navy">SM13: Scrum Roles
		(1:09)</p></a></li>
		<li><a href="/scrum/smfourteen/index" title="Core role - Product Owner" ><p style="color:navy">SM14: Core role - Product Owner
		(3:29)</p></a></li>
		<li><a href="/scrum/smfifteen/index" title="Core role - Scrum Master" ><p style="color:navy">SM15: Core role - Scrum Master
		(2:42)</p></a></li>
		<li><a href="/scrum/smsixteen/index" title="Core role = Scrum Team" ><p style="color:navy">SM16: Core role
		- Scrum Team
		(4:07)</p></a></li>
		<li><a href="/scrum/smseventeen/index" title="Non-core Roles" ><p style="color:navy">SM17: Non-core Roles
		(3:17)</p></a></li>
		<li><a href="/scrum/smeighteen/index" title="Initiate Phase" ><p style="color:navy">SM18: Initiate Phase
		(21:47)</p></a></li>
		<li><a href="/scrum/smnineteen/index" title="Plan and Estimate Phase" ><p style="color:navy">SM19: Plan and Estimate Phase
		(27:25)</p></a></li>
		<li><a href="/scrum/smtwenty/index" title="Implement Phase" ><p style="color:navy">SM20: Implement Phase
		(24:50)</p></a></li>
		<li><a href="/scrum/smtwentyone/index" title="Review and Retrospect Phase" ><p style="color:navy">SM21: Review and Retrospect Phase
		(15:35)</p></a></li>
		<li><a href="/scrum/smtwentytwo/index" title="Release Phase" ><p style="color:navy">SM22: Release Phase
		(11:09)</p></a></li>
        <li><a href="/scrum/smtwentythree/index" title="Scalability of Scrum" ><p style="color:navy">SM23: Scalability of Scrum
		(2:45)</p></a></li>
		<li><a href="/scrum/smtwentyfour/index" title="Scrum in Programs and Portfolios" ><p style="color:navy">SM24: Scrum in Programs and Portfolios
		(11:03)</p></a></li>
		<li><a href="/scrum/smtwentyfive/index" title="Scrum of Scrums (SOS) Meeting" ><p style="color:navy">SM25: Scrum of Scrums (SOS) Meeting
		(2:37)</p></a></li>
		<li><a href="/scrum/smtwentysix/index" title="Transition to Scrum" ><p style="color:navy">SM26: Transition to Scrum
		(4:11)</p></a></li>
		<li><a href="/scrum/smtwentyseven/index" title="Mapping Traditional Roles to Scrum" ><p style="color:navy">SM27: Mapping Traditional Roles to Scrum
		(3:36)</p></a></li>
		<li><a href="/scrum/smtwentyeight/index" title="Maintaining Stakeholder Involvement" ><p style="color:navy">SM28: Maintaining Stakeholder Involvement
		(1:14)</p></a></li>
		<li><a href="/scrum/smtwentynine/index" title="Importance of Executive Support" ><p style="color:navy">SM29: Importance of Executive Support
		(2:40)</p></a></li>
		<li><a href="/scrum/smthirty/index" title="Mock Product Development" ><p style="color:navy">SM30: Mock Product Development
		(15:15)</p></a></li>

























		</ul>
			<p><a href="/scrummedia/artofscrum" >Click here</a> for the awesome book about scrum (The Art of Scrum) by its founder:  Jess Sutherland.</p>
</div>

</div>






 	 <br><br><br><br><br><br>



{% endblock %}
