{% extends 'wheelbase.html' %}


{% block title %}Scrum{% endblock %}

{% block body %}

      <!--{% if current_user %}
    	<img alt="stow logo" height="78" src="http://www.stow.co.za/images/stowsmall.png" width="100">
        <br>Hello {{ current_user.name }}.
    {% else %}{% endif %}-->
<div class="container" align="center">
<br>
<br>
<br>
<br>
<h3>Scrum Product Owner</h3>
<p><a href="index">Back to Scrum Index</a></p>
	 
		<img alt="drivewheel" class="img-fluid" src="http://www.upguitarhill.com/images/drivewheel.png" height="45" width="200"><br><p><em>If wheel spins too fast reload page</em></p><br>

<br>
<br>
<div id="wobble">
		<ul>
		

 		<li><a href="/scrum/spoone/index" title="What is Agile?  Why use Agile" target="blank" target="blank"><p style="color:navy">PO1</p></a></li>
		<li><a href="/scrum/spotwo/index" title="The Agile Manifesto" target="blank"><p style="color:navy">PO2</p></a></li>
		<li><a href="/scrum/spothree/index" title="Principles of the Agile Manifesto" target="blank"><p style="color:navy">PO3</p></a></li>
		<li><a href="/scrum/spofour/index" title="What has Changed" target="blank"><p style="color:navy">PO4</p></a></li>
		<li><a href="/scrum/spofive/index" title="POC Agile Methods" target="blank"><p style="color:navy">PO5m</p></a></li>
		<li><a href="/scrum/sposix/index" title="SPOC Scrum Principles" target="blank"><p style="color:navy">PO6</p></a></li>
		<li><a href="/scrum/sposeven/index" title="Scrum Characteristics" target="blank"><p style="color:navy">PO7e</p></a></li>
		<li><a href="/scrum/spoeight/index" title="Advantages of Scrum" target="blank"><p style="color:navy">PO8</p></a></li>
		<li><a href="/scrum/sponine/index" title="SPOC Scrum Summary" target="blank"><p style="color:navy">PO9</p></a></li>
		<li><a href="/scrum/spoten/index" title="The Product Owner" target="blank"><p style="color:navy">PO10</p></a></li>
		<li><a href="/scrum/spoeleven/index" title="The Scrum Team" target="blank"><p style="color:navy">PO11</p></a></li>
		<li><a href="/scrum/spotwelve/index" title="The Scrum Master" target="blank"><p style="color:navy">PO12</p></a></li>
		<li><a href="/scrum/spothirteen/index" title="Scrum Flow" target="blank"><p style="color:navy">PO13</p></a></li>
		<li><a href="/scrum/spofourteen/index" title="Requirements in Scrum and Prioritizing the Product Backlog" target="blank"><p style="color:navy">PO14</p></a></li>
		<li><a href="/scrum/spofifteen/index" title="Adaptive Project Management and Scrum Planning" target="blank"><p style="color:navy">PO15</p></a></li>
		<li><a href="/scrum/sposixteen/index" title="Acceptance Criteria/Done Criteria/Estimation" target="blank"><p style="color:navy">PO16</p></a></li>
		<li><a href="/scrum/sposeventeen/index" title="Importance of Value" target="blank"><p style="color:navy">PO17</p></a></li>
		<li><a href="/scrum/spoeighteen/index" title="Risk Burndown graphics/Risk-Adjusted Backlog" target="blank"><p style="color:navy">PO18</p></a></li>
		<li><a href="/scrum/sponineteen/index" title="Scrum Board" target="blank"><p style="color:navy">PO19</p></a></li>
		<li><a href="/scrum/spotwenty/index" title="Sprints" target="blank"><p style="color:navy">PO20</p></a></li>
		<li><a href="/scrum/spotwentyone/index" title="Sprint Planning Meeting" target="blank"><p style="color:navy">PO21</p></a></li>
		<li><a href="/scrum/spotwentytwo/index" title="Product Owners role in Sprint Planning Meeting" target="blank"><p style="color:navy">PO22</p></a></li>
        <li><a href="/scrum/spotwentythree/index" title="Task Estimation" target="blank"><p style="color:navy">PO23</p></a></li>
		<li><a href="/scrum/spotwentyfour/index" title="The Sprint Backlog" target="blank"><p style="color:navy">PO24</p></a></li>
		<li><a href="/scrum/spotwentyfive/index" title="Daily Stand-up Meeting" target="blank"><p style="color:navy">PO25</p></a></li>
		<li><a href="/scrum/spotwentysix/index" title="Sprint Review Meeting Overview" target="blank"><p style="color:navy">PO26</p></a></li>
		<li><a href="/scrum/spotwentyseven/index" title="Sprint Retrospective Meeting" target="blank"><p style="color:navy">PO27</p></a></li>
		<li><a href="/scrum/spotwentyeight/index" title="Product Backlog Grooming/Product Backlog Grooming Overview" target="blank"><p style="color:navy">PO28</p></a></li>
		<li><a href="/scrum/spotwentynine/index" title="The Chief Product Owner   " target="blank"><p style="color:navy">PO29</p></a></li>	
		<li><a href="/scrum/spothirty/index" title="Distributed Teams in Scrum" target="blank"><p style="color:navy">PO30</p></a></li>	
		























	




		

	
		</ul>
</div>



	

 	 <br><br><br><br><br><br><br>
 	 <br>
 	 <br>
			<br>
	<br>
	</div>
	
			
		

{% endblock %}