{% extends 'basepmboksix.html' %}
{% block title %} {% if not current_user %}PMWay{% endif %} {% if current_user %}9.3{% endif %}  {% endblock %}
{% block body %}
{% if current_user %}
<!--BODY-->
<!--BODY-- including div class container down to final div -->



<div class="container">

	<!--This is where the main stuff goes--->
	<!--HERE <h3>Develop Project Management Plan</h3>
	<h5>PG Planning, KA Integration, #4.2</h5><hr />  NB TAKE OUT SLASH-->
	<h3>Acquire Resources</h3>
	<h5>EG Executing, KA Resources, #9.3</h5><hr>










				<script language="javascript" type="text/javascript">
                    //<![CDATA[

                    if (window.print) {
                    document.write('<form><input type=button name=print value="Print out this page" onClick="window.print()"><\/form>');
                    }
                    //]]>
                    </script>

	<div align="center">

		<map id="imgmap0" name="imgmap0">
	<area alt="" coords="35, 5, 75, 24" href="/" shape="rect" title="index">
	<area alt="" coords="0, 14, 36, 58" href="/pmboksix/nineone" shape="rect" title="left"> <!--HERELEFT-->
	<area alt="" coords="38, 24, 72, 51" href="/pmboksix/eighttwo" shape="rect" title="up"> <!--HEREUP-->
	<area coords="76, 17, 109, 58" href="/pmboksix/ninesix" shape="rect" title="right"> <!--HERERIGHT-->
	<area coords="39, 52, 71, 81" href="/pmboksix/ninefour" shape="rect" title="down"> <!--HEREDOWN-->
	</map>


<img class="img-fluid" alt="" height="82" src="/images/menulrdindex.png" width="111" style="float: left" usemap="#imgmap0"><br>


	<!--HERE NB WHOLE IMAGE TAG--><p class="ctr"><img class="img-fluid" alt="" height="1074" src="/images/ver69point3.png" width="842" usemap="#imgmap2"></p><!--HERE-->

	<br><br>

	<p class="ctr">Inputs, Tools and Techniques, and Outputs (ITTO's) as a dashboard to the PMBOK
	version 6 guide.<br><!--HERE NB PAGE IN WORDS--><a href="/pmboksixmanual/view/ninethree.pdf" >
	<!--HERE--><img class="img-fluid" alt="" height="1054" src="http://www.pmway.co.za/processesdash/imagesv6/93.png" width="626" ></a><br><br >
		ITTO's as an image from the PMBOK version 6 guide.<br>
	<!--HERE NB WHOLE IMAGE TAG--><img class="img-fluid" src="/images/mouseover.png" onclick="this.src='/images/93ittos.png'" ondblclick="this.src='/images/mouseover.png'">
<br><br>


	<!--HERE NB WHOLE IMAGE TAG--><img class="img-fluid" src="/images/mouseover.png" onclick="this.src='/images/93flow.png'" ondblclick="this.src='/images/mouseover.png'"><br>



This Process Data Flow diagram from the PMBOK version 6 guide.</p>

<br>
<br>
<script language="javascript">
 <!--
 var today = new date();
 document.write(today);
 //-->
 </script>
<a name="topofbox99"></a>

		<section class="round-border">
		<h5><button href="#collapse99" class="nav-toggle">Show</button>&nbsp;Tailoring notes:</h5>
		<div id="collapse99" style="display:none">





		<textarea rows="100" cols="170" style="float:left">
<h3>Tailoring Notes for the Project Management Process being tailored:  I.e. The Process / Input / Tool / Technique / Output or etc.'s name here.</h3>
	<p>Use this Notes Section to enter any tailoring information you have considered with regard to this process.<br>I.e. tailoring is how you have simplified, or left out something in order to run the project faster.  Obviously this must not jeopardize the project integrity or place it under risk.  Risks and Issues (Risks happening) can be used to monitor the effect of tailoring on the project.  I.e. this operates like a warning system (if Issue is picked up), which can then evolve into a set of TAsks to minimize or handle the Issue / Risk.</p>

<p>Use the print button at the top to print this to hard copy or pdf.</p>	</textarea>
<div class="left"><a href="#topofbox99"><span class="smltxt">Return to top of pop open box</span></a></div></div></section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	</div>






<!--ENDBODY-->
    {% else %}


    {% endif %}


{% endblock %}
